{% extends "zato/index.html" %}

{% block html_title %}File transfer{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
    {% if items %}
    <style type="text/css">
        .ui-dialog-titlebar {
            margin-bottom:-4px !important;
        }
    </style>
    {% endif %}
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/channel/file-transfer.js"></script>

    <script>
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',

            {% comment %} 1 {% endcomment %}
            'name',
            '_is_active',
            '_source_html',

            {% comment %} 2 {% endcomment %}
            '_recipient',
            'pickup_from',

            {% comment %} 3 {% endcomment %}
            'move_processed_to',
            '_edit',
            '_delete',

            {% comment %} 4 {% endcomment %}
            'id',
            'is_active',
            'service_list',

            {% comment %} 5 {% endcomment %}
            'topic_list',
            'read_on_pickup',

            {% comment %} 6 {% endcomment %}
            'parse_on_pickup',
            'parse_with',
            'delete_after_pickup',

            {% comment %} 7 {% endcomment %}
            'is_internal',
            'source_type',
            'ftp_source_id',

            {% comment %} 8 {% endcomment %}
            'sftp_source_id',
            'file_patterns',
            'scheduler_job_id',
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">File transfer</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% with has_generic="1" generic_type="channel-file-transfer" %}
    {% include "zato/search-form.html" with page_prompt="Show channels"%}
{% endwith %}


    {% if cluster_id %}
        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.channel.file_transfer.create()">Create a new channel</a>
        </div>


        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 1 {% endcomment %}
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Source</a></th>

                        {% comment %} 2 {% endcomment %}
                        <th><a href="#">RCP</a></th>
                        <th><a href="#">From</a></th>

                        {% comment %} 3 {% endcomment %}
                        <th><a href="#">To</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 4 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 5 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 6 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 7 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 8 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>

                        {% comment %} 1 {% endcomment %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.source_html }}</td>

                        {% comment %} 2 {% endcomment %}
                        <td>
                            {% if item.service_list %}
                                <a href="{% url "service-overview" item.service_list %}?cluster={{ cluster_id }}">{{ item.service_list }}</a>
                            {% else %}
                                <span class="form_hint">---</span>
                            {% endif %}
                        </td>
                        <td>{{ item.pickup_from }}</td>

                        {% comment %} 3 {% endcomment %}
                        <td>{{ item.move_processed_to }}</td>
                        <td><a href="javascript:$.fn.zato.channel.file_transfer.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.channel.file_transfer.delete_('{{ item.id }}')">Delete</a></td>

                        {% comment %} 4 {% endcomment %}
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.service_list }}</td>

                        {% comment %} 5 {% endcomment %}
                        <td class='ignore'>{{ item.move_processed_to }}</td>
                        <td class='ignore'>{{ item.read_on_pickup }}</td>

                        {% comment %} 6 {% endcomment %}
                        <td class='ignore'>{{ item.parse_on_pickup }}</td>
                        <td class='ignore'>{{ item.parse_with }}</td>
                        <td class='ignore'>{{ item.delete_after_pickup }}</td>

                        {% comment %} 7 {% endcomment %}
                        <td class='ignore'>{{ item.is_internal }}</td>
                        <td class='ignore'>{{ item.source_type }}</td>
                        <td class='ignore'>{{ item.ftp_source_id }}</td>

                        {% comment %} 8 {% endcomment %}
                        <td class='ignore'>{{ item.sftp_source_id }}</td>
                        <td class='ignore'>{{ item.file_patterns }}</td>
                        <td class='ignore'>{{ item.scheduler_job_id }}</td>

                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='17'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url "channel-file-transfer-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:8%">
                                <label for="id_name">Name</label>
                            </td>
                            <td>{{ create_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                            </td>
                            <td>

                            <label>
                                Active
                                {{ create_form.is_active }}
                            </label>

                            |

                            On pickup:

                            <label>
                            Read
                            {{ create_form.read_on_pickup }}
                            </label>

                            <label>
                            Parse
                            {{ create_form.parse_on_pickup }}
                            </label>

                            |

                            After pickup:
                            <label>
                            Delete
                            {{ create_form.delete_after_pickup }}
                            </label>

                            </td>
                        </tr>


                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_source_type">Source</label>
                            </td>
                            <td>
                                {{ create_form.source_type }}
                                {{ create_form.ftp_source_id }}
                                {{ create_form.sftp_source_id }}
                            </td>
                        </tr>


                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_scheduler_job_id">Schedule</label>
                            </td>
                            <td>
                                {{ create_form.scheduler_job_id }}
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_pickup_from">Dir. from</label>
                            </td>
                            <td>
                                {{ create_form.pickup_from }}
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_file_patterns">Files</label>
                            </td>
                            <td>
                                {{ create_form.file_patterns }}
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_move_processed_to">Dir. to</label>
                            </td>
                            <td>{{ create_form.move_processed_to }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_parse_with">Parse with</label>
                            </td>
                            <td>{{ create_form.parse_with }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_service_list">Service</label>
                            </td>
                            <td>
                                {{ create_form.service_list }}
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_topic_list">Topic</label>
                            </td>
                            <td>{{ create_form.topic_list }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url "channel-file-transfer-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:8%">
                                <label for="id_edit-name">Name</label>
                            </td>
                            <td>{{ edit_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                            </td>
                            <td>

                            <label>
                                Active
                                {{ edit_form.is_active }}
                            </label>

                            |

                            On pickup:

                            <label>
                            Read
                            {{ edit_form.read_on_pickup }}
                            </label>

                            <label>
                            Parse
                            {{ edit_form.parse_on_pickup }}
                            </label>

                            |

                            After pickup:
                            <label>
                            Delete
                            {{ edit_form.delete_after_pickup }}
                            </label>

                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_edit-pickup_from">From</label>
                            </td>
                            <td>
                                {{ edit_form.pickup_from }}
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_edit-file_patterns">Files</label>
                            </td>
                            <td>
                                {{ edit_form.file_patterns }}
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_edit-topic_name">To</label>
                            </td>
                            <td>{{ edit_form.move_processed_to }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_edit-topic_name">Parse with</label>
                            </td>
                            <td>{{ edit_form.parse_with }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_edit-service_list">Service</label>
                            </td>
                            <td>
                                {{ edit_form.service_list }}
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_edit-topic_list">Topic</label>
                            </td>
                            <td>{{ edit_form.topic_list }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>
    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}

