{% extends "zato/index.html" %}

{% block html_title %}Kafka channels{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} Kafka {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/channel/kafka.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'address',
            'topic',
            'group_id',
            'service',
            '_edit',
            '_delete',
            'id',
            'is_active',
            'ssl',
            'ssl_ca_file',
            'ssl_cert_file',
            'ssl_key_file'
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}
        <div id="markup">
            <h2 class="zato">Kafka channels</h2>

{% with has_generic="1" generic_type="channel-kafka" %}
    {% include "zato/search-form.html" with page_prompt="Show channels" %}
{% endwith %}

        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.channel.kafka.create()">Create a new Kafka channel</a> |
            <a href="javascript:$.fn.zato.channel.kafka.import_demo_config()" class="common">Import demo config</a>
        </div>

            <table class="zato-table" id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Address</a></th>
                        <th><a href="#">Topic</a></th>
                        <th><a href="#">Group ID</a></th>
                        <th><a href="#">Service</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.topic }}</td>
                        <td>{{ item.group_id }}</td>
                        <td>{{ item.service }}</td>
                        <td><a href="javascript:$.fn.zato.channel.kafka.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.channel.kafka.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.ssl }}</td>
                        <td class='ignore'>{{ item.ssl_ca_file }}</td>
                        <td class='ignore'>{{ item.ssl_cert_file }}</td>
                        <td class='ignore'>{{ item.ssl_key_file }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='16'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

{% include "zato/paginate/action-panel.html" %}
        </div>

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "channel-kafka-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:14%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ create_form.is_active }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Address</td>
                            <td>{{ create_form.address }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Topic</td>
                            <td>{{ create_form.topic }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Group ID</td>
                            <td>{{ create_form.group_id }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ create_form.service }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">SSL</td>
                            <td>{{ create_form.ssl }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">CA file</td>
                            <td>{{ create_form.ssl_ca_file }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Cert file</td>
                            <td>{{ create_form.ssl_cert_file }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Key file</td>
                            <td>{{ create_form.ssl_key_file }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "channel-kafka-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:14%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ edit_form.is_active }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Address</td>
                            <td>{{ edit_form.address }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Topic</td>
                            <td>{{ edit_form.topic }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Group ID</td>
                            <td>{{ edit_form.group_id }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ edit_form.service }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">SSL</td>
                            <td>{{ edit_form.ssl }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">CA file</td>
                            <td>{{ edit_form.ssl_ca_file }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Cert file</td>
                            <td>{{ edit_form.ssl_cert_file }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Key file</td>
                            <td>{{ edit_form.ssl_key_file }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
