{% extends "zato/index.html" %}

{% block html_title %}MCP channels{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/badge-picker.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/channel/mcp.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'url_path',
            '_services',
            '_security',
            '_edit',
            '_delete',
            'id',
            'is_active'
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}
        <div id="markup">
            <h2 class="zato">MCP channels</h2>

{% with has_generic="1" generic_type="channel-mcp" %}
    {% include "zato/search-form.html" with page_prompt="Show channels" %}
{% endwith %}

        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.channel.mcp.create()">Create a new MCP channel</a>
        </div>

            <table class="zato-table" id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th style="text-align:center"><a href="#">Active</a></th>
                        <th><a href="#">URL path</a></th>
                        <th style="text-align:center"><a href="#">Services</a></th>
                        <th style="text-align:center"><a href="#">Security</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td class="text-center">{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.url_path }}</td>
                        <td class="text-center" id="service_count_{{ item.id }}">{{ item.services|length }}</td>
                        <td class="text-center" id="security_count_{{ item.id }}">{{ item.security_member_count }}</td>
                        <td><a href="javascript:$.fn.zato.channel.mcp.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.channel.mcp.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='11'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

{% include "zato/paginate/action-panel.html" %}
        </div>

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "channel-mcp-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:14%"><label for="id_name">Name</label></td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle"><label for="id_is_active">Active</label></td>
                            <td>{{ create_form.is_active }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle"><label for="id_url_path">URL path</label></td>
                            <td>{{ create_form.url_path }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;padding-top:8px">
                                <label>Services</label>
                            </td>
                            <td>
                                <div class="badge-picker-filter" id="badge-filter-create">
                                    <input type="text" id="badge-filter-text-create" placeholder="Filter services..." />
                                    <button type="button" class="badge-filter-clear" id="badge-filter-clear-create">Clear</button>
                                </div>
                                <div class="badge-picker" id="badge-picker-create">
                                    <div class="badge-zone" id="badge-zone-available-create">
                                        <div class="badge-zone-header">Available (<span class="badge-zone-count">0</span>)</div>
                                        <div class="badge-zone-body"></div>
                                    </div>
                                    <div class="badge-picker-resizer"></div>
                                    <div class="badge-zone" id="badge-zone-assigned-create">
                                        <div class="badge-zone-header">Assigned (<span class="badge-zone-count">0</span>)</div>
                                        <div class="badge-zone-body"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;padding-top:8px">
                                <label>Security</label>
                            </td>
                            <td>
                                <div class="badge-picker-filter" id="badge-filter-sec-create">
                                    <input type="text" id="badge-filter-text-sec-create" placeholder="Filter security..." />
                                    <button type="button" class="badge-filter-clear" id="badge-filter-clear-sec-create">Clear</button>
                                </div>
                                <div class="badge-picker" id="badge-picker-sec-create">
                                    <div class="badge-zone" id="badge-zone-available-sec-create">
                                        <div class="badge-zone-header">Available (<span class="badge-zone-count">0</span>)</div>
                                        <div class="badge-zone-body"></div>
                                    </div>
                                    <div class="badge-picker-resizer"></div>
                                    <div class="badge-zone" id="badge-zone-assigned-sec-create">
                                        <div class="badge-zone-header">Assigned (<span class="badge-zone-count">0</span>)</div>
                                        <div class="badge-zone-body"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "channel-mcp-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:14%"><label for="id_edit-name">Name</label></td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle"><label for="id_edit-is_active">Active</label></td>
                            <td>{{ edit_form.is_active }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle"><label for="id_edit-url_path">URL path</label></td>
                            <td>{{ edit_form.url_path }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;padding-top:8px">
                                <label>Services</label>
                            </td>
                            <td>
                                <div class="badge-picker-filter" id="badge-filter-edit">
                                    <input type="text" id="badge-filter-text-edit" placeholder="Filter services..." />
                                    <button type="button" class="badge-filter-clear" id="badge-filter-clear-edit">Clear</button>
                                </div>
                                <div class="badge-picker" id="badge-picker-edit">
                                    <div class="badge-zone" id="badge-zone-available-edit">
                                        <div class="badge-zone-header">Available (<span class="badge-zone-count">0</span>)</div>
                                        <div class="badge-zone-body"></div>
                                    </div>
                                    <div class="badge-picker-resizer"></div>
                                    <div class="badge-zone" id="badge-zone-assigned-edit">
                                        <div class="badge-zone-header">Assigned (<span class="badge-zone-count">0</span>)</div>
                                        <div class="badge-zone-body"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;padding-top:8px">
                                <label>Security</label>
                            </td>
                            <td>
                                <div class="badge-picker-filter" id="badge-filter-sec-edit">
                                    <input type="text" id="badge-filter-text-sec-edit" placeholder="Filter security..." />
                                    <button type="button" class="badge-filter-clear" id="badge-filter-clear-sec-edit">Clear</button>
                                </div>
                                <div class="badge-picker" id="badge-picker-sec-edit">
                                    <div class="badge-zone" id="badge-zone-available-sec-edit">
                                        <div class="badge-zone-header">Available (<span class="badge-zone-count">0</span>)</div>
                                        <div class="badge-zone-body"></div>
                                    </div>
                                    <div class="badge-picker-resizer"></div>
                                    <div class="badge-zone" id="badge-zone-assigned-sec-edit">
                                        <div class="badge-zone-header">Assigned (<span class="badge-zone-count">0</span>)</div>
                                        <div class="badge-zone-body"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

    {% endif %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
