{% extends "zato/index.html" %}
{% load extras %}

{% block html_title %}SMS channels{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tippy.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/how-it-works.css">
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/tabs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/form-tabs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/popup.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms-chips.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms-resize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/decision-lines.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/summary-link.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/dropdown-menu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/alerts-tab.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/delivery-tab.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/tokens.css">
    <link rel="stylesheet" type="text/css" href="/static/css/channel/sms.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/tippy/popperjs.core.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/tippy/tippy.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/how-it-works.js"></script>

    {% comment %} Form tabs and the Delivery tab {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/tabs.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/form-tabs.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/popup.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/core.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/popover.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/fields.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/resize.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/chips.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/decision-lines.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/select.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/select-placement.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/delivery-tab.js"></script>
    {{ delivery_tab_config|json_script:"delivery-tab-config" }}
    {{ sms_config|json_script:"channel-sms-config" }}

    {% comment %} SMS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/channel/sms.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',

            {% comment %} 1 {% endcomment %}
            'name',
            '_is_active',
            'outconn_name',
            'service',
            '_receive_mode',
            '_webhook_url',

            {% comment %} 2 {% endcomment %}
            '_delivery',
            '_edit',
            '_delete',

            {% comment %} 3 {% endcomment %}
            'id',
            'is_active',
            'receive_mode',
            'scheduler_run_every',
            'scheduler_run_unit',

            {% comment %} 4 - the Delivery tab {% endcomment %}
        ].concat($.fn.zato.delivery_tab.columns());
    }
    </script>

{% endblock %}

{% block "content" %}
{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}
        <div id="markup">
            <h2 class="zato">{% include "zato/include/header-brand.html" with badge="SMS" %}SMS channels</h2>

{% with has_generic="1" generic_type="channel-sms" %}
    {% include "zato/search-form.html" with page_prompt="Show channels" %}
{% endwith %}

        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.channel.sms.create()">Create a new SMS channel</a>
        </div>

            <table class="zato-table" id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 1 {% endcomment %}
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Outgoing connection</a></th>
                        <th><a href="#">Service</a></th>
                        <th><a href="#">Receive mode</a></th>
                        <th><a href="#">Webhook URL</a></th>

                        {% comment %} 2 {% endcomment %}
                        <th>&nbsp;</th> {% comment %} _delivery {% endcomment %}
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 3 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 4 - the Delivery tab {% endcomment %}
                        {% include "zato/include/delivery-tab-headers.html" %}

                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>

                        {% comment %} 1 {% endcomment %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td><a href="{% url "out-sms" %}?cluster={{ cluster_id }}&amp;type_=outconn-sms&amp;query={{ item.outconn_name }}">{{ item.outconn_name }}</a></td>
                        <td><a href="{% url "service-ide" "service" item.service %}?cluster={{ cluster_id }}">{{ item.service }}</a></td>
                        <td>{{ item.receive_mode_human }}</td>
                        <td class="channel-sms-webhook-url-cell">{% if item.receive_mode == 'webhook' %}{{ item.webhook_url }}{% else %}<span class="form_hint">---</span>{% endif %}</td>

                        {% comment %} 2 {% endcomment %}
                        {% include "zato/include/channel-dlq-link.html" with conn_type="sms-channel" %}
                        <td><a href="javascript:$.fn.zato.channel.sms.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.channel.sms.delete_('{{ item.id }}')">Delete</a></td>

                        {% comment %} 3 {% endcomment %}
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.receive_mode }}</td>
                        <td class='ignore'>{{ item.scheduler_run_every }}</td>
                        <td class='ignore'>{{ item.scheduler_run_unit }}</td>

                        {% comment %} 4 - the Delivery tab {% endcomment %}
                        {% include "zato/include/delivery-tab-cells.html" %}

                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='28'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

{% include "zato/paginate/action-panel.html" %}
        </div>

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "channel-sms-create" %}" method="post" id="create-form">

                    <div class="dashboard-tabs" role="tablist" aria-label="Channel settings">
                        <button type="button" class="dashboard-tab dashboard-tab-active" data-tab="config" role="tab" aria-selected="true">Config</button>
                        {% include "zato/include/delivery-tab-button.html" %}
                    </div>

                    <div class="dashboard-tab-panel" id="channel-sms-create-tab-panel-config" role="tabpanel">
                    <table class="form-data">
                        <tr>
                            <td class="form-data-label"><label for="id_name">Name</label></td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="id_is_active">
                                    Active
                                    {{ create_form.is_active }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_outconn_name">Outgoing connection</label></td>
                            <td>{{ create_form.outconn_name }}</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_service">Service</label></td>
                            <td>{{ create_form.service }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" class="form-data-section">Receiving</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_receive_mode">Receive mode</label></td>
                            <td>{{ create_form.receive_mode }}</td>
                        </tr>
                        <tr class="create-polling-block">
                            <td class="form-data-label"><label for="id_scheduler_run_every">Run every</label></td>
                            <td>{{ create_form.scheduler_run_every }} {{ create_form.scheduler_run_unit }}</td>
                        </tr>
                        <tr class="create-webhook-block">
                            <td class="form-data-label"><label for="id_webhook_url">Webhook URL</label></td>
                            <td>{{ create_form.webhook_url }}</td>
                        </tr>
                    </table>
                    </div>

                    {% include "zato/include/delivery-tab.html" with panel_id="channel-sms-create-tab-panel-delivery" form=create_form %}

                    <table class="form-data">
                        <tr>
                            <td colspan="2" class="form-actions">
                                <span class="how-it-works-badge" id="create-how-it-works">How does it work?</span>
                                <span class="form-buttons">
                                    <input type="submit" value="OK" />
                                    <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "channel-sms-edit" %}" method="post" id="edit-form">

                    <div class="dashboard-tabs" role="tablist" aria-label="Channel settings">
                        <button type="button" class="dashboard-tab dashboard-tab-active" data-tab="config" role="tab" aria-selected="true">Config</button>
                        {% include "zato/include/delivery-tab-button.html" %}
                    </div>

                    <div class="dashboard-tab-panel" id="channel-sms-edit-tab-panel-config" role="tabpanel">
                    <table class="form-data">
                        <tr>
                            <td class="form-data-label"><label for="id_edit-name">Name</label></td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="id_edit-is_active">
                                    Active
                                    {{ edit_form.is_active }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_edit-outconn_name">Outgoing connection</label></td>
                            <td>{{ edit_form.outconn_name }}</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_edit-service">Service</label></td>
                            <td>{{ edit_form.service }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" class="form-data-section">Receiving</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_edit-receive_mode">Receive mode</label></td>
                            <td>{{ edit_form.receive_mode }}</td>
                        </tr>
                        <tr class="edit-polling-block">
                            <td class="form-data-label"><label for="id_edit-scheduler_run_every">Run every</label></td>
                            <td>{{ edit_form.scheduler_run_every }} {{ edit_form.scheduler_run_unit }}</td>
                        </tr>
                        <tr class="edit-webhook-block">
                            <td class="form-data-label"><label for="id_edit-webhook_url">Webhook URL</label></td>
                            <td>{{ edit_form.webhook_url }}</td>
                        </tr>
                    </table>
                    </div>

                    {% include "zato/include/delivery-tab.html" with panel_id="channel-sms-edit-tab-panel-delivery" form=edit_form %}

                    <table class="form-data">
                        <tr>
                            <td colspan="2" class="form-actions">
                                <span class="how-it-works-badge" id="edit-how-it-works">How does it work?</span>
                                <span class="form-buttons">
                                    <input type="submit" value="OK" />
                                    <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
