{% extends "zato/index.html" %}

{% block html_title %}WebSocket channels{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} HTTP Basic Auth {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/channel/wsx.js"></script>


    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [

            {% comment %} 1 {% endcomment %}
            '_numbering',
            '_selection',

            {% comment %} 2 {% endcomment %}
            'name',
            '_is_active',
            'address',

            {% comment %} 3 {% endcomment %}
            'service_name',
            '_connections',
            '_edit',

            {% comment %} 4 {% endcomment %}
            '_delete',
            'id',
            'data_format',

            {% comment %} 5 {% endcomment %}
            'is_active',
            'security_id',
            'new_token_wait_time',

            {% comment %} 6 {% endcomment %}
            'token_ttl',

            {% comment %} 7 {% endcomment %}
            'is_audit_log_sent_active',
            'is_audit_log_received_active',
            'max_len_messages_sent',

            {% comment %} 8 {% endcomment %}
            'max_len_messages_received',
            'max_bytes_per_message_sent',
            'max_bytes_per_message_received',

            {% comment %} 9 {% endcomment %}
            'pings_missed_threshold',
            'ping_interval',

        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">WebSocket channels</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% include "zato/search-form.html" with page_prompt="Show channels"%}


    {% if cluster_id %}
        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.channel.wsx.create()">Create a new WebSocket channel</a>
        </div>


        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>

                        {% comment %} 1 {% endcomment %}
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 2 {% endcomment %}
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Address</a></th>

                        {% comment %} 3 {% endcomment %}
                        <th><a href="#">Service</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 4 {% endcomment %}
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 5 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 6 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 7 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 8 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 9 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>

                        {% comment %} 1 {% endcomment %}
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>

                        {% comment %} 2 {% endcomment %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.address }}</td>

                        {% comment %} 3 {% endcomment %}
                        <td><a href="{% url "service-overview" item.service_name %}?cluster={{ cluster_id }}">{{ item.service_name }}</a></td>
                        <td><a href="{% url "channel-web-socket-connection-list" item.id %}?cluster={{ cluster_id }}&amp;channel_name={{ item.name }}">Connections</a></td>
                        <td><a href="javascript:$.fn.zato.channel.wsx.edit('{{ item.id }}')">Edit</a></td>

                        {% comment %} 4 {% endcomment %}
                        <td><a href="javascript:$.fn.zato.channel.wsx.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.data_format }}</td>

                        {% comment %} 5 {% endcomment %}
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.security_id }}</td>
                        <td class='ignore'>{{ item.new_token_wait_time }}</td>

                        {% comment %} 6 {% endcomment %}
                        <td class='ignore'>{{ item.token_ttl }}</td>

                        {% comment %} 7 {% endcomment %}
                        <td class='ignore'>{{ item.is_audit_log_sent_active }}</td>
                        <td class='ignore'>{{ item.is_audit_log_received_active }}</td>
                        <td class='ignore'>{{ item.max_len_messages_sent|default:audit_max_len_messages }}</td>

                        {% comment %} 8 {% endcomment %}
                        <td class='ignore'>{{ item.max_len_messages_received|default:audit_max_len_messages }}</td>
                        <td class='ignore'>{{ item.max_bytes_per_message_sent|default:audit_max_data_stored_per_message }}</td>
                        <td class='ignore'>{{ item.max_bytes_per_message_received|default:audit_max_data_stored_per_message }}</td>

                        {% comment %} 9 {% endcomment %}
                        <td class='ignore'>{{ item.pings_missed_threshold|default:pings_missed_threshold }}</td>
                        <td class='ignore'>{{ item.ping_interval|default:ping_interval }}</td>

                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='20'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "channel-web-socket-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:18%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ create_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Address</td>
                            <td>{{ create_form.address }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ create_form.service_name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Security<br/>definition</td>
                            <td>{{ create_form.security_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">New token<br/>wait time</td>
                            <td>{{ create_form.new_token_wait_time }}
                            <span class="form_hint">(in seconds)</span>
                            |

                            Token TTL
                            {{ create_form.token_ttl }}
                            <span class="form_hint">(in seconds)</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Ping interval</td>
                            <td>{{ create_form.ping_interval }}
                            <span class="form_hint">(in seconds)</span>
                            |

                            Threshold
                            {{ create_form.pings_missed_threshold }}
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_is_internal" name="is_internal" value="False" />
                    <input type="hidden" id="id_data_format" name="data_format" value="json" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "channel-web-socket-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:18%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ edit_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Address</td>
                            <td>{{ edit_form.address }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ edit_form.service_name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Security<br/>definition</td>
                            <td>{{ edit_form.security_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">New token<br/>wait time</td>
                            <td>{{ edit_form.new_token_wait_time }}
                            <span class="form_hint">(in seconds)</span>
                            |

                            Token TTL
                            {{ edit_form.token_ttl }}
                            <span class="form_hint">(in seconds)</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Ping interval</td>
                            <td>{{ edit_form.ping_interval }}
                            <span class="form_hint">(in seconds)</span>
                            |

                            Threshold
                            {{ edit_form.pings_missed_threshold }}
                            </td>
                        </tr>

                        {% include "zato/include/audit-log/edit.html" %}

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                    <input type="hidden" id="id_edit-is_internal" name="edit-is_internal" value="False" />
                    <input type="hidden" id="id_edit-data_format" name="edit-data_format" value="json" />
                </form>
            </div>
        </div>

    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
