    <div class="prompt">
    <form action="." method="get" id="choose_cluster_form">
        {{ choose_cluster_form.cluster }}

        {% if pattern_hint %}
            {{ choose_cluster_form.name_filter }}
        {% endif %}

        <input type="submit"  style="vertical-align:top" value="{{ page_prompt }}" />
    </form>
    </div>

    {% if choose_cluster_form.zato_auto_submit %}
    <script>
        if(!$(document).getUrlParam('cluster')) {

            {% if pattern_hint %}
                $("#id_name_filter").val("*");
            {% endif %}

            $("#choose_cluster_form").submit();
        }
    </script>
    {% endif %}