{% extends "zato/base.html" %}

{% block html_title %}Hello{% endblock %}


{% block head %}
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.ui.custom.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.formalize.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.bvalidator-yc.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.getUrlParam.js"></script>
    <script type="text/javascript" src="/static/js/underscore-min.js"></script>
    <script type="text/javascript" src="/static/js/stringformat.js"></script>
    <script type="text/javascript" src="/static/mootools/mootools.js"></script>
    <script type="text/javascript" src="/static/superfish/js/superfish.js"></script>

    <script>

    $(document).ready(function(){
        $("ul.sf-menu").superfish();
    });

    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.custom.css">
    <link rel="stylesheet" media="screen" href="/static/css/formalize.css" />
    <link rel="stylesheet" media="screen" href="/static/superfish/css/superfish.css" />
    <link rel="stylesheet" media="screen" href="/static/css/bvalidator.css" />

    {% comment %} Our CSS must come last {% endcomment %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
    {% block extra_css %}{% endblock %}

    {% block extra_js %}
    {% endblock %}

{% endblock %}

{% block body %}
    <div>
        <div id="hd">
            <div id="console-header">&nbsp;<img src="/static/gfx/logo.png" alt="Zato samurai helmet logo" style="vertical-align:bottom"/><span id="logo">Zato</span>
            {% if user.is_authenticated %}
                <span id="logout">
                    <a class="top" href="{% url account-settings-basic %}">My settings</a>
                    <a class="top"  href="{% url logout %}">Log out ({{ user.username }})</a>
                </span>
            {% endif %}
            </div>

            {% if user.is_authenticated %}

            <div id="main-menu">
                <ul class="sf-menu" >
                <li><a href="{% url cluster %}">Clusters</a></li>
                <li><span class="like-a">Services &darr;</span>
                    <ul>
                        <li><a href="{% url service %}?cluster={{ cluster_id|default:'' }}">List services</a></li>
                        <li>
                            <span class="like-a">Patterns &rarr;</span>
                            <ul>
                                <!-- <li class='wide'><a href="?cluster={{ cluster_id|default:'' }}">Fan-out/fan-in</a></li> -->
                                <li class='wide'><a href="{% url pattern-delivery %}?cluster={{ cluster_id|default:'' }}">Guaranteed delivery</a></li>
                                <!-- <li class='wide'><a href="?cluster={{ cluster_id|default:'' }}">List invoke</a></li> -->
                                <!-- <li class='wide'><a href="?cluster={{ cluster_id|default:'' }}">Serialize access</a></li> -->
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><span class="like-a">Security &darr;</span>
                    <ul>
                        <li><a href="{% url security-basic-auth %}?cluster={{ cluster_id|default:'' }}">HTTP Basic Auth</a></li>
                        <li><a href="{% url security-tech-account %}?cluster={{ cluster_id|default:'' }}">Technical accounts</a></li>
                        <li><a href="{% url security-wss %}?cluster={{ cluster_id|default:'' }}">WS-Security</a></li>
                    </ul>
                </li>
                <li><span class="like-a">Connections &darr;</span>
                    <ul>
                        <li>
                            <span class="like-a">Definitions &rarr;</span>
                            <ul>
                                <li class='wide'><a href="{% url def-amqp %}?cluster={{ cluster_id|default:'' }}">AMQP</a></li>
                                <li class='wide'><a href="{% url def-jms-wmq %}?cluster={{ cluster_id|default:'' }}">JMS WebSphere MQ</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="like-a">Channels &rarr;</span>
                            <ul>
                                <li class='wide'><a href="{% url channel-amqp %}?cluster={{ cluster_id|default:'' }}">AMQP</a></li>
                                <li class='wide'><a href="{% url channel-jms-wmq %}?cluster={{ cluster_id|default:'' }}">JMS WebSphere MQ</a></li>
                                <li class='wide'><a href="{% url http-soap %}?cluster={{ cluster_id|default:'' }}&amp;connection=channel&amp;transport=plain_http">Plain HTTP</a></li>
                                <li class='wide'><a href="{% url http-soap %}?cluster={{ cluster_id|default:'' }}&amp;connection=channel&amp;transport=soap">SOAP</a></li>
                                <li class='wide'><a href="{% url channel-zmq %}?cluster={{ cluster_id|default:'' }}">ZeroMQ</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="like-a">Outgoing &rarr;</span>
                            <ul>
                                <li class='wide'><a href="{% url out-amqp %}?cluster={{ cluster_id|default:'' }}">AMQP</a></li>
                                <li class='wide'><a href="{% url out-ftp %}?cluster={{ cluster_id|default:'' }}">FTP</a></li>
                                <li class='wide'><a href="{% url out-jms-wmq %}?cluster={{ cluster_id|default:'' }}">JMS WebSphere MQ</a></li>
                                <li class='wide'><a href="{% url http-soap %}?cluster={{ cluster_id|default:'' }}&amp;connection=outgoing&amp;transport=plain_http">Plain HTTP</a></li>
                                <li class='wide'><a href="{% url http-soap %}?cluster={{ cluster_id|default:'' }}&amp;connection=outgoing&amp;transport=soap">SOAP</a></li>
                                <li class='wide'><a href="{% url out-sql %}?cluster={{ cluster_id|default:'' }}">SQL</a></li>
                                <li class='wide'><a href="{% url out-zmq %}?cluster={{ cluster_id|default:'' }}">ZeroMQ</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><span class="like-a">Key/value DB &darr;</span>
                    <ul>
                        <li><a href="{% url kvdb-data-dict-dictionary %}?cluster={{ cluster_id|default:'' }}">Data dictionaries</a></li>
                        <li><a href="{% url kvdb-remote-command %}?cluster={{ cluster_id|default:'' }}">Remote commands</a></li>
                    </ul>
                </li>
                <li><a href="{% url scheduler %}?cluster={{ cluster_id }}">Scheduler</a></li>
                <li><a href="#">Statistics &darr;</a>
                    <ul>
                    
                        <li>
                            <span class="like-a">Trends &rarr;</span>
                            <ul>
                                <li class='wide'><a href="{% url stats-trends 'last_hour' %}?cluster={{ cluster_id|default:'' }}">Last hour</a></li>
                            </ul>
                        </li>
                    
                        <li>
                            <span class="like-a">Summary &rarr;</span>
                            <ul>
                                <li class='wide'><a href="{% url stats-summary 'today' %}?cluster={{ cluster_id|default:'' }}">Today</a></li>
                                <li class='wide'><a href="{% url stats-summary 'yesterday' %}?cluster={{ cluster_id|default:'' }}">Yesterday</a></li>
                                <li class='wide'><a href="{% url stats-summary 'this_week' %}?cluster={{ cluster_id|default:'' }}">This week</a></li>
                                <li class='wide'><a href="{% url stats-summary 'this_month' %}?cluster={{ cluster_id|default:'' }}">This month</a></li>
                                <li class='wide'><a href="{% url stats-summary 'this_year' %}?cluster={{ cluster_id|default:'' }}">This year</a></li>
                            </ul>
                        </li>
                        
                        
                        <li>

                        <li>
                            <a href="{% url stats-settings %}?cluster={{ cluster_id|default:'' }}">Settings</a>
                        </li>
                        <li>
                            <a href="{% url stats-maintenance %}?cluster={{ cluster_id|default:'' }}">Maintenance</a>
                        </li>
                    </ul>
                </li>
                <!--<li><span class="like-a">Import/export &darr;</span>
                    <ul>
                        <li><a href="#">Import from file</a></li>
                        <li><a href="#">Export selected</a></li>
                    </ul>
                </li>
                -->
                
                </ul>

                <ul class="sf-menu" style="float:right">
                <li><a href="https://zato.io/docs">Docs</a></li>
                <li><a href="https://github.com/zatosource/zato/issues">Suggest a feature</a></li>
                <li><a href="https://zato.io/support">Support</a></li>
                <li><a style="margin-right:5px" href="https://zato.io/docs/project/get-involved.html">Get involved</a></li>

                </ul>
                <br style="clear:left"/>
            </div>
            <div id="cluster_color_div" 
                {% if cluster_color %}
                    style="background-color:#{{ cluster_color }}"
                {% else %}
                    class="hidden"
                {% endif %}
                >&nbsp;</div>
        </div>
        
        {% endif %}

        <div id="bd">
        <div id="yui-main">
            <div class="yui-b">{% block content %}{% endblock %}</div>
        </div>
    </div>
</div>
{% endblock %}
