{% extends "zato/index.html" %}

{% block html_title %}Redis{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/status-message.css">
    <link rel="stylesheet" type="text/css" href="/static/css/invoker.css">
    <link rel="stylesheet" type="text/css" href="/static/css/action-runner.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/how-it-works.css">
    <link rel="stylesheet" type="text/css" href="/static/css/redis.css">
{% endblock %}

{% block "extra_js" %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/how-it-works.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/action-runner.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/redis.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $(document).ready(function() {
        $.fn.zato.redis.init('/zato/redis', {{ config_json|safe }});
    });
    </script>
{% endblock %}

{% block "content" %}

<div id="markup">
<h2 class="zato">Redis</h2>

<div class="redis-container" id="redis">
    <div class="redis-card">

        <div class="redis-row">
            <label class="redis-label" for="redis-host">Host</label>
            <input type="text" id="redis-host" />
        </div>

        <div class="redis-row">
            <label class="redis-label" for="redis-port">Port</label>
            <input type="text" id="redis-port" class="redis-input-short" />
        </div>

        <div class="redis-row">
            <label class="redis-label" for="redis-db">DB number</label>
            <input type="text" id="redis-db" class="redis-input-short" />
        </div>

        <div class="redis-row">
            <label class="redis-label" for="redis-username">Username</label>
            <input type="text" id="redis-username" autocomplete="off" />
        </div>

        <div class="redis-row">
            <label class="redis-label" for="redis-password">Password</label>
            <input type="password" id="redis-password" autocomplete="new-password" />
        </div>

        <div class="redis-row">
            <label class="redis-label" for="redis-ssl">Use SSL/TLS</label>
            <input type="checkbox" id="redis-ssl" {% if config.ssl %}checked{% endif %} />
        </div>

        <div class="redis-row redis-ssl-option{% if not config.ssl %} redis-row-disabled{% endif %}">
            <label class="redis-label" for="redis-ssl-ca-file">SSL CA file</label>
            <input type="text" id="redis-ssl-ca-file" {% if not config.ssl %}disabled{% endif %} />
        </div>

        <div class="redis-row redis-ssl-option{% if not config.ssl %} redis-row-disabled{% endif %}">
            <label class="redis-label" for="redis-ssl-cert-file">SSL certificate file</label>
            <input type="text" id="redis-ssl-cert-file" {% if not config.ssl %}disabled{% endif %} />
        </div>

        <div class="redis-row redis-ssl-option{% if not config.ssl %} redis-row-disabled{% endif %}">
            <label class="redis-label" for="redis-ssl-key-file">SSL key file</label>
            <input type="text" id="redis-ssl-key-file" {% if not config.ssl %}disabled{% endif %} />
        </div>

        <div class="redis-row redis-ssl-option{% if not config.ssl %} redis-row-disabled{% endif %}">
            <label class="redis-label" for="redis-ssl-verify">Verify SSL certificate</label>
            <input type="checkbox" id="redis-ssl-verify" {% if config.ssl_verify %}checked{% endif %} {% if not config.ssl %}disabled{% endif %} />
        </div>

    </div>
</div>

<div class="redis-actions">
    <span class="how-it-works-badge" id="redis-how-it-works">How does it work?</span>
    <span class="redis-save-group">
        <span class="status-message" id="redis-status"></span>
        <a href="javascript:void(0)" class="redis-test-link" onclick="$.fn.zato.redis.test(this)">Test connection</a>
        <input type="submit" value="Save" onclick="$.fn.zato.redis.save()" />
    </span>
</div>

</div>

{% endblock %}
