{% extends "zato/index.html" %}

{% block html_title %}{% block page_title %}Settings{% endblock %}{% endblock %}

{% block "extra_css" %}
    <script type="text/javascript" src="/static/tippy/popperjs.core.js"></script>
    <script type="text/javascript" src="/static/tippy/tippy.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/zato/css/wizard.css">
    <link rel="stylesheet" type="text/css" href="/static/css/driver.css">
    <link rel="stylesheet" type="text/css" href="/static/css/settings.css">
{% block extra_page_css %}{% endblock %}
{% endblock %}

{% block "extra_js" %}
    <link rel="stylesheet" media="screen" href="/static/css/tippy.css" />
    <script type="text/javascript" src="/static/js/driver.js" nonce="{{ CSP_NONCE }}"></script>
    <script type="text/javascript" src="/static/js/settings.js" nonce="{{ CSP_NONCE }}"></script>
{% block extra_page_js %}{% endblock %}
{% endblock %}

{% block "content" %}

<div class="settings-container">
    <div class="settings-panel">
        <div class="settings-content">
            <div class="settings-main">
                {% block left_content %}
                <h3>{% block section_title %}{% endblock %} <img src="/static/gfx/info.svg" class="help-icon" id="{% block help_icon_id %}{% endblock %}" alt="info" /></h3>
                <div class="progress-panel">
                    {% block content_rows %}{% endblock %}
                    {% block buttons %}{% endblock %}
                    {% block action_steps %}{% endblock %}
                    {% if page_config.show_restart_steps %}
                    <div class="progress-item hidden" id="progress-{{ page_config.restart_step_id }}">
                        <div class="progress-icon"></div>
                        <div class="progress-content">
                            <div class="progress-platform">{{ page_config.restart_step_label }}</div>
                            <div class="progress-text">Waiting...</div>
                            {% block completion_badge %}{% endblock %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endblock %}
            </div>

            {% block sidebar %}
            {% if page_config.show_sidebar %}
            <div class="settings-sidebar">
                {% block right_content %}{% endblock %}
            </div>
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
