{% extends "zato/index.html" %}

{% block html_title %}Stats maint.{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.timepicker.addon.css">
{% endblock %}

{% block "extra_js" %}
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    
    <script type="text/javascript" src="/static/jquery/jquery.ui.slideraccess.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.ui.timepicker.addon.js"></script>
    
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/stats/maintenance.js"></script>
{% endblock %}

{% block "content" %}

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

<h2 class="zato">Statistics : Maintenance</h2>

{% if messages %}
    {% for message in messages %}
    <div id="user-message-div"><pre id="user-message" class="user-message user-message-{{ message.tags }}">{{ message }}</pre></div>
    {% endfor %}
{% endif %}


{% include "zato/choose-cluster.html" with page_prompt="Show the maintenance form"%}

{% if cluster_id %}

<div id="markup">
    <form action="./delete/" method="post" id="maintenance_form">
    {% csrf_token %}
    <input type="hidden" name="cluster_id" id="cluster_id" value="{{ cluster_id }}" />
    <table id="data-table">
        <tr>
            <td class="inline_header" colspan="4">Delete statistics in the selected interval</td>
        </tr>
        <tr>
            <td style="width:10%">Delete from<br/><span class="form_hint">(inclusive)</span></td>
            <td style="width:20%;text-align:left">{{ form.start }} </td>
            <td style="width:10%">Delete to<br/><span class="form_hint">(inclusive)</span></td>
            <td style="width:60%;text-align:left">{{ form.stop }}</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:right;border-top:1px solid #ddd"><button id="delete_stats" name="delete_stats" type="submit">Delete</button></td>
        </tr>
    </table>
    </form>

    <form>
        <input type="hidden" id="js_date_format" value="{{ js_date_format }}" />
        <input type="hidden" id="js_time_format" value="{{ js_time_format }}" />
        <input type="hidden" id="js_ampm" value="{{ js_ampm }}" />
    </form>    
    
</div>


{% endif %} {% comment %}cluster_id{% endcomment %}
{% endif %} {% comment %}zato_clusters{% endcomment %}


{% endblock %}
