{% extends "zato/index.html" %}

{% block html_title %}Stats settings{% endblock %}

{% block "extra_css" %}
{% endblock %}

{% block "extra_js" %}
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/stats/settings.js"></script>
{% endblock %}

{% block "content" %}

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

<h2 class="zato">Statistics : Settings</h2>

{% if has_scheduler_jobs %}
    {% if messages %}
        {% for message in messages %}
        <div id="user-message-div"><pre id="user-message" class="user-message user-message-{{ message.tags }}">{{ message }}</pre></div>
        {% endfor %}
    {% endif %}
{% else %}
<p class="big-notice" style="background-color:yellow; color:#333">
    Error while reading internal jobs.
    <br/>
    Please make sure the scheduler is running.
</p>
{% endif %}


{% if has_scheduler_jobs %}
{% include "zato/search-form.html" with page_prompt="Show settings"%}

{% if cluster_id %}

<div id="markup">
    <form action="./save/?cluster={{ cluster_id }}" method="post" id="settings_form">
    {% csrf_token %}

    <table id="data-table" style="width:60%">
        <tr>
            <td class="inline_header" colspan="4">Threshold markers</td>
        </tr>
        <tr>
            <td style="width:5%">Slow service threshold</td>
            <td style="width:30%;text-align:left%">{{ form.atttention_slow_threshold }} <span class="form_hint">ms (default: {{ defaults.atttention_slow_threshold }})</span></td>
        </tr>
        <tr>
            <td style="width:5%">Top service usage threshold</td>
            <td style="width:30%;text-align:left">{{ form.atttention_top_threshold }} <span class="form_hint">% (default: {{ defaults.atttention_top_threshold }})</span></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;border-top:1px solid #ddd"><button id="save_settings" name="save_settings" type="submit">Save settings</button></td>
        </tr>
    </table>
    </form>

</div>
{% endif %}


{% endif %} {% comment %}cluster_id{% endcomment %}
{% endif %} {% comment %}zato_clusters{% endcomment %}


{% endblock %}
