{% extends "zato/index.html" %}

{% block html_title %}Stats{% endblock %}

{% block "extra_css" %}

    <link rel="stylesheet" type="text/css" href="/static/css/jquery.ui.timepicker.addon.css">

<style type="text/css">

    .default {
        background-color: #f3f3f3;
    }  
    
    .hover {
        background-color: #f0ff6e;
    }  
</style>
{% endblock %}

{% block "extra_js" %}
    <script type="text/javascript" src="/static/js/underscore.string.min.js"></script>
    
    <script type="text/javascript" src="/static/jquery/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    
    <script type="text/javascript" src="/static/jquery/jquery.ui.slideraccess.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.ui.timepicker.addon.js"></script>
    
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/stats/trends_summary.js"></script>
{% endblock %}

{% block "content" %}

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

<h2 class="zato">Statistics : {{ stats_title }} : <span id="page_label">{{ label }}</span></h2>

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>


{% include "zato/choose-cluster.html" with page_prompt="Show statistics"%}

{% if cluster_id %}

<div id="markup">
    <table id="data-table">
        <tr>
            <td style="text-align:right">
                <div style="float:left">
                    <form action="." method="GET">
                        Show {{ n_form.n }}  items <input type="submit" value="OK" />

                        <input type="hidden" name="left_utc_start" id="left-utc_start" value="{{ utc_start }}" />
                        <input type="hidden" name="left_utc_stop" id="left-utc_stop" value="{{ utc_stop }}" />
                        
                        <input type="hidden" name="left_user_start" id="left-user_start" value="{{ user_start }}" />
                        <input type="hidden" name="left_user_stop" id="left-user_stop" value="{{ user_stop }}" />
                        
                        <input type="hidden" name="right_utc_start" id="right-utc_start" value="{{ utc_start }}" />
                        <input type="hidden" name="right_utc_stop" id="right-utc_stop" value="{{ utc_stop }}" />
                        
                        <input type="hidden" name="right_user_start" id="right-user_start" value="{{ user_start }}" />
                        <input type="hidden" name="right_user_stop" id="right-user_stop" value="{{ user_stop }}" />
                        
                        <input type="hidden" name="cluster" id="cluster_id" value="{{ cluster_id }}" />
                    </form>
                </div>
                <div id="compare_to" style="text-align:right;margin-top:4px">
                    Compare to previous:
{% for item in compare_to %}
<a href="javascript:$.fn.zato.stats.top_n.shift('right', '{{ item.0 }}', 'left');">{{ item.1 }}</a>{% if not forloop.last %},{% endif %}{% if forloop.last %}, <a href="javascript:$.fn.zato.stats.top_n.show_start_stop_picker()">other</a>{% endif %}
{% endfor %}
                </div>
            
            <div class="left-date hidden" style="text-align:left;margin-top:14px">
<a href="javascript:$.fn.zato.stats.top_n.change_date('left', '{{ choice }}_prev')" style="text-decoration:none">&larr;</a>
    <span class="form_hint"><span id="left-user_start-label">left-user_start-label placeholder</span>{% if needs_stop %}<span class="direction-optional">- </span><span id="left-user_stop-label" class="direction-optional">left-user_stop-label placeholder</span>{% endif %}</span>
<a href="javascript:$.fn.zato.stats.top_n.change_date('left', '{{ choice }}_next')" style="text-decoration:none">&rarr;</a>
            </div>
                
                
            </td>
            <td style="text-align:right">
                <div class="right-date hidden" style="text-align:right;margin-top:14px">
<a href="javascript:$.fn.zato.stats.top_n.change_date('right', '{{ choice }}_prev')" style="text-decoration:none">&larr;</a>
    <span class="form_hint"><span id="right-user_start-label">right-user_start-label placeholder</span> <span id="right-user_stop-hyphen" class="hidden">-</span> <span id="right-user_stop-label" class="hidden">right-user_stop-label placeholder</span></span>
<a href="javascript:$.fn.zato.stats.top_n.change_date('right', '{{ choice }}_next')" style="text-decoration:none">&rarr;</a>
                </div>
            </td>
        </tr>

        <tr>
            <td id="left-side" style="width:50%">
                {% include "zato/stats/trends-table.html" with side="left"%}
            </td>

            <td id="right-side" style="width:50%;" class="hidden">
                {% include "zato/stats/trends-table.html" with side="right"%}
            </td>
        </tr>
    </table>
</div>

<div id="custom_date" class='data-popup'>
    <div>
        <form action="." method="post" id="form-custom_date">
            <table class="form-data">
            

                <tr>
                    <td style="vertical-align:middle">
                        Start<br/>
                        <span class="form_hint">(e.g. {{ sample_dt }})</span>
                    </td>
                    <td>
                        <input id="custom-user_start" class="required" name="custom-user_start" type="text" />
                    </td>
                </tr>
                
                <tr>
                    <td style="vertical-align:middle">
                        Stop<br/>
                        <span class="form_hint">(e.g. {{ sample_dt }})</span>
                    </td>
                    <td>
                        <input id="custom-user_stop" class="required" name="custom-user_stop" type="text" />
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2" style="text-align:right">
                        <input type="hidden" id="custom_range" name="custom_range" value="custom_range" />
                        <input type="submit" value="OK" />
                        <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>

    <form>
        <input type="hidden" id="choice" value="{{ choice }}" />
        <input type="hidden" id="step" value="{{ step }}" />
        <input type="hidden" id="js_date_format" value="{{ js_date_format }}" />
        <input type="hidden" id="js_time_format" value="{{ js_time_format }}" />
        <input type="hidden" id="js_ampm" value="{{ js_ampm }}" />
    </form>    

{% endif %} {% comment %}cluster_id{% endcomment %}
{% endif %} {% comment %}zato_clusters{% endcomment %}


{% endblock %}
