{% load humanize %}

    <tr id="{{ side }}-tr-usage">
        <td>
            <table style="width:100%" class="stats-table" id="{{ side }}-usage">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th><a href="#">Name</a></th>
                    <th style="text-align:right"><a href="#" title="Usage">U</a></th>
                    <th style="text-align:right"><a href="#" title="Requests per second">Rq/s</a></th>
                    <th style="text-align:right"><a href="#" title="Usage share">U%</a></th>
                    <th style="text-align:right"><a href="#" title="Time share">T%</a></th>
                    <th style="text-align:right"><a href="#" title="Total usage of all services">TU</a></th>
                    {% if needs_trends %}<th style="text-align:right">Trend</th>{% endif %}
                </tr>
                </thead>
                
                <tbody>
            {% for item in usage %}
                <tr id="{{ side }}-tr-usage-{{ item.service_name|slugify }}">
                    <td style="width:10px">{% if item.usage_perc_all_services > atttention_top_threshold %}<img src="/static/gfx/stats-alert.png" alt=""/>{% endif %}</td>
                    <td style="width:10px">{{ forloop.counter }}</td>    
                    <td style="width:200px"><a href="{% url "service-overview" item.service_name %}?cluster={{ cluster_id }}">{{ item.service_name }}</a></td>
                    <td style="text-align:right;width:30px">{{ item.usage|intcomma }}</td>
                    <td style="text-align:right;width:30px">{% if item.rate < 0.1 %}&lt;0.1{% else %}{{ item.rate }}{% endif %}</td>
                    <td style="text-align:right;width:30px">{% if item.usage_perc_all_services < 0.1 %}&lt;0.1{% else %}{{ item.usage_perc_all_services|floatformat:"1" }}{% endif %}</td>
                    <td style="text-align:right;width:30px">{% if item.time_perc_all_services < 0.1 %}&lt;0.1{% else %}{{ item.time_perc_all_services|floatformat:"1" }}{% endif %}</td>
                    <td style="text-align:right;width:30px">{{ item.all_services_usage|intcomma }}</td>
                    {% if needs_trends %}<td style="text-align:right;width:30px"><span class="{{ side }}-trend">{{ item.usage_trend }}</span></td>{% endif %}
                </tr>
            {% empty %}
                <tr><td colspan="9">(No data)</td></tr>
            {% endfor %}
                </tbody>
                
            </table>
        </td>
    </tr>
