    {% if item.lb_config %}
    HTTP{% if lb_use_tls %}S{% endif %}:
        <a href="http{% if lb_use_tls %}s{% endif %}://{{ item.lb_config.frontend.front_http_plain.bind.address}}:{{ item.lb_config.frontend.front_http_plain.bind.port}}">
        http{% if lb_use_tls %}s{% endif %}://{{ item.lb_config.frontend.front_http_plain.bind.address}}:{{ item.lb_config.frontend.front_http_plain.bind.port}}
        </a>
    {% else %}
        Could not fetch the load balancer's configuration
    {% endif %}

    <br/>
    {% if item.lb_config %}
    LB RPC agent:
        <a href="https://{{ item.lb_host }}:{{ item.lb_agent_port }}/RPC2">
        https://{{ item.lb_host }}:{{ item.lb_agent_port }}/RPC2
        </a>
    {% endif %}

    <br/>
    {% if item.lb_config %}
    LB stats:
        {% if item.lb_config.defaults.stats_uri %}
            <a href="http{% if lb_use_tls %}s{% endif %}://{{ item.lb_host }}:{{ item.lb_config.frontend.front_http_plain.bind.port}}{{ item.lb_config.defaults.stats_uri }}">
            http{% if lb_use_tls %}s{% endif %}://{{ item.lb_host }}:{{ item.lb_config.frontend.front_http_plain.bind.port}}{{ item.lb_config.defaults.stats_uri }}
            </a>
        {% else %}
            URL not configured
        {% endif %}
    {% endif %}

    <br/>
    {% if item.lb_config %}
    LB HTTP health-check:
        <a href="http{% if lb_use_tls %}s{% endif %}://{{ item.lb_config.frontend.front_http_plain.bind.address}}:{{ item.lb_config.frontend.front_http_plain.bind.port}}{{ item.lb_config.frontend.front_http_plain.monitor_uri }}">
        http{% if lb_use_tls %}s{% endif %}://{{ item.lb_config.frontend.front_http_plain.bind.address}}:{{ item.lb_config.frontend.front_http_plain.bind.port}}{{ item.lb_config.frontend.front_http_plain.monitor_uri }}
        </a>
    {% endif %}
