{% extends "zato/index.html" %}
{% load extras %}

{% block html_title %}Group members{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.form.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/sortable/Sortable.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/sortable/jquery-sortable.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/groups/members.js"></script>

{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Group members</span></h2>

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<div id="markup" class="columns">
    <div class="left-column">
        <div class="column-wrapper">
            <div class="column-header left">
                <form id="search-form" action="#">
                    <select id="search-form-sec-type">
                        <option value="">------</option>
                        <option value="basic_auth">Basic Auth</option>
                        <option value="apikey">API keys</option>
                    </select>
                    <input type="text" name="query" style="width:50%" placeholder="Enter search terms" id="search-form-query">
                    <input type="submit"  style="vertical-align:top" value="Show definitions" />
                </form>
            </div>
            <div class="column-body left">
                <div id="listing-left" class="listing">
                    {% for item in security_list %}
                        <div id="{{ item.sec_type }}-{{ item.id }}" class="list-group-item left">
                            <div class="sec-type">{{ item.sec_type_name }}</div>
                            <div class="sec-name">{{ item.security_name|safe }}</a></div>
                            <div class="handle"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="column-header right">
            <select>
                <option>Group 1</option>
                <option>Group 2</option>
            </select>
            <div style="float: right; font-size: 0.78rem; padding-top: 0.1rem; padding-right: 0.5rem;">
                <span class="form_hint" style="font-size:0.78rem; color: #888;">Remove selected</span>
                |
                <a href="#">Remove all</a>
            </div>
        </div>
        <div class="column-body right">
            <div id="listing-right" class="listing">
                <div id="{{ item.sec_type }}-{{ item.id }}" class="list-group-item right">
                    <div class="sec-type">api key{{ item.sec_type|replace_in_string:"_, -" }}</div>
                    <div class="sec-name"><a href="#">#1</a></div>
                    <div class="sec-username">{% if False %}{{ item.username }}{% endif %}</div>
                    <div class="handle"></div>
                </div>
                <div id="{{ item.sec_type }}-{{ item.id }}" class="list-group-item right">
                    <div class="sec-type">basic auth{{ item.sec_type|replace_in_string:"_, -" }}</div>
                    <div class="sec-name"><a href="#">#2</a></div>
                    <div class="sec-username">{% if False %}{{ item.username }}{% endif %}</div>
                    <div class="handle"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
