
{% extends "zato/index.html" %}

{% block html_title %}Group members{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.form.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/sortable/Sortable.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/sortable/jquery-sortable.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/groups/members.js"></script>

{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Group members</span></h2>

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<div id="markup" class="columns">
    <div class="left-column">
        <div class="column-wrapper">
            <div class="column-header left">
                <select>
                    <option>------</option>
                    <option>Basic Auth</option>
                    <option>API keys</option>
                </select>
                <input type="text" name="query" style="width:50%" class="required" placeholder="Enter search terms" required="" id="id_query">
                <input type="submit"  style="vertical-align:top" value="Show definitions" />
            </div>
            <div class="column-body left">
                <div id="listing-left" class="listing">
                    {% for item in security_list %}
                        <div id="item.id" class="list-group-item left">{{ item.name }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="column-header right">
            <select>
                <option>Airlines</option>
                <option>Group 2</option>
            </select>
            <div style="float: right; font-size: 0.8rem; padding-top: 0.1rem; padding-right: 0.5rem;">
                <a href="#">Create a new group</a>
                |
                <a href="#">Clear group</a>
            </div>
        </div>
        <div class="column-body right">
            <div id="listing-right" class="listing">
                <div id="5" class="list-group-item right">Item A</div>
                <div id="4" class="list-group-item right">Item B</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$('#listing-left').sortable({
    swapThreshold: 1,
    sort: false,
    animation: 150,
    multiDrag: true,
    selectedClass: 'selected',
    fallbackTolerance: 3,
    invertSwap: true,
    // handle: '.handle',
    // emptyInsertThreshold: 1,
    onEnd: $.fn.zato.on_sortable_end,
    group: {
        name: "shared",
    }
});

$('#listing-right').sortable({
    swapThreshold: 1,
    sort: false,
    animation: 150,
    multiDrag: true,
    selectedClass: 'selected',
    fallbackTolerance: 3,
    invertSwap: true,
    // handle: '.handle',
    // emptyInsertThreshold: 1,
    onEnd: $.fn.zato.on_sortable_end,
    group: {
        name: "shared",
    }
});

</script>


{% endblock %}
