{% extends "zato/index.html" %}

{% block html_title %}AMQP conn. def.{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} HTTP Basic Auth {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/definition/amqp.js"></script>


    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            'host',
            'port',
            'vhost',
            'username',
            'frame_max',
            'heartbeat',
            '_change_password',
            '_edit',
            '_delete',
            'id',
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">AMQP definitions</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% include "zato/search-form.html" with page_prompt="Show definitions"%}


    {% if cluster_id %}
        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.definition.amqp.create()">Create a new AMQP definition</a>
        </div>


        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Host</a></th>
                        <th><a href="#">Port</a></th>
                        <th><a href="#">Virtual host</a></th>
                        <th><a href="#">Username</a></th>
                        <th><a href="#">Max frame size</a></th>
                        <th><a href="#">Heartbeat interval</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.host }}</td>
                        <td>{{ item.port }}</td>
                        <td>{{ item.vhost }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.frame_max }}</td>
                        <td>{{ item.heartbeat }}</td>
                        <td><a href="javascript:$.fn.zato.data_table.change_password('{{ item.id }}')">Change password</a></td>
                        <td><a href="javascript:$.fn.zato.definition.amqp.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.definition.amqp.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='13'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "def-amqp-create" %}" method="post" id="create-form">
                    <table class="form-data">

                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Host</td>
                            <td>{{ create_form.host }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Port</td>
                            <td>{{ create_form.port }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Virtual host</td>
                            <td>{{ create_form.vhost }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Username</td>
                            <td>{{ create_form.username }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Max frame size <span class='form_hint'>(bytes)</span></td>
                            <td>{{ create_form.frame_max }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Heartbeat interval <span class='form_hint'>(seconds)</span></td>
                            <td>{{ create_form.heartbeat }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "def-amqp-edit" %}" method="post" id="edit-form">
                    <table class="form-data">

                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Host</td>
                            <td>{{ edit_form.host }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Port</td>
                            <td>{{ edit_form.port }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Virtual host</td>
                            <td>{{ edit_form.vhost }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Username</td>
                            <td>{{ edit_form.username }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Max frame size <span class='form_hint'>(bytes)</span></td>
                            <td>{{ edit_form.frame_max }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Heartbeat interval <span class='form_hint'>(seconds)</span></td>
                            <td>{{ edit_form.heartbeat }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>

                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

        <div id="change_password-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "def-amqp-change-password" %}" method="post" id="change_password-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td id="change-password-name"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Password</td>
                            <td>{{ change_password_form.password1 }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Confirm password</td>
                            <td>{{ change_password_form.password2 }} </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_change_password-id" name="id" />
                    <input type="hidden" id="id_change_password-cluster_id" name="cluster_id" value='{{ cluster_id}}' />
                </form>
            </div>
        </div>
    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
