{% extends "zato/index.html" %}

{% block html_title %}JMS WMQ conn. def.{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} HTTP Basic Auth {% endcomment %}
    <script type="text/javascript" src="/static/js/definition/jms_wmq.js"></script>


    <script>
    
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            'host',
            'port',
            'queue_manager',
            'channel',
            '_cache_open_send_queues',
            '_cache_open_receive_queues',
            '_use_shared_connections',
            '_ssl',
            'ssl_cipher_spec',
            'ssl_key_repository',
            '_needs_mcd',
            'max_chars_printed',
            '_edit',
            '_delete',
            'id',
            'cache_open_send_queues',
            'cache_open_receive_queues',
            'use_shared_connections',
            'ssl',
            'needs_mcd'
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">JMS WebSphere MQ definitions</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% include "zato/choose-cluster.html" with page_prompt="Show definitions"%}


    {% if cluster_id %}
        <div class='page_prompt'>
            <a href="javascript:$.fn.zato.definition.jms_wmq.create()">Create a new JMS WebSphere MQ definition</a>
        </div>
        

        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Host</a></th>
                        <th><a href="#">Port</a></th>
                        <th><a href="#">QM</a></th>
                        <th><a href="#">Channel</a></th>
                        <th><a href="#">Cache send queues</a></th>
                        <th><a href="#">Cache receive queues</a></th>
                        <th><a href="#">Share connections</a></th>
                        <th><a href="#">SSL</a></th>
                        <th><a href="#">Cipher spec</a></th>
                        <th><a href="#">Key repo</a></th>
                        <th><a href="#">MCD</a></th>
                        <th><a href="#">Chars printed</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.host }}</td>
                        <td>{{ item.port }}</td>
                        <td>{{ item.queue_manager }}</td>
                        <td>{{ item.channel }}</td>
                        <td>{{ item.cache_open_send_queues|yesno:'Yes,No' }}</td>
                        <td>{{ item.cache_open_receive_queues|yesno:'Yes,No' }}</td>
                        <td>{{ item.use_shared_connections|yesno:'Yes,No' }}</td>
                        <td>{{ item.ssl|yesno:'Yes,No' }}</td>
                        <td>{{ item.ssl_cipher_spec|default_if_none:'' }}</td>
                        <td>{{ item.ssl_key_repository|default_if_none:'' }}</td>
                        <td>{{ item.needs_mcd|yesno:'Yes,No' }}</td>
                        <td>{{ item.max_chars_printed }}</td>
                        <td><a href="javascript:$.fn.zato.definition.jms_wmq.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.definition.jms_wmq.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.cache_open_send_queues }}</td>
                        <td class='ignore'>{{ item.cache_open_receive_queues }}</td>
                        <td class='ignore'>{{ item.use_shared_connections }}</td>
                        <td class='ignore'>{{ item.ssl }}</td>
                        <td class='ignore'>{{ item.needs_mcd }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='23'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
        
        
        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url "def-jms-wmq-create" %}" method="post" id="create-form">
                    <table class="form-data">
    
                        <tr>
                            <td style="vertical-align:middle;width:40%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                    
                        <tr>
                            <td style="vertical-align:middle">Host</td>
                            <td>{{ create_form.host }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Port</td>
                            <td>{{ create_form.port }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Queue manager</td>
                            <td>{{ create_form.queue_manager }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Channel</td>
                            <td>{{ create_form.channel }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Cache open send queues</td>
                            <td>{{ create_form.cache_open_send_queues }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Cache open receive queues</td>
                            <td>{{ create_form.cache_open_receive_queues }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Use shared connections <span class='form_hint'>(untick if the queue manager is on z/OS)</span></td>
                            <td>{{ create_form.use_shared_connections }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Use SSL</td>
                            <td>{{ create_form.ssl }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">SSL cipher spec <br/><span class='form_hint'>(e.g. TLS_RSA_WITH_AES_256_CBC_SHA)</td>
                            <td>{{ create_form.ssl_cipher_spec }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">SSL repository</td>
                            <td>{{ create_form.ssl_key_repository }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Needs MCD folder <span class='form_hint'>(set to True if working with WebSphere MQ 6.0 or older)</span></td>
                            <td>{{ create_form.needs_mcd }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Max characters printed</td>
                            <td>{{ create_form.max_chars_printed }}</td>
                        </tr>
    
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>                        
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>
        
        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url "def-jms-wmq-edit" %}" method="post" id="edit-form">
                    <table class="form-data">

                        <tr>
                            <td style="vertical-align:middle;width:40%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                    
                        <tr>
                            <td style="vertical-align:middle">Host</td>
                            <td>{{ edit_form.host }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Port</td>
                            <td>{{ edit_form.port }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Queue manager</td>
                            <td>{{ edit_form.queue_manager }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Channel</td>
                            <td>{{ edit_form.channel }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Cache open send queues</td>
                            <td>{{ edit_form.cache_open_send_queues }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Cache open receive queues</td>
                            <td>{{ edit_form.cache_open_receive_queues }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Use shared connections <span class='form_hint'>(untick if the queue manager is on z/OS)</span></td>
                            <td>{{ edit_form.use_shared_connections }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Use SSL</td>
                            <td>{{ edit_form.ssl }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">SSL cipher spec <br/><span class='form_hint'>(e.g. TLS_RSA_WITH_AES_256_CBC_SHA)</td>
                            <td>{{ edit_form.ssl_cipher_spec }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">SSL key repository</td>
                            <td>{{ edit_form.ssl_key_repository }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Needs MCD folder <span class='form_hint'>(set to True if working with WebSphere MQ 6.0 or older)</span></td>
                            <td>{{ edit_form.needs_mcd }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Max characters printed</td>
                            <td>{{ edit_form.max_chars_printed }}</td>
                        </tr>
    
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                        
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
