{% extends 'base.html' %}
{% load static %}

{% block page_title %}Rulesets{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'rule-engine/css/test.css' %}">
<link rel="stylesheet" href="{% static 'rule-engine/css/log.css' %}">
<link rel="stylesheet" href="{% static 'rule-engine/css/rulesets.css' %}">
{% endblock %}

{% block content %}
<div class="main-column">
  <div class="command-bar">
    <div class="command-field" id="rulesets-field">
      <input class="command-input" id="rulesets-search" type="text" autocomplete="off" spellcheck="false"
        placeholder="Filter">
      <div class="command-suggest" id="rulesets-suggest"></div>
    </div>
    <span class="command-count" id="rulesets-count"></span>
    <button class="command-clear" id="rulesets-clear" onclick="rulesetsView.clearAll()"
      data-tippy-content="Clear"></button>
    <button class="button-ghost" onclick="rulesetsView.newRuleset()">New ruleset</button>
  </div>

  <div class="rulesets-split">
    <div class="rulesets-list" id="rulesets-list"></div>
    <div class="pane-resizer pane-resizer-vertical" id="rulesets-side-resizer"></div>
    <div class="rulesets-side" id="rulesets-side"></div>
  </div>

  <div class="problems-panel">
    <div class="problems-head" id="problems-head">Problems</div>
    <div class="problems-list" id="problems-list"></div>
  </div>
</div>
{% endblock %}

{% block screen_scripts %}
<script src="{% static 'rule-engine/js/data.js' %}"></script>
<script src="{% static 'rule-engine/js/rulesets-model.js' %}"></script>
<script src="{% static 'rule-engine/js/rulesets-render.js' %}"></script>
<script src="{% static 'rule-engine/js/rulesets-actions.js' %}"></script>
<script src="{% static 'rule-engine/js/rulesets-menu.js' %}"></script>
<script src="{% static 'rule-engine/js/rulesets-filter.js' %}"></script>
{% endblock %}
