{% extends 'page.html' %}

{% block title %}Change password{% endblock %}

{% block page_content %}

{% if is_self %}
<h1>Change your password</h1>
{% else %}
<h1>Change password of user {{ subject.username }}</h1>
{% endif %}

<form method="post" action="{% url 'user-change-password' subject.username %}" class="form-card">
    {% csrf_token %}
    <div class="form-row">
        <label for="id_new_password">New password</label>
        <input id="id_new_password" type="password" name="new_password" autofocus>
    </div>
    <div class="form-row">
        <label for="id_confirm_password">Confirm password</label>
        <input id="id_confirm_password" type="password" name="confirm_password">
    </div>
    <button class="button-primary" type="submit">Change password</button>
    {% if is_self %}
    <a class="action" href="{% url 'profile' %}">Cancel</a>
    {% else %}
    <a class="action" href="{% url 'users' %}">Cancel</a>
    {% endif %}
</form>

{% endblock %}
