{% extends "zato/index.html" %}
{% load extras %}

{% block html_title %}Pub/sub Client Assignments{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">

    <style type="text/css">
        .form-data td:first-child {
            width: 18%;
            white-space: nowrap;
        }

        .form-data td:nth-child(2) {
            width: 82%;
        }

        .pattern-row {
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            gap: 4px;
        }

        .pattern-type-select {
            width: 80px;
            margin-right: 8px;
        }

        .pattern-add-button, .pattern-remove-button {
            width: 24px;
            height: 24px;
            margin-left: 3px;
            padding: 0;
            text-align: center;
            line-height: 22px;
        }
    </style>

{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} PubSub Client {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/pubsub/client.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            'pattern',
            'access_type',
            '_is_active'
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">Pub/sub client assignments</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}

        <div class='page_prompt'>
            <a href="javascript:$.fn.zato.pubsub.client.create()">Create a new client assignment</a>
        </div>

        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Security definition</a></th>
                        <th><a href="#">Pattern</a></th>
                        <th style="text-align:center"><a href="#">Access type</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.pattern }}</td>
                        <td style="text-align:center">{{ item.access_type|capfirst }}</td>
                        <td><a href="javascript:$.fn.zato.pubsub.client.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.pubsub.client.delete_('{{ item.id }}')">Delete</a></td>

                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.pattern }}</td>
                        <td class='ignore'>{{ item.access_type }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='99'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url "pubsub-client-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle">Security definition</td>
                            <td>{{ create_form.sec_base_id }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Access type</td>
                            <td>{{ create_form.access_type }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top">Patterns</td>
                            <td>
                                <div id="create-patterns-container">
                                    <div class="pattern-row">
                                        <select name="pattern_type_0" class="pattern-type-select">
                                            <option value="pub">Publish</option>
                                            <option value="sub">Subscribe</option>
                                        </select>
                                        <input type="text" name="pattern_0" class="pattern-input" style="width:50%" />
                                        <button type="button" class="pattern-add-button" onclick="addPatternRow('create')">+</button>
                                        <button type="button" class="pattern-remove-button" onclick="removePatternRow(this)" style="display:none">-</button>
                                    </div>
                                </div>
                                <input type="hidden" name="pattern" id="create-pattern-hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "pubsub-client-edit" %}" method="post" id="edit-form">
                    {{ edit_form.id }}
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Security definition</td>
                            <td>{{ edit_form.sec_base_id }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Access type</td>
                            <td>{{ edit_form.access_type }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top">Patterns</td>
                            <td>
                                <div id="edit-patterns-container">
                                    <div class="pattern-row">
                                        <select name="pattern_type_0" class="pattern-type-select">
                                            <option value="pub">Publish</option>
                                            <option value="sub">Subscribe</option>
                                        </select>
                                        <input type="text" name="pattern_0" class="pattern-input" style="width:50%" />
                                        <button type="button" class="pattern-add-button" onclick="addPatternRow('edit')">+</button>
                                        <button type="button" class="pattern-remove-button" onclick="removePatternRow(this)" style="display:none">-</button>
                                    </div>
                                </div>
                                <input type="hidden" name="pattern" id="edit-pattern-hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

    {% endif %}
{% endif %}
{% endblock %}
