
{% extends "zato/index.html" %}

{% block html_title %}Pub/sub message : {{ msg_id }}{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>

    <script type="text/javascript" src="/static/js/pubsub/message-details.js"></script>

{% endblock %}


{% block "content" %}
<h2 class="zato">Pub/sub message : {{ msg_id }}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<div id="markup">
    <form id="message-details-form" action="<invalid>" method="post">
        <table id="data-table">
            <tr>
                <td class='inline_header' style="width:90px">Topic</td>
                <td style="width:140px"><a href="{% url "pubsub-topic" %}?cluster={{ cluster_id }}&amp;highlight={{ topic_id }}">{{ topic_name }}</a></td>

                <td class='inline_header' style="width:90px">Pub time</td>
                <td>{{ pub_time }}</td>

                <td class='inline_header' style="width:90px">Priority <span class="form_hint">(1-9, 1=min)</span></td>
                <td>{{ form.priority }}</td>
            </tr>
            <tr>
                <td class='inline_header' style="width:90px">Pub pattern</td>
                <td style="width:140px">{{ pattern_matched }}</td>

                <td class='inline_header' style="width:90px">Ext. pub time</td>
                <td style="width:140px">{{ ext_pub_time|default:"<span class='form_hint'>---</span>" }}</td>

                <td class='inline_header' style="width:90px">Pub data format</td>
                <td style="width:140px">{{ data_format }}</td>
            </tr>
            <tr>
                <td class='inline_header' style="width:90px">Msg ID</td>
                <td style="width:140px">{{ msg_id }}</td>

                <td class='inline_header' style="width:90px">Expiration <span class="form_hint">(in s)</span></td>
                <td style="width:140px">{{ form.expiration }}</td>

                <td class='inline_header' style="width:90px">MIME type</td>
                <td style="width:140px">{{ form.mime_type }}</td>
            </tr>
            <tr>
                <td class='inline_header' style="width:90px">Correl ID</td>
                <td style="width:140px">{{ form.correl_id }}</td>

                <td class='inline_header' style="width:90px">Expiration time</td>
                <td style="width:140px" id="expiration_time">{{ expiration_time|default:"<span class='form_hint'>---</span>" }}</td>

                <td class='inline_header' style="width:90px">Pub endpoint</td>
                <td style="width:140px">{{ endpoint_html }}</td>
            </tr>
            <tr>
                <td class='inline_header' style="width:90px">In reply to</td>
                <td style="width:140px">{{ form.in_reply_to }}</td>

                <td class='inline_header' style="width:90px">Size <span class='form_hint'>(in bytes)</span></td>
                <td style="width:140px">{{ size }}</td>

                <td class='inline_header' style="width:90px">Guaranteed delivery</td>
                <td style="width:140px">
                    {% if has_gd %}
                        <a href="#">Show details</a>
                    {% else %}
                        <span class='form_hint'>---</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
            <tr>
                <td class='inline_header' colspan="6">Payload</td>
            </tr>
            <tr>
                <td colspan="6"><textarea style="height:300px">{{ data }}</textarea></td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right"><input type="submit" name="update-message-button" value="Update message" /></td>
                <input type="hidden" name="msg_id" id="msg_id" value="{{ msg_id }}" />
                <input type="hidden" name="cluster_id" id="cluster_id" value="{{ cluster_id }}" />
            </tr>
        </table>
    </form>
</div>

{% endblock %}
