{% extends "zato/detail_base.html" %}
{% load extras %}

{% block page_title %}Queue: {{ sub_key }}{% endblock %}

{% block detail_css %}
<link rel="stylesheet" type="text/css" href="/static/css/eda.css">
<style nonce="{{ CSP_NONCE }}">img.help-icon[id=""] { display: none; }</style>
{% endblock %}

{% block section_title %}
<div class="detail-header-row-1">
    <span id="detail-section-title">
        <a href="/zato/pubsub/subscription/?cluster={{ cluster_id }}" class="detail-component-pill menu-link">Subscriptions</a>
        Queue browser
    </span>
</div>
{% endblock %}
{% block help_icon_id %}{% endblock %}

{% block detail_page_class %}detail-page-queue{% endblock %}

{% block detail_js %}
<script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/pubsub/queue.js"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    $.fn.zato.pubsub.queue.init(
        '{{ sub_key }}',
        '{{ cluster_id }}',
        {poll_url: '{{ poll_url }}'}
    );
});
</script>
{% endblock %}

{% block stat_cards %}{% endblock %}

{% block actions %}
<div class="button-container">
    <button class="action-button" onclick="$.fn.zato.pubsub.queue.purge()">Purge queue</button>
</div>
{% endblock %}

{% block tabs %}{% endblock %}

{% block tab_panels %}
<h3 class="section-title detail-section-title-with-stats">
    Messages
    <span class="detail-inline-stats">
        <span class="detail-inline-stat"><span class="detail-inline-stat-label">Depth</span> <span id="stat-depth">-</span></span>
    </span>
</h3>

<div class="detail-pagination-controls" id="detail-history-pagination-top"></div>
<table class="detail-table detail-table-fixed detail-table-header" id="detail-history-table-head">
    <colgroup>
        <col style="width:22%">
        <col style="width:20%">
        <col style="width:36%">
        <col style="width:8%">
        <col style="width:14%">
    </colgroup>
    <thead>
        <tr>
            <th>Message ID</th>
            <th>Topic</th>
            <th>Data</th>
            <th style="text-align:center">Size</th>
            <th>Published</th>
        </tr>
    </thead>
</table>
<div class="detail-card-scroll-body">
    <table class="detail-table detail-table-fixed" id="detail-history-table">
        <colgroup>
            <col style="width:22%">
            <col style="width:20%">
            <col style="width:36%">
            <col style="width:8%">
            <col style="width:14%">
        </colgroup>
        <tbody id="detail-history-table-body">
            <tr class="detail-loading-row">
                <td colspan="5">
                    <img src="/static/gfx/spinner.svg" class="detail-spinner"> Loading...
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="detail-pagination-controls" id="detail-history-pagination-bottom"></div>
{% endblock %}
