{% extends "zato/detail_base.html" %}

{% block page_title %}Message: {{ msg_id }}{% endblock %}

{% block detail_css %}
<link rel="stylesheet" type="text/css" href="/static/css/detail-kit/record_edit.css">
<link rel="stylesheet" type="text/css" href="/static/css/syntax_monokai.css">
{% endblock %}

{% block progress_panel_class %}progress-panel-borderless progress-panel-no-margin{% endblock %}

{% block section_title %}
<a href="{{ topic_url }}" class="detail-component-pill menu-link">{{ topic_name }}</a>
<a href="{{ queue_url }}" class="detail-component-pill menu-link">{{ queue_name }}</a>
{{ msg_id }}
{% endblock %}

{% block detail_js %}
{{ message_data_json|json_script:"message-data-json" }}
<script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/meta_cards.js"></script>
<script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/record_edit.js"></script>
<script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/pubsub/queue_message.js"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    var messageData = JSON.parse(document.getElementById('message-data-json').textContent);
    $.fn.zato.pubsub.queue_message.init(messageData, '{{ poll_url|escapejs }}', '{{ payload_url|escapejs }}');
});
</script>
{% endblock %}

{% block stat_cards %}{% endblock %}
{% block actions %}{% endblock %}

{% block tabs %}
    <button type="button" class="dashboard-tab{% if active_tab == 'data' %} dashboard-tab-active{% endif %}" data-tab="data" role="tab" aria-selected="{% if active_tab == 'data' %}true{% else %}false{% endif %}">Message data</button>
    <button type="button" class="dashboard-tab{% if active_tab == 'metadata' %} dashboard-tab-active{% endif %}" data-tab="metadata" role="tab" aria-selected="{% if active_tab == 'metadata' %}true{% else %}false{% endif %}">Metadata</button>
{% endblock %}

{% block tab_panels %}
<div class="dashboard-tab-panel" id="dashboard-tab-panel-data" role="tabpanel"{% if active_tab != 'data' %} hidden{% endif %}>
    <div id="record-edit-form"></div>
</div>

<div class="dashboard-tab-panel" id="dashboard-tab-panel-metadata" role="tabpanel"{% if active_tab != 'metadata' %} hidden{% endif %}>
    <div id="message-metadata-cards"></div>
</div>
{% endblock %}
