.idea
.vscode
code/.installed.cfg
code/.Python
code/\.vscode/
code/bin/*
code/build/*
code/bundle-ext/python-windows/python-*/Lib/
code/bundle-ext/python-windows/python-*/py.bat
code/bundle-ext/python-windows/python-*/Scripts/
code/bundle-ext/python-windows/python-*/zato.bat
code/bundle-ext/python-windows/python-*/Include/greenlet/
code/develop-eggs/*
code/docs/*
code/downloads/*
code/eggs
code/eggs64
code/env-zato
code/extlib
code/get-pip.py
code/include/*
code/lib/*
code/lib64
code/local/*
code/man/*
code/mx/*
code/OpenSSL/*
code/cx_Oracle-doc/
code/parts/*
code/pip-selfcheck.json
code/pyvenv.cfg
code/release-info/initial-remote.txt
code/release-info/last-update-commit.txt
code/release-info/revision.txt
code/Scripts/*
code/sec-wall-trunk-src/*
code/share/*
code/src/*
code/tests/*
code/windows-bin/zato.py
code/zato-cy/src/zato/cy/*.c
code/zato-cy/src/zato/cy/*.html
code/zato-cy/src/zato/cy/*/*.c
code/zato-cy/src/zato/cy/*/*.html
code/zato-hl7/src/zato/hl7/cy/*.c
code/zato-hl7/src/zato/hl7/cy/*.html
code/zato-web-admin/src/zato/admin/static/css/.sass-cache/
code/zato_extra_paths*
code/zato-exeagent
code/*/build
code/*/dist
geckodriver.log
hotfixes
lib/
pidfile
vscode
*.egg-info*
*.geany*
*.pyc
*.pyd
!code/bundle-ext/**/*.pyd
*.pyo
*.so
*.swp
*.*~
~
