code/.installed.cfg
code/bin/*
code/build/*
code/develop-eggs/*
code/eggs/*
code/env-zato
code/downloads/*
code/include/*
code/lib/*
code/lib64
code/local/*
code/mx/*
code/OpenSSL/*
code/parts/*
code/pip-selfcheck.json
code/release-info/revision.txt
code/sec-wall-trunk-src/*
code/zato-cy/src/zato/cy/*.c
code/zato-web-admin/src/zato/admin/static/css/.sass-cache/
code/zato_extra_paths/*
code/zato-exeagent
code/*/build
code/*/dist
hotfixes
pidfile
*.egg-info*
*.geany*
*.pyc
*.pyo
*.so
*.*~
~
