message-bus/code/.installed.cfg
message-bus/code/bin/
message-bus/code/develop-eggs/
message-bus/code/downloads/
message-bus/code/eggs/
message-bus/code/include/
message-bus/code/lib/
message-bus/code/local/
message-bus/code/parts/
platform/code/.installed.cfg
platform/code/bin/*
platform/code/develop-eggs/*
platform/code/eggs/*
platform/code/downloads/*
platform/code/include/*
platform/code/lib/*
platform/code/local/*
platform/code/parts/*
platform/code/sec-wall-trunk-src/*
platform/docs/sphinx/1/build/*
platform/docs/sphinx/2/docs/_build/
platform/code/zato-admin/src/zato/admin/static/css/.sass-cache/
*.pyc
*.pyo
*.egg-info*
