{% comment %}
Callback tab for outgoing REST connections - where the scheduler delivers the response.

Expects in the context:
* form         - the create or edit form
* action       - "create" or "edit"
* field_prefix - "" for create, "edit-" for edit
{% endcomment %}

<table class="form-data">

    <tr>
        <td style="vertical-align:middle;width:19%"><label for="id_{{ field_prefix }}scheduler_callback_type">Deliver to</label></td>
        <td>{{ form.scheduler_callback_type }}</td>
    </tr>

    <tr id="scheduler-callback-service-row-{{ action }}">
        <td style="vertical-align:middle"><label for="id_{{ field_prefix }}scheduler_service">Service</label></td>
        <td>{{ form.scheduler_service }}</td>
    </tr>

    <tr id="scheduler-callback-topic-row-{{ action }}" class="hidden">
        <td style="vertical-align:middle"><label for="id_{{ field_prefix }}scheduler_callback_topic">Topic</label></td>
        <td>{{ form.scheduler_callback_topic }}</td>
    </tr>

    <tr id="scheduler-callback-rest-row-{{ action }}" class="hidden">
        <td style="vertical-align:middle"><label for="id_{{ field_prefix }}scheduler_callback_rest">Connection</label></td>
        <td>{{ form.scheduler_callback_rest }}</td>
    </tr>

</table>
