{% extends "zato/index.html" %}

{% block html_title %}{{ name }} - Details{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/fileuploader.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>
    
    <script type="text/javascript" src="/static/js/http_soap/details.js"></script>

{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">{{ name }} : Details</h2>

<div class='page_prompt'>
    <a href="{% url "http-soap-details" connection transport id name cluster_id %}" class="common current">Overview</a>
    <a href="{% url "http-soap-audit-log" connection transport id name cluster_id %}" class="common">Audit log</a>
</div>

<div id="markup">
    <table id="data-table">
        <tr>
            <td class='inline_header'>Audit log</td>
        </tr>
        <tr>
            <td style="padding-top:10px;padding-bottom:10px">
                <table>
                    <tr>
                        <td class="inline_header">
                            <span id="audit-set-state-span">{% if audit_enabled %}Enabled {% else %}Disabled{% endif %}</span>
                        </td>
                        <td>
                            <form id="audit-set-state" 
                                action="{% url "http-soap-audit-set-state" connection transport id name cluster_id %}"
                                method="post">
                                <button class="qq-upload-button" style="width:160px; vertical-align:baseline" 
                                    id="audit-set-state-button">Click to {% if audit_enabled %}disable{% else %}enable{% endif %}</button>
                                <input type="hidden" name="audit_enabled" id="audit_enabled" value="{{ audit_enabled }}" />
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td class="inline_header" style="vertical-align:top; padding-top:9px">

                        <form id="audit-set-config"
                            action="{% url "http-soap-audit-set-config" connection transport id name cluster_id %}" 
                            method="post">

                            Max payload size
                            <br/>
                            <span class="form_hint">(0 = no limits)</span>
                        </td>

                        <td>{{ replace_patterns_form.audit_max_payload }}</td>
                    </tr>
                    <tr>
                        <td class="inline_header" style="vertical-align:top; padding-top:12px">
                            Replace patterns
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td><span class="form_hint">{{ replace_patterns_form.audit_repl_patt_type }} </span></td>
                                </tr>
                                <tr>
                                    <td>{{ replace_patterns_form.pattern_list }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align:right"><input type="submit" value="Save" /></td>
                                </tr>
                            </table>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>


{% endblock %}
