{% extends "zato/index.html" %}

{% block html_title %}Rate limiting - {{ channel_name }}{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/rate-limiting.css">
{% endblock %}

{% block "extra_js" %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/sortable/Sortable.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/lucide/lucide.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/rate-limiting.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $(document).ready(function() {
        $.fn.zato.rate_limiting.init('rate-limiting-container', 'edit');
    });
    </script>
{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<div id="markup">
<h2 class="zato">Rate limiting | <a href="{% url 'http-soap' %}?cluster={{ cluster_id }}&connection=channel&transport=plain_http">REST channels</a> | <a href="{% url 'http-soap' %}?cluster={{ cluster_id }}&query={{ channel_name }}&connection=channel&transport=plain_http">{{ channel_name }}</a> | {{ channel_url_path }}</h2>

<div class="rate-limiting-container" id="rate-limiting-container">
</div>

<div class="rate-limiting-actions">
    <span class="rate-limiting-button-add" onclick="$.fn.zato.rate_limiting.add_rule('rate-limiting-container')">+ Add row</span>
    <input type="submit" value="Save" onclick="$.fn.zato.rate_limiting.save('rate-limiting-container', '{{ channel_id }}')" />
</div>

</div>

{% endblock %}
