{% comment %}
Scheduler tab for outgoing REST connections - when to invoke the connection.

Expects in the context:
* form         - the create or edit form
* action       - "create" or "edit"
* field_prefix - "" for create, "edit-" for edit
{% endcomment %}

<table class="form-data">

    <tr>
        <td style="vertical-align:middle;width:19%"><label for="id_{{ field_prefix }}scheduler_run_every">Run every</label></td>
        <td>
            {{ form.scheduler_run_every }}
            {{ form.scheduler_run_unit }}
        </td>
    </tr>

    <tr>
        <td style="vertical-align:middle"><label for="id_{{ field_prefix }}scheduler_start_date">Start time</label></td>
        <td>{{ form.scheduler_start_date }}</td>
    </tr>

</table>

{{ form.scheduler_job_id }}
