.zato-ide-side-panel-1 {
    display: flex !important;
    flex-direction: row !important;
    height: 100%;
    flex: 1 !important;
}

.zato-ide-side-panel-1-content {
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.zato-ide-side-panel-1-icons {
    display: flex;
    flex-direction: column;
    width: 48px;
    min-width: 48px;
    padding: 4px 0;
    border-left: 1px solid #3c3c3c;
}

.zato-ide-side-panel-1-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    margin: 0 4px;
    width: 40px;
    transition: background-color 0.15s ease;
}

.zato-ide-side-panel-1-icon:hover {
    background: #3c3c3c;
}


.zato-ide-side-panel-1-icon svg {
    width: 24px;
    height: 24px;
}
