.zato-ide-theme-dark .zato-ide-side-panel-1 {
    background: #1e1e1e;
}

.zato-ide-theme-dark .zato-ide-side-panel-1-content {
    background: #252526;
}

.zato-ide-theme-dark .zato-ide-side-panel-1-icons {
    background: #252526;
}

.zato-ide-theme-dark .zato-ide-side-panel-1-icon {
    color: #858585;
}

.zato-ide-theme-dark .zato-ide-side-panel-1-icon:hover {
    color: #cccccc;
    background: #3c3c3c;
}

.zato-ide-theme-dark .zato-ide-side-panel-1-icon.active {
    color: #cccccc;
}
