[buildout]
extends=versions.cfg
find-links = https://launchpad.net/inotifyx/dev
unzip = true

parts =
    bunch_patched-src
    bunch_patched-install
    cython-src
    cython-install
    gevent_zeromq_patched-src
    gevent_zeromq_patched-install
    console_scripts
    pyyaml-src
    pyyaml-install
    zato

develop =
    zato-admin
    zato-agent
    zato-broker
    zato-cli
    zato-common
    zato-server

[config]
cython_version = 0.14
pyyaml_version = 3.09

[zato]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = py
eggs =
    anyjson
    apscheduler
    argparse
    boto
    bzr
    circuits
    configobj
    Django
    django-debug-toolbar-django13
    egenix-mx-base
    fs
    gevent
    inotifyx
    lxml
    M2Crypto
    ordereddict
    Paste
    pesto
    pika
    psutil
    psycopg2
    pymqi
    pyparsing
    pyzmq-static
    requests
    sec-wall
    springpython
    SQLAlchemy
    threadpool
    tornado
    urllib3
    Werkzeug
    zope.server
    zato-admin
    zato-agent
    zato-broker
    zato-cli
    zato-common
    zato-server
    zdaemon

[bunch_patched-src]
recipe = zerokspot.recipe.git
repository=git://github.com/dsuch/bunch.git

[bunch_patched-install]
recipe = iw.recipe.cmd
on_install = true
cmds = cd ${buildout:directory}/parts/bunch_patched-src; ../../bin/python setup.py install

[console_scripts]
recipe = zc.recipe.egg
eggs = inotifyx

[cython-src]
recipe = hexagonit.recipe.download
url = http://pypi.python.org/packages/source/C/Cython/Cython-${config:cython_version}.tar.gz

[cython-install]
recipe = iw.recipe.cmd
on_install = true
cmds = cd ${buildout:directory}/parts/cython-src/Cython-${config:cython_version}; ../../../bin/python setup.py install

[gevent_zeromq_patched-src]
recipe = zerokspot.recipe.git
repository=git://github.com/dsuch/gevent-zeromq.git

[gevent_zeromq_patched-install]
recipe = iw.recipe.cmd
on_install = true
cmds = cd ${buildout:directory}/parts/gevent_zeromq_patched-src; ../../bin/python setup.py install --prefer-pyzmq-static

[pyyaml-src]
recipe = hexagonit.recipe.download
url = http://pyyaml-mirror.gefira.pl/simple/PyYAML/PyYAML-${config:pyyaml_version}.tar.gz

[pyyaml-install]
recipe = iw.recipe.cmd
on_install = true
cmds = cd ${buildout:directory}/parts/pyyaml-src/PyYAML-${config:pyyaml_version}; ../../../bin/python setup.py install
