blinker==1.7.0
cosmic-ray==8.4.3
hl7apy==1.3.5
hypothesis==6.151.9
mock==5.2.0
mypy
mypy-extensions>=1.0.0,<2.0.0
openapi-spec-validator
openapi3==1.8.2
pyright==1.1.408
pytest==9.0.2
ruff
pytest-cov==7.1.0
requests-openapi
schemathesis==4.14.3
selenium==4.2.0
selenium-wire
types-markdown
types-pyyaml
types-ujson
typing-extensions==4.12.2
unify==0.5
yapf
yappi==1.7.6
aiohttp==3.13.5
