blinker==1.7.0
flake8==7.1.1
flake8-bugbear
flake8-coding
flake8-comprehensions
flake8-quotes
mypy
openapi-spec-validator
playwright
pylint
pyright==1.1.266
pytest==8.3.4
requests-openapi
selenium==4.2.0
selenium-wire
types-markdown
types-pyyaml
types-ujson
yapf
