amqp==5.3.1
apispec==6.8.0
arrow==1.3.0
asn1crypto==1.5.1
atlassian-python-api==3.41.16
base32-crockford==0.3.0
boto3==1.35.85
cffi==1.17.1
chardet==5.2.0
click==8.1.7
colorama==0.4.6
configparser==7.1.0
crontab==1.0.1
cryptography==44.0.1
dacite==1.6.0
dataclasses-jsonschema==2.15.0
dateparser==0.7.6
debugpy
decorator==5.1.0
dill==0.2.5
distro==1.5.0
Django==4.2.20
django-csp==3.8
docformatter==0.8
dropbox==10.10.0
elasticsearch==7.15.2
faker==8.12.1
fastparquet==2022.11.0
fhirpy==1.3.0
flake8==7.1.1
flake8-bugbear
flake8-coding
flake8-comprehensions
flake8-quotes
flatbuffers==1.12
fs==2.4.16
gevent==23.9.1
geventhttpclient==2.0.8
globre==0.1.5
google-api-python-client==2.52.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
greenlet==3.0.0
hl7==0.4.1
hl7apy==1.3.5
hiredis==3.1.0
httpagentparser==1.9.0
httplib2==0.19.0
humanize==3.0.1
hvac==0.7.2
idna==3.7
ipaddress==1.0.16
iso8601==0.1.10
jsonpatch==1.23
jsonpointer==2.0
jsonschema==4.21.1
keyring==23.0.0
kombu==5.5.0rc2
ldap3==2.8.1
lxml==5.3.0
Mako==1.2.2
markdown==3.7
MarkupSafe==2.1.1
mccabe==0.7.0
mock==3.0.5
more-itertools==9.0.0
mypy-extensions>=1.0.0,<2.0.0
ndg-httpsclient==0.4.0
netaddr==0.8.0
netifaces==0.11.0
o365==2.0.26
odoo-client-lib==1.2.2
openpyxl==3.0.5
orjson==3.9.15
oslo.config==9.0.0
panorama==0.5.0
parse-type==0.6.4
parse==1.20.2
passlib==1.7.1
Paste==3.5.2
pbr==5.11.1
pg8000==1.13.1
prettytable==3.5.0
psutil==5.9.4
py-cpuinfo==3.3.0
pyaml==20.4.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.19.1
pyflakes==3.2.0
pyftpdlib==1.5.7
pygments==2.15.0
PyJWT==2.5.0
pymongo==4.6.3
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyotp==2.6.0
pyparsing==2.4.2
pyprof2calltree==1.4.5
python-dateutil==2.8.2
python-editor==1.0.1
python-memcached==1.62
tabulate==0.9.0
python-stdnum==1.14
pytz==2020.1
pyyaml==6.0.2
pyzmq==26.2.0
raven==5.1.1
recommonmark==0.6.0
redis==4.5.4
regex==2022.3.2
repoze.lru==0.6
repoze.profile==2.3
requests==2.32.0
requests-ntlm==1.2.0
requests-toolbelt==0.9.1
rule-engine==4.5.3
sarge==0.1.7.post1
setproctitle==1.3.2
simplejson==3.17.6
simple-parsing==0.0.17
six==1.16.0
slackclient==1.3.1
sortedcontainers==2.4.0
sphinx==4.2.0
SQLAlchemy==1.3.19
stroll==1.1.0
suds==1.1.2
stevedore==3.5.0
texttable==1.6.1
textual==1.0.0
twilio==7.15.3
typing-extensions==4.12.2
typing-utils==0.1.0
tzlocal==4.0
ujson==5.6.0
umalqurra==0.2
urllib3==1.26.19
vine==5.1.0
watchdog==6.0.0
WebHelpers==1.3
wrapt==1.14.1
wsaccel==0.6.7
zato-redis-paginator==1.0
zato-vault-client==1.3
zope.event==4.5.0
zxcvbn==4.4.28

zato-ext-concurrent-log-handler==0.9.1
zato-ext-inotifyx==0.3.1; sys_platform == 'linux'
zato-ext-paodate==1.3
zato-ext-python-tds==1.11.2
zato-ext-simple-rbac==0.1.1

ciso8601==2.2.0; sys_platform == 'linux'
greenify==0.4.3; sys_platform == 'linux'
inotify-simple==1.3.5; sys_platform == 'linux'
sh==1.14.3; sys_platform == 'linux'
portalocker==2.6.0
psycopg2-binary==2.9.5; sys_platform == 'linux'
pysimdjson==6.0.2; sys_platform == 'linux'
python-ldap==3.4.0; sys_platform == 'linux'
pywin32==305; platform_system == "Windows"
