amqp==5.3.1
apispec==6.8.2
arrow==1.3.0
asn1crypto==1.5.1
atlassian-python-api==4.0.4
beautifulsoup4==4.13.4
boto3==1.38.18
cffi==1.17.1
chardet==5.2.0
colorama==0.4.6
configparser==7.1.0
cryptography==44.0.1
dacite==1.6.0
dateparser==0.7.6
decorator==5.1.0
distro==1.5.0
Django==4.2.26
django-csp==3.8
docformatter==0.8
elasticsearch==9.0.1
faker==8.12.1
fs==2.4.16
gevent==25.8.2
globre==0.1.5
google-api-python-client==2.52.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
gunicorn==23.0.0
hiredis==3.1.0
httplib2==0.19.0
humanize==4.12.3
idna==3.7
ipaddress==1.0.16
iso8601==0.1.10
kombu==5.5.4
ldap3==2.10.2rc2
lxml==5.3.0
more-itertools==9.0.0
msal==1.34
multipart==1.2.1
ndg-httpsclient==0.4.0
netaddr==0.8.0
netifaces==0.11.0
o365==2.1.2
odoo-client-lib==1.2.4
oracledb==3.1.0
orjson==3.11.3
oslo.config==9.0.0
parse-type==0.6.4
parse==1.20.2
passlib==1.7.1
paste==3.10.1
pbr==5.11.1
pg8000==1.13.1
prettytable==3.5.0
prometheus-client==0.22.1
psutil==5.9.4
py-cpuinfo==3.3.0
pyaml==20.4.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.19.1
pymongo==4.13.0
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyotp==2.6.0
python-dateutil==2.9.0.post0
python-editor==1.0.1
tabulate==0.9.0
pytz==2025.2
pyyaml==6.0.2
redis==6.1.0
regex==2022.3.2
requests==2.32.4
requests-ntlm==1.2.0
requests-toolbelt==0.9.1
rule-engine==4.5.3
sarge==0.1.7.post1
setproctitle==1.3.2
simple-parsing==0.0.17
sortedcontainers==2.4.0
SQLAlchemy==1.4.54
stroll==1.1.0
stevedore==3.5.0
texttable==1.6.1
typing-utils==0.1.0
tzlocal==5.3.1
urllib3==1.26.20
watchdog==6.0.0
werkzeug==3.1.3

zato-ext-concurrent-log-handler==0.9.1
zato-ext-inotifyx==0.3.1; sys_platform == 'linux'
zato-ext-paodate==1.3
zato-ext-python-tds==1.11.2
zato-ext-simple-rbac==0.1.1

ciso8601==2.2.0; sys_platform == 'linux'
sh==1.14.3; sys_platform == 'linux'
portalocker==2.6.0; sys_platform == 'linux'
psycopg2-binary==2.9.5; sys_platform == 'linux'
python-ldap==3.4.5; sys_platform == 'linux'
pywin32==305; platform_system == "Windows"
