global
    spread-checks 5
    # http://kvz.io/blog/2010/08/11/haproxy-logging/
    log 127.0.0.1:514 local0
    stats socket /home/svcsadm/env/qs-1/load-balancer/haproxy-stat.sock # ZATO global:stats_socket
    #debug

defaults
    log global
    mode http
    option httpclose
    option forwardfor

    timeout connect 15000 # ZATO defaults:timeout connect
    timeout client 15000 # ZATO defaults:timeout client
    timeout server 15000 # ZATO defaults:timeout server

    errorfile 503 /home/svcsadm/env/qs-1/load-balancer/config/repo/503.http

    stats enable
    stats realm   Haproxy\ Statistics
    stats uri /zato-lb-stats # ZATO defaults:stats uri
    stats auth    admin1:c4352dfd88664eb59376be918a92c397
    stats refresh 5s

backend zato
    balance roundrobin

    # ZATO begin backend zato
    server http_plain--server1 127.0.0.1:17010 check inter 2s rise 2 fall 2 # ZATO backend bck_http_plain:server--server1
    server http_plain--server2 127.0.0.1:17011 check inter 2s rise 2 fall 2 # ZATO backend bck_http_plain:server--server2
    # ZATO end backend zato

backend webb
    server ops-web localhost:8000 check inter 5000 fastinter 1000 fall 1 weight 50
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }

frontend front_http_plain

    option httplog # ZATO frontend front_http_plain:option log-http-requests
    bind 0.0.0.0:11223  # ZATO frontend front_http_plain:bind
    bind 0.0.0.0:11224 ssl crt /home/svcsadm/tls/foxway.pem ciphers ECDHE-RSA-AES128-GCM-SHA256:!ECDHE-RSA-RC4-SHA:ECDHE-RSA-AES128-SHA:AES128-GCM-SHA256:!RC4:HIGH:!MD5:!aNULL:!EDH:!CAMELLIA no-sslv3  # ZATO frontend  front_http_tls:bind
    acl webb path_beg -i /ops
    use_backend webb if webb
    maxconn 200 # ZATO frontend front_http_plain:maxconn
    monitor-uri /zato-lb-alive # ZATO frontend front_http_plain:monitor-uri
    default_backend zato


