Source: zato
Section: net
Priority: optional
Maintainer: Dariusz Suchojad <dsuch@gefira.pl>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: http://www.gefira.pl

Package: zato
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Zato - the open-source ESB and application server
 Zato is the open-source ESB and application server created
 by pragmatists for pragmatists. Out of the box Zato sports a slick admin
 panel, clustering, load-balancing, failover, hot-deployment, access to SQL
 databases, HTTP(S), JMS, AMQP, ZeroMQ, FTP(S), run-time cache based on
 memcached, dictionaries,  WS-Security, SSL auth, HTTP basic auth, powerful
 scheduling, monitoring and statistics.
 .
 This package installs base dependencies and sets up the operating system's
 users along with the required security policy based on AppArmor. After
 installing the  package you still need to perform an additional step outlined
 at TODO: add link here.
 .
