{% extends "zato/index.html" %}

{% block html_title %}SSL config{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ssl-config.css">
{% endblock %}

{% block "extra_js" %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/ssl-config.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $(document).ready(function() {
        $.fn.zato.ssl_config.init({{ ssl_config_json|safe }});
    });
    </script>
{% endblock %}

{% block "content" %}

<div id="markup">
<h2 class="zato"><img class="header-logo" src="/static/gfx/logos/lets-encrypt.webp" alt="Let's Encrypt logo">SSL config</h2>

<div class="ssl-config-container" id="ssl-config">
    <div class="ssl-config-card">

        <div class="ssl-config-row">
            <label class="ssl-config-label" for="ssl-config-is-enabled">Use Let's Encrypt</label>
            <input type="checkbox" id="ssl-config-is-enabled" onchange="$.fn.zato.ssl_config.set_lets_encrypt(this.checked)" />
            <span class="ssl-config-message" id="ssl-config-message">
                <img class="info-spinner ssl-config-message-spinner" src="/static/gfx/spinner.svg" alt="">
                <span class="ssl-config-message-text" id="ssl-config-message-text"></span>
            </span>
        </div>

        <div class="ssl-config-row">
            <label class="ssl-config-label">Public IP</label>
            <span class="zato-time-ago-spinner ssl-config-spinner" id="ssl-config-public-ip-spinner"></span>
            <span class="ssl-config-value ssl-config-fade" id="ssl-config-public-ip"></span>
        </div>

        <div class="ssl-config-row">
            <label class="ssl-config-label">Public DNS name</label>
            <span class="zato-time-ago-spinner ssl-config-spinner" id="ssl-config-public-dns-name-spinner"></span>
            <span class="ssl-config-value ssl-config-fade" id="ssl-config-public-dns-name"></span>
        </div>

        <div class="ssl-config-row">
            <label class="ssl-config-label">Is port 443 reachable?</label>
            <span class="ssl-config-value" id="ssl-config-port-ready"></span>
            <span class="zato-time-ago" id="ssl-config-port-check" data-time-ago-id="port_check" data-time-ago-title="Port 443 checked" data-time-ago-row-label="Checked"></span>
            <a href="javascript:void(0)" class="ssl-config-link" id="ssl-config-check-port" onclick="$.fn.zato.ssl_config.check_port()">Check</a>
            <span class="ssl-config-hint" id="ssl-config-port-error"></span>
        </div>

        <div class="ssl-config-row">
            <label class="ssl-config-label">Last check</label>
            <span class="ssl-config-value" id="ssl-config-last-check-result"></span>
            <span class="zato-time-ago" id="ssl-config-last-check" data-time-ago-id="last_check" data-time-ago-title="Certificate checked" data-time-ago-row-label="Checked"></span>
            <span class="ssl-config-hint" id="ssl-config-last-check-error"></span>
        </div>

        <div class="ssl-config-row">
            <label class="ssl-config-label">Names</label>
            <span class="ssl-config-value" id="ssl-config-names"></span>
        </div>

        <div class="ssl-config-row">
            <label class="ssl-config-label">Issuer</label>
            <span class="ssl-config-value" id="ssl-config-issuer"></span>
        </div>

        <div class="ssl-config-row">
            <label class="ssl-config-label">Expires in</label>
            <span class="zato-time-ago" id="ssl-config-expires" data-time-ago-id="certificate" data-time-ago-direction="future"></span>
        </div>

    </div>
</div>

</div>

{% endblock %}
