<table style="width:100%">
    <tr id="{{ side }}-mean-tr">
        <td class="inline_header">
            Slowest services (ms)
            <div style="width:20%;text-align:right;float:right"><a id="{{ side }}-mean-csv" href="" class="{{ side }}-csv hidden">(CSV)</a></div>
            <div class="{{ side }}-date hidden" style="margin-top:2px;text-align:left">
                <a href="#" style="text-decoration:none">&larr;</a> 
                    <span class="form_hint">2012-04-12 03:23 - 2012-04-16 23:23</span> 
                <a href="#" style="text-decoration:none">&rarr;</a>
            </div>
        </td>
    </tr>
    
    <tr class="{{ side}}-loading-tr">
        <td>
            <div class="loading" style="height:30px;line-height:30px">&nbsp;</div>
        </td>
    </tr>
    
    <tr id="{{ side }}-usage-tr">
        <td class="inline_header">Most commonly used
            <div style="width:20%;text-align:right;float:right"><a id="{{ side }}-usage-csv" href="" class="{{ side }}-csv hidden">(CSV)</a></div>
            <div class="{{ side }}-date hidden" style="margin-top:2px;text-align:left">
                <a href="#" style="text-decoration:none">&larr;</a> 
                    <span class="form_hint">2012-04-12 03:23 - 2012-04-16 23:23</span> 
                <a href="#" style="text-decoration:none">&rarr;</a>
            </div>
        </td>
    </tr>
    
    <tr class="{{ side}}-loading-tr">
        <td>
            <div class="loading" style="height:30px;line-height:30px">&nbsp;</div>
        </td>
    </tr>
    
</table>