{% extends "zato/index.html" %}

{% block extra_css %}

<style type="text/css">
    .default {
        background-color: #f3f3f3;
    }  
    
    .hover {
        background-color: #f0ff6e;
    }  
</style>
{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="/static/js/underscore.string.min.js"></script>
    
    <script type="text/javascript" src="/static/jquery/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/stats/top-n.js"></script>
{% endblock %}

{% block content %}

{% if not zato_clusters %}
    <p>
    There aren't any Zato clusters registered with this ZatoAdmin instance.
    <a href="{% url cluster %}" class="common">Click here</a> to register a new cluster first.
    <br/><br/>
    </p>
{% else %}

<h2 class="zato">Statistics : Top N : {{ label }}</h2>

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>


    <div class="prompt">
    {% if not cluster_id %}
        Choose a cluster to browse the statistics for
    {% endif %}

    <form action="." method="get">
        {{ choose_cluster_form.cluster }}
        <input type="submit" value="Show statistics" />
    </form>
    </div>

{% if cluster_id %}

<div id="markup">
    <table id="data-table">
        <tr>
            <td style="text-align:right">
                <form action="." method="GET">
                    Show {{ n_form.n }}  items <input type="submit" value="OK" />
                    <input type="hidden" name="start" id="left_start" value="{{ start }}" />
                    <input type="hidden" name="stop" id="left_stop" value="{{ stop }}" />
                    <input type="hidden" name="cluster" id="cluster_id" value="{{ cluster_id }}" />
                </form>
                
            </td>
            <td style="text-align:right">
                Compare to: 
                    {{ compare_form.compare_to }} 
            </td>
        </tr>
        <tr id="comparison_tr" style="display:none">
            <td colspan="2" style="text-align:right">
                <span id="custom-span" style="display:none">
                    <span id="custom-start">2012-04-12 03:23</span> - <span id="custom-end">2012-04-16 23:23</span>
                </span>
                <a href="#">(Dowlonad the comparison in CSV)</a>
            </td>
        </tr>
        <tr>
            <td id="left-side" style="width:50%">
                {% include "zato/stats/top-n-table.html" with side="left"%}
            </td>

            <td id="right-side" style="width:50%;display:none">
                {% include "zato/stats/top-n-table.html" with side="right"%}
            </td>
        </tr>
    </table>
</div>

{% endif %} {% comment %}cluster_id{% endcomment %}
{% endif %} {% comment %}zato_clusters{% endcomment %}


{% endblock %}
