{% extends "zato/index.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
    
    <script type="text/javascript" src="/static/jquery/jquery.sparkline.min.js"></script>
    
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/stats/top-n.js"></script>
{% endblock %}

{% block content %}

{% if not zato_clusters %}
    <p>
    There aren't any Zato clusters registered with this ZatoAdmin instance.
    <a href="{% url cluster %}" class="common">Click here</a> to register a new cluster first.
    <br/><br/>
    </p>
{% else %}

<h2 class="zato">Statistics : Top N : {{ label }}</h2>

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>


    <div class="prompt">
    {% if not cluster_id %}
        Choose a cluster to browse the statistics for
    {% endif %}

    <form action="." method="get">
        {{ choose_cluster_form.cluster }}
        <input type="submit" value="Show statistics" />
    </form>
    </div>

{% if cluster_id %}

<div id="markup">
    <table id="data-table">
        <tr>
            <td>
                <form action="." method="GET">
                    Show {{ n_form.n }}  items <input type="submit" value="OK" />
                    <input type="hidden" name="start" value="{{ start }}" />
                    <input type="hidden" name="stop" value="{{ stop }}" />
                    <input type="hidden" name="cluster" id="cluster_id" value="{{ cluster_id }}" />
                </form>
                
            </td>
            <td style="text-align:right">
                Compare to: 
                    {{ compare_form.compare_to }} 
            </td>
        </tr>
        <tr id="comparison_tr" style="display:none">
            <td colspan="2" style="text-align:right">
                <span id="custom-span" style="display:none">
                    <span id="custom-start">2012-04-12 03:23</span> - <span id="custom-end">2012-04-16 23:23</span>
                </span>
                <a href="#">(Dowlonad the comparison in CSV)</a>
            </td>
        </tr>
        <tr>
            <td id="left-side" style="width:50%">
                <table style="width:100%">
                    <tr>
                        <td class="inline_header">Slowest services (ms)
                            <div style="width:20%;text-align:right;float:right"><a href="#">(CSV)</a></div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td style="width:4%"></td>
                                    <td></td>
                                    <td style="text-align:right">Mean</td>
                                    <td style="text-align:right">Avg mean</td>
                                    <td style="text-align:right">Trend</td>
                                </tr>
                                
                                
                            {% for item in slowest %}
                                
                                <tr>
                                    <td>{{ item.position }}</td>    
                                    <td><a href="{% url service-details item.service_name %}?cluster={{ cluster_id }}">{{ item.service_name }}</a></td>
                                    <td style="text-align:right">{{ item.value|floatformat:"0" }}</td>
                                    <td>{{ item.average }}</td>    
                                    <td><span class="trend">{{ item.trend }}</span></td>
                                </tr>
                                
                            {% endfor %}
                                
                                
                            </table>
                            <br/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="inline_header">Most commonly used
                            <div style="width:20%;text-align:right;float:right"><a href="#">(CSV)</a></div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td style="width:4%"></td>
                                    <td></td>
                                    <td style="text-align:right">Usage</td>
                                    <td style="text-align:right">%</td>
                                    <td style="text-align:right">Req/s</td>
                                    <td style="text-align:right">Trend</td>
                                </tr>
                                
                            {% for item in most_used %}
                                
                                <tr>
                                    <td>{{ item.position }}</td>    
                                    <td><a href="{% url service-details item.service_name %}?cluster={{ cluster_id }}">{{ item.service_name }}</a></td>
                                    <td style="text-align:right">{{ item.value|floatformat:"0" }}</td>
                                    <td>{{ item.percent }}</td>    
                                    <td>{{ item.rate }}</td>
                                    <td><span class="trend">{{ item.trend }}</span></td>
                                </tr>
                                
                            {% endfor %}
                                
                                
                            </table>
                        </td>
                    </tr>
                    
                </table>
            </td>

            <td id="right-side" style="width:50%;display:none">
                <table style="width:100%">
                    <tr>
                        <td class="inline_header">Slowest services 
                            <div style="width:20%;text-align:right;float:right"><a href="#">(CSV)</a></div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td style="width:60%"></td>
                                    <td style="width:60%"></td>
                                    <td style="text-align:right">Mean (ms)</td>
                                    <td style="text-align:right">Trend</td>
                                </tr>

                            {% for item in slowest %}
                                
                                <tr>
                                    <td>{{ item.position }}</td>    
                                    <td><a href="#">zato.kvdb.data_dict.translation.GetList</a></td>
                                    <td style="text-align:right">2381</td>
                                    <td></td>
                                </tr>
                                
                            {% endfor %}


                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="inline_header">Most commonly used
                            <div style="width:20%;text-align:right;float:right"><a href="#">(CSV)</a></div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td style="width:50%"></td>
                                    <td style="text-align:right">Usage</td>
                                    <td style="text-align:right">%</td>
                                    <td style="text-align:right">Req/s</td>
                                    <td style="text-align:right">Trend</td>
                                </tr>
                                <tr>
                                    <td><a href="#">zato.kvdb.data_dict.translation.GetList</a></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </table>
</div>

{% endif %} {% comment %}cluster_id{% endcomment %}
{% endif %} {% comment %}zato_clusters{% endcomment %}


{% endblock %}
