{% extends "zato/index.html" %}

{% block extra_css %}
    <style type="text/css">
        .yui-pe .yui-pe-content {
            display:none;
        }
    </style>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/yui/build/yuiloader/yuiloader-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/element/element-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/container/container-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/menu/menu-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/button/button-min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} Service JS {% endcomment %}
    <script type="text/javascript" src="/static/js/service.js"></script>

    </script>

{% endblock %}

{% block content %}
<h2 class="zato">Services</h1>

<div class="item-details">

    <div class="item-details-header">
        <a class="common" href="{% url service %}?server={{ server.id }}">{{ server.name }} {{ server.address }}</a>
        :
        {{ service.name }}
    </div>
    <div class="item-details-body">
        Usage count: {{ service.usage_count }} <a class="common" href="#">(statistics)</a>
        <br/>
        Response time min/max/avg/last (ms): 83/1876/212/735 <a class="common" href="#">(statistics)</a>
        <br/>
        Channels: <a class="common" href="#">SOAP</a>
        (<a class="common" href="#">WS-Security</a>, <a class="common" href="#">SSL</a>),
        <a class="common" href="#">JMS</a>,
        <a class="common" href="#">(update)</a>
        <br/>
        Request/response: <a class="common" href="#">Download a sample pair</a>,
            <a class="common" href="#">Monitoring</a>
        <br/>
        Deployment time: {{ service.deployment_time|date:"D d M Y H:i:s"}} <!-- TODO: Should be customizable -->
        by
            <a class="common" href="#">{{ service.deployment_user }}</a>
        <br/>
        Duplicates: none
        <br/>
        .egg: <a class="common" href="#">{{ service.egg_path }}</a>
        <br/>
        <br/>

        <form action="invoke">
            <textarea style="width:100%; height:350px"></textarea>
            <br/>
            <input type="submit" value="Invoke service directly" />
        </form>

    </div>

</div>


{% endblock %}
