{% extends "zato/index.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
<h2 class="zato">Services : Overview : <a href="{% url service-details service.name %}?cluster={{ cluster_id }}" class="common">{{ service.name }}</a></h2>

<div class='page_prompt'>
    <a href="{% url service-source-code service.name cluster_id %}" class="common">Source code</a>
    <a href="{% url service-wsdl service.name cluster_id %}" class="common">WSDL</a>
    <a href="{% url service-request-response service.name cluster_id %}" class="common">Request/response</a>
</div>

<div id="markup">
        <table id="data-table">
            <tr>
                <td class='inline_header'>
                    Overview
                </td>
            </tr>
            <tr>
                <td>
                
    <div class="item-details-body">
        Usage count: {{ service.usage_count }} <a class="common" href="#">(statistics)</a>
        <br/>
        Response time min/max/avg/last (ms): 83/1876/212/735  <a class="common" href="#">(statistics)</a>
        <br/>
        Channels: <a class="common" href="#">SOAP</a>,
        <a class="common" href="#">JMS WebSphere MQ</a>
        <br/>
        Deployment info: {{ service.deployment_info }}
        <br/>
        <br/>

        <form action="{% url service-invoke service.id cluster_id %}">
            <textarea style="width:100%; height:350px"></textarea>
            <br/>
            <input type="submit" value="Invoke the service directly" />
        </form>
        
        </div>                    

        </table>
</div>


{% endblock %}
