{% extends "zato/index.html" %}

{% block extra_css %}
    <style type="text/css">
        .yui-pe .yui-pe-content {
            display:none;
        }
    </style>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/yui/build/yuiloader/yuiloader-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/element/element-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/datasource/datasource-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/connection/connection-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/datatable/datatable-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/container/container-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/menu/menu-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/button/button-min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} Service JS {% endcomment %}
    <script type="text/javascript" src="/static/js/service.js"></script>

    </script>

{% endblock %}

{% block content %}
<h2 class="zato">Services</h1>

{% if not zato_servers %}
    <p>
    There aren't any Zato servers registered with this ZatoAdmin instance.
    <a href="{% url servers %}" class="common">Click here</a> to register a new server first.
    <br/><br/>
    </p>
{% else %}

    <div id="user-message-div" style="display:none"><pre id="user-message"></pre><br/><br/></div>

    {% if not server_id %}
        Choose a server to manage the services.
        <br/><br/>
    {% endif %}

    <form action="." method="get">
        {{ choose_server_form.server }}
        <input type="submit" value="Show services" />
        <a class="common" href="#">More options (TODO: regexp search)</a>
    </form>


    {% if server_id %}

        <br/>

        <input type="hidden" id="current_server_id" value="{{ server_id }}" />

        {% if services %}
            <a id="start_selected" name="start_selected" href="#">Start selected</a>
            <a id="stop_selected" name="stop_selected" href="#">Stop selected</a>
        {% endif %}


        <a id="deploy_egg" name="deploy_egg" href="#">Deploy an .egg</a>
        <a id="download_egg" name="download_egg" href="#">Download selected .eggs</a>

        <br/><br/>

        <script type="text/javascript">
        YAHOO.util.Event.addListener(window, "load", function() {
            YAHOO.example.EnhanceFromMarkup = function() {
                data_column_defs = [
                    {key:"service_selection", label:"", sortable:false},
                    {key:"service_data", label:"Service", sortable:true},
                    {key:"usage_count", label:"Usage count", sortable:true},
                    {key:"is_active", label:"State", sortable:true},
                ];

                data_ds = new YAHOO.util.DataSource(YAHOO.util.Dom.get("data-table"));
                data_ds.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
                data_ds.responseSchema = {
                    fields: [{key:"service_selection"},
                            {key:"service_data"},
                            {key:"usage_count"},
                            {key:"is_active"},
                    ]
                };

                data_dt = new YAHOO.widget.DataTable("markup", data_column_defs, data_ds,
                        {sortedBy:{key:"service_data",dir:"desc"}}
                );

                return {
                    oDS: data_ds,
                    oDT: data_dt
                };
            }();

        });
        </script>

        <div id="markup">
            <table id="data-table">
                <thead>

                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                {% for service in services %}

                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                                <a href="/zato/service/details/{{ server_id }}/{{ service.name }}/" class="common">{{ service.name }}</a>
                            <br/>
                            <span style="font-size:10px;">
                                <a href="#" style="color:#282828;text-decoration:none">SOAP</a>

                                (<a href="#" style="color:#282828;text-decoration:none">WS-Security</a>),
                                <a href="#" style="color:#282828;text-decoration:none">JMS</a>,

                                <a href="#" style="color:#282828;text-decoration:none">Plain HTTP</a>
                            <br/>
                            <a href="#" style="color:#282828;text-decoration:none">{{ service.egg_path }}</a></span>
                        </td>
                        <td>{{ service.usage_count }}</td>
                        <td>Running</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    {% endif %} {% comment %}server_id{% endcomment %}

{% endif %}{% comment %}not zato_servers{% endcomment %}

{% endblock %}
