{% extends "zato/index.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fileuploader.css">
{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/service/details.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/fileuploader.js"></script>
    
    <script>
    
        var on_upload_complete = function(id, file_name, response){
            if(response.success) {
                var html = '<a href="{% url service-wsdl-download service.name cluster_id %}" class="common">Click to download</a>';
                html += '<br/>';
                html += '<div style="margin-top:7px">Direct address: {{ wsdl_public_url }}</div>';
                $('#td_wsdl').html(html);
                $.fn.zato.user_message(true, 'WSDL uploaded');
            }
            else {
                $.fn.zato.user_message(false, response.response);
            }
        };    
    
        function create_uploader(){
            var uploader = new qq.FileUploader({
                element: $('#uploader')[0],
                action: 'cluster/{{ cluster_id }}/upload/',
                onComplete: on_upload_complete,
                debug: true
            });
        }
        window.onload = create_uploader;
        
    </script>

{% endblock %}

{% block content %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Services : <a href="{% url service %}?cluster={{ cluster_id }}&amp;highlight={{ service.id }}" class="common">{{ service.name }}</a> : Sample request/response</h2>

<div class='page_prompt'>
    <a href="{% url service-details service.name %}?cluster={{ cluster_id }}" class="common">Overview</a>
    <a href="{% url service-source-info service.name %}?cluster={{ cluster_id }}" class="common">Source code</a>
    <a href="{% url service-wsdl service.name %}?cluster={{ cluster_id }}" class="common">WSDL</a>
    <a href="{% url service-request-response service.name %}?cluster={{ cluster_id }}" class="common current">Sample request/response</a>
</div>

<div id="markup">
    <table id="data-table">
        <tr>
            <td class='inline_header'>Configuration</td>
        </tr>
        <tr>
            <td>
                One in how many request/response pairs should be stored? 
                
                <input type="text" id="sample_req_resp_freq" name="sample_req_resp_freq" style="width:5%" value="{{ service.sample_req_resp_freq }}"/>
                <input type="hidden" id="service_name" name="service_name" value="{{ service.name }}"/>
                <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}"/>
                <input type="submit" value="OK" />
            </td>
        </tr>
        <tr>
            <td class='inline_header'>Sample request</td>
        </tr>
        <tr>
            <td>{% if service.sample_request %}{{ service.sample_request }}{% else %}(None){% endif %}</td>
        </tr>
        <tr>
            <td class='inline_header'>Sample response</td>
        </tr>
        <tr>
            <td>{% if service.sample_response %}{{ service.sample_response }}{% else %}(None){% endif %}</td>
        </tr>
    </table>
</div>


{% endblock %}
