{% extends "zato/index.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/pygments.css">
{% endblock %}

{% block extra_js %}

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/service/details.js"></script>
    
    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>

{% endblock %}

{% block content %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Services : Source code : <a href="{% url service-source-info service.name %}?cluster={{ cluster_id }}" class="common">{{ service.name }}</a></h2>

<div class='page_prompt'>
    <a href="{% url service-details service.name %}?cluster={{ cluster_id }}" class="common">Overview</a>
    <a href="{% url service-wsdl service.name cluster_id %}" class="common">WSDL</a>
    <a href="{% url service-request-response service.name cluster_id %}" class="common">Request/response</a>
</div>

<div id="markup">
        <table id="data-table">
            <tr>
                <td class='inline_header'>Server</td>
            </tr>
            <tr>
                <td>{{ service.source_info.server_name }}</td>
            </tr>
            <tr>
                <td class='inline_header'>Path</td>
            </tr>
            <tr>
                <td>{{ service.source_info.path }}</td>
            </tr>
            <tr>
                <td class='inline_header'>Hash</td>
            </tr>
            <tr>
                <td>{{ service.source_info.hash_method }} {{ service.source_info.hash }}</td>
            </tr>
            <tr>
                <td class='inline_header'>Source</td>
            </tr>
            <tr>
                <td style="background-color:#eeffcc">{{ service.source_info.source_html|safe }}</td>
            </tr>
        </table>
</div>


{% endblock %}
