{% extends "zato/index.html" %}

{% block html_title %}Live message browser{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/message/live_browser.js"></script>

    {% if cluster_id %}

    <script type='text/javascript'>
        $(document).ready(function() {

            $.fn.zato.message.live_browser.WebSocketClient = new Class({

                initialize: function(address, username, secret) {

                    var self = this;

                    this.address = address;
                    this.username = username;
                    this.secret = secret;

                    this.auth_token = '';
                    this.is_authenticated = false;
                    this.is_connected = false;
                    this.auth_req_id = 'zato.web.admin.ws.auth.' + $.fn.zato.get_random_string();

                    console.log('Connecting to '+ this.address);

                    // WebSocket client
                    this.conn = new WebSocket(this.address);
                    this.conn.onopen = this.on_open;
                    this.conn.onclose= this.on_close;
                    this.conn.onmessage = this.on_message;

                },

                authenticate: function() {
                    req = {};
                    req.meta = {};
                    req.meta.action = 'authenticate';
                    req.meta.sec_type = 'jwt';
                    req.meta.id = this.auth_req_id;
                    req.meta.client_name = 'zato.web.admin.live.message.browser ('+ window.navigator.userAgent + ')';
                    req.meta.client_id = 'zato.wa.msg.browser.' + $.fn.zato.get_random_string();
                    req.meta.id = this.auth_req_id;
                    req.meta.username = self.username;
                    req.meta.secret = self.secret;

                    self.send(req);
                    self.auth_req_sent = true;

                },

                send: function(req) {
                    var req = JSON.stringify(req)
                    console.log('Sending '+ req);
                    self.conn.send(req);
                },

                on_open: function() {
                    console.log('Opened connection to ' + self.address);
                    self.authenticate();
                },

                on_close: function() {
                    if(self.is_connected) {
                        console.log('Closed connection to ' + self.address);
                    }
                },

                on_message: function(e) {
                    console.log('Received message ' + e.data);
                    var msg = JSON.parse(e.data);

                    if(!self.is_authenticated) {
                        if(msg.meta.status == 200) {
                            if(msg.meta.in_reply_to != self.auth_req_id) {
                                console.warn('Received reply to an unknown request');
                            }
                            else {
                                console.log('User '+ self.username + ' logged in to '+ self.address);
                                self.auth_token = msg.data.token;
                                self.is_authenticated = true;
                                self.is_connected = true;
                            }
                        }
                        else {
                            console.warn('Did not receive status 200, cannot continue');
                        }
                    }
                }

            });

            $.fn.zato.message.live_browser.credentials_loaded = function(data, status) {
                if(status=='success') {
                    console.log('Credentials loaded '+ JSON.stringify(data));
                    var data = JSON.parse(data.responseText);
                    var client = new $.fn.zato.message.live_browser.WebSocketClient(data.address, data.username, data.jwt_token);

                    // Creates a globally accessible object
                    self = client;

                }
                else {
                    console.warn(data);
                }
            }

            $.fn.zato.post('/zato/messages/live-browser/get-connection-details?cluster=' + $.fn.zato.get_url_param('cluster'),
                $.fn.zato.message.live_browser.credentials_loaded);

        });
    </script>

    {% endif %}

{% endblock %}

{% block "content" %}
<h2 class="zato">Live message browser</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

{% include "zato/search-form.html" with page_prompt="Show messages"%}


    {% if cluster_id %}

        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th><a href="#">Timestamp</a></th>
                        <th><a href="#">ID</a></th>
                        <th><a href="#">Type</a></th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Details</a></th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='8'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

    {% endif %} {% comment %}cluster_id{% endcomment %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
