{% extends "zato/index.html" %}

{% block html_title %}Live message browser{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script type="text/javascript" src="/static/js/common.js"></script>
    {% if cluster_id %}
        <script type="text/javascript" src="/static/js/message/live_browser.js"></script>
    {% endif %}

{% endblock %}

{% block "content" %}
<h2 class="zato">Live message browser</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    {% include "zato/user-message.html" %}

{% include "zato/search-form.html" with page_prompt="Subscribe"%}


    {% if cluster_id %}

        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th><a href="#">Timestamp</a></th>
                        <th><a href="#">ID</a></th>
                        <th><a href="#">Type</a></th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Details</a></th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='8'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

    {% endif %} {% comment %}cluster_id{% endcomment %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
