{% extends "zato/index.html" %}

{% block extra_css %}
    <style type="text/css">
        .yui-pe .yui-pe-content {
            display:none;
        }
    </style>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/yui/build/yuiloader/yuiloader-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/element/element-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/datasource/datasource-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/json/json-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/animation/animation-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/connection/connection-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/datatable/datatable-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/element/element-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/button/button-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/dragdrop/dragdrop-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/container/container-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/cookie/cookie-min.js"></script>

    {% comment %} Validation framework {% endcomment %}
    <script type="text/javascript" src="/static/js/prototype/prototype.js"></script>
    <script type="text/javascript" src="/static/js/validation/validation.js"></script>

    {% comment %} Scriptaculous effects {% endcomment %}
    <script type="text/javascript" src="/static/js/effects.js"></script>

    {% comment %} String formatting {% endcomment %}
    <script type="text/javascript" src="/static/js/stringformat.js"></script>
    
    {% comment %} Common JS {% endcomment %}
    <script type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} HTTP Basic Auth {% endcomment %}
    <script type="text/javascript" src="/static/js/security/basic-auth.js"></script>

    </script>

{% endblock %}

{% block content %}
<h2 class="zato">HTTP Basic Auth</h1>

{% if not zato_clusters %}
    <p>
    There aren't any Zato clusters registered with this ZatoAdmin instance.
    <a href="{% url clusters %}" class="common">Click here</a> to register a new cluster first.
    <br/><br/>
    </p>
{% else %}

    <div id="user-message-div" style="display:none"><pre id="user-message"></pre><br/><br/></div>

    {% if not cluster_id %}
        Choose a cluster to manage HTTP Basic Auth definitions.
        <br/><br/>
    {% endif %}

    <form action="." method="get">
        {{ choose_cluster_form.cluster }}
        <input type="submit" value="Show definitions" />
    </form>


    {% if cluster_id %}

        <br/>
        <a href="javascript:create('{{ cluster_id }}')" class="common">Create a new HTTP Basic Auth definition</a>
        <br/><br/>

        <script type="text/javascript">
        YAHOO.util.Event.addListener(window, "load", function() {
            YAHOO.example.EnhanceFromMarkup = function() {
                data_column_defs = [
                    {key:"id", label:"id", hidden:true},
                    {key:"selection", label:"", sortable:false},
                    {key:"name", label:"Name", sortable:true},
                    {key:"is_active", label:"Active", sortable:true},
                    {key:"username", label:"Username", sortable:true},
                    {key:"domain", label:"Domain", sortable:true},
                    {key:"edit", label:"&nbsp;", sortable:false},
                    {key:"change_password", label:"&nbsp;", sortable:false},
                    {key:"delete", label:"&nbsp;", sortable:false},
                ];

                data_ds = new YAHOO.util.DataSource(YAHOO.util.Dom.get("data-table"));
                data_ds.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
                data_ds.responseSchema = {
                    fields: [
                            {key:"id"},
                            {key:"selection"},
                            {key:"name"},
                            {key:"is_active"},
                            {key:"username"},
                            {key:"domain"},
                            {key:"edit"},
                            {key:"change_password"},
                            {key:"delete"},
                    ]
                };

                data_dt = new YAHOO.widget.DataTable("markup", data_column_defs, data_ds,
                        {sortedBy:{key:"name",dir:"desc"}}
                );

                return {
                    oDS: data_ds,
                    oDT: data_dt
                };
            }();

        });
        </script>
        
        <div id="create-div" class="yui-pe-content">
            <div class="hd">Create a new HTTP Basic Auth definition</div>
            <div class="bd">
                <form action="{% url security-basic-auth-create %}" method="post" id="create-form">
                    <table class="form-data" border="0">
                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Is active</td>
                            <td>{{ create_form.is_active }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Username</td>
                            <td>{{ create_form.username }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Domain</td>
                            <td>{{ create_form.domain }} </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>
        
        <div id="edit-div" class="yui-pe-content">
            <div class="hd">Edit the HTTP Basic Auth definition</div>
            <div class="bd">
                <form action="{% url security-basic-auth-edit %}" method="post" id="edit-form">
                    <table class="form-data" border="0">
                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Is active</td>
                            <td>{{ edit_form.is_active }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Username</td>
                            <td>{{ edit_form.username }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Domain</td>
                            <td>{{ edit_form.domain }} </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>
        
        <div id="change-password" class="yui-pe-content">
            <div class="hd">Change the HTTP Basic Auth definition's password</div>
            <div class="bd">
                <form action="{% url security-basic-auth-change-password %}" method="post" id="change-password-form">
                    <table class="form-data" border="0">
                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td id="change-password-name"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Password</td>
                            <td>{{ change_password_form.password1 }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Confirm password</td>
                            <td>{{ change_password_form.password2 }} 
                                <input type="hidden" id="id_change_password-id" name="id" />
                                <input type="hidden" id="id_change_password-cluster_id" name="cluster_id" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        <div id="markup">
            <table id="data-table">
                <thead>

                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                {% for item in items %}

                    <tr>
                        <td>{{ item.id }}</td>
                        <td><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{% if item.is_active %}Yes{% else %}No{% endif %}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.domain }}</td>
                        <td><a href="javascript:edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:change_password('{{ item.id }}')">Change password</a></td>
                        <td><a href="javascript:delete_('{{ item.id }}')">Delete</a></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    {% endif %} {% comment %}cluster_id{% endcomment %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
