.ace_gutter-cell {
    cursor: pointer;
}

.ace_gutter-cell:not(.ace_gutter-active-line):hover {
    background-color: rgba(var(--zato-ide-debugger-active-line), 0.08) !important;
}

.ace_gutter-cell.ace_gutter-active-line {
    background-color: rgba(var(--zato-ide-debugger-active-line), 0.12) !important;
}

.ace_gutter-cell.ace_gutter-active-line:hover {
    background-color: rgba(var(--zato-ide-debugger-active-line), 0.22) !important;
}

.ace_gutter-cell.ace_breakpoint::before,
.ace_gutter-cell.ace_breakpoint-disabled::before,
.ace_gutter-cell.ace_breakpoint-conditional::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.ace_gutter-cell.ace_breakpoint::before {
    background-color: #e51400;
}

.ace_gutter-cell.ace_breakpoint-disabled::before {
    background-color: #555555;
}

.ace_gutter-cell.ace_breakpoint-conditional::before {
    background-color: #f0a000;
}

.zato-debugger-current-line {
    position: absolute;
    background: rgba(var(--zato-ide-debugger-active-line), 0.08);
    border-left: 2px solid rgba(var(--zato-ide-debugger-active-line), 0.5);
}
