{% extends "zato/index.html" %}

{% block html_title %}Cloud - AWS S3{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/cloud/aws/s3.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',

            'name',
            '_is_active',
            'pool_size',
            'debug_level',
            '_bucket',
            'content_type',

            '_edit',
            '_delete',

            'id',
            'is_active',

            'security_id',
            'suppr_cons_slashes',
            'address',
            'metadata_',

            'bucket',
            'encrypt_at_rest',
            'storage_class'
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">AWS S3 connections</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% include "zato/search-form.html" with page_prompt="Show connections"%}


    {% if cluster_id %}
        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.cloud.aws.s3.create()">Create a new AWS S3 connection</a>
        </div>


        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Pool size</a></th>
                        <th><a href="#">Debug level</a></th>
                        <th><a href="#">Default bucket</a></th>
                        <th><a href="#">Default content type</a></th>

                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>

                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.pool_size }}</td>
                        <td>{{ item.debug_level }}</td>
                        <td>{{ item.bucket|default:"<span class='form_hint'>(None)</span>" }}</td>
                        <td>{{ item.content_type }}</td>

                        <td><a href="javascript:$.fn.zato.cloud.aws.s3.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.cloud.aws.s3.delete_('{{ item.id }}')">Delete</a></td>

                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>

                        <td class='ignore'>aws/{{ item.security_id }}</td>
                        <td class='ignore'>{{ item.suppr_cons_slashes }}</td>
                        <td class='ignore'>{{ item.address }}</td>
                        <td class='ignore'>{{ item.metadata_|default:"" }}</td>

                        <td class='ignore'>{{ item.bucket|default:"" }}</td>
                        <td class='ignore'>{{ item.encrypt_at_rest }}</td>
                        <td class='ignore'>{{ item.storage_class }}</td>

                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='16'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "cloud-aws-s3-create" %}" method="post" id="create-form">
                    <table class="form-data">

                        <tr>
                            <td style="vertical-align:middle;width:21%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Options</td>
                            <td>


                            <label>
                            Active
                            {{ create_form.is_active }}
                            </label>

                            |

                            <label>
                            Suppres slashes
                            {{ create_form.suppr_cons_slashes }}
                            </label>

                            |

                            <label>
                            Encrypt at rest
                            {{ create_form.encrypt_at_rest }}
                            </label>

                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle"></td>
                            <td>

                            <label>
                            Pool size
                            {{ create_form.pool_size }}
                            </label>

                            |

                            <label>
                            Debug level
                            {{ create_form.debug_level }}
                            </label>


                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Address</td>
                            <td>{{ create_form.address }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Default bucket</td>
                            <td>{{ create_form.bucket }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Default content type</td>
                            <td>{{ create_form.content_type }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Default storage</td>
                            <td>{{ create_form.storage_class }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Security</td>
                            <td>{{ create_form.security_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Metadata
                            <br/>
                            <span class="form_hint">(key=value pairs, each on its own line)</span>
                            </td>
                            <td>{{ create_form.metadata_ }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "cloud-aws-s3-edit" %}" method="post" id="edit-form">
                    <table class="form-data">

                        <tr>
                            <td style="vertical-align:middle;width:21%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Options</td>
                            <td>


                            <label>
                            Active
                            {{ edit_form.is_active }}
                            </label>

                            |

                            <label>
                            Suppres slashes
                            {{ edit_form.suppr_cons_slashes }}
                            </label>

                            |

                            <label>
                            Encrypt at rest
                            {{ edit_form.encrypt_at_rest }}
                            </label>

                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle"></td>
                            <td>

                            <label>
                            Pool size
                            {{ edit_form.pool_size }}
                            </label>

                            |

                            <label>
                            Debug level
                            {{ edit_form.debug_level }}
                            </label>


                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Address</td>
                            <td>{{ edit_form.address }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Default bucket</td>
                            <td>{{ edit_form.bucket }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Default content type</td>
                            <td>{{ edit_form.content_type }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Default storage</td>
                            <td>{{ edit_form.storage_class }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Security</td>
                            <td>{{ edit_form.security_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Metadata
                            <br/>
                            <span class="form_hint">(key=value pairs, each on its own line)</span>
                            </td>
                            <td>{{ edit_form.metadata_ }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>
    {% endif %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
