{% extends "zato/index.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block extra_js %}

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} HTTP Basic Auth {% endcomment %}
    <script type="text/javascript" src="/static/js/outgoing/s3.js"></script>

    <script>
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'prefix',
            'separator',
            '_change_password',
            '_edit',
            '_delete',
            'id',
            'is_active',
        ]
    }
    </script>

{% endblock %}

{% block content %}
<h2 class="zato">Outgoing S3 connections</h2>

{% if not zato_clusters %}
    <p>
    There aren't any Zato clusters registered with this ZatoAdmin instance.
    <a href="{% url clusters %}" class="common">Click here</a> to register a new cluster first.
    <br/><br/>
    </p>
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    <div class="prompt">
    {% if not cluster_id %}
        Choose a cluster to manage outgoing S3 connections
    {% endif %}

    <form action="." method="get">
        {{ choose_cluster_form.cluster }}
        <input type="submit" value="Show outgoing connections" />
    </form>
    </div>


    {% if cluster_id %}
        <div class='page_prompt'>
            <a href="javascript:$.fn.zato.outgoing.s3.create()">Create a new outgoing S3 connection</a>
        </div>


        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Prefix</a></th>
                        <th><a href="#">Separator</a></th>
                        <th><a href="#">Key sync timeout</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.prefix }}</td>
                        <td>{{ item.separator }}</td>
                        <td>{{ item.key_sync_timeout }}</td>
                        <td><a href="javascript:$.fn.zato.outgoing.s3.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.outgoing.s3.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='11'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>


        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url out-s3-create %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ create_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Prefix</td>
                            <td>{{ create_form.prefix }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Separator</td>
                            <td>{{ create_form.separator }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Key sync timeout <span class='form_hint'>(seconds)</span></td>
                            <td>{{ create_form.key_sync_timeout }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url out-s3-edit %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ edit_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Prefix</td>
                            <td>{{ edit_form.prefix }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Separator</td>
                            <td>{{ edit_form.separator }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Key sync timeout <span class='form_hint'>(seconds)</span></td>
                            <td>{{ edit_form.key_sync_timeout }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
