#data-table {
    width:100%;
    margin-top: 8px;
    margin-left: 5%;
    border:1px solid #ccc;  
    font-size:12px;
	margin-bottom:80px;
	
	counter-reset: data_table_counter;

    a {
        font-size:12px;
    }

    tr.odd {
        background-color:#fff;
    }
    
    tr.even {
        background-color:#e8e8e8;
    }
    
    td, th {
        padding:6px
    }
    
    th {
        background-color:#ccc;
        font-size:11px;
    }
    
    td {
        vertical-align:base
    }
	
	td.numbering:before { 
		content: counter(data_table_counter);
		counter-increment: data_table_counter;
	}
    
}

.form-data{
    width:100%;
	border:1px solid #666;
	padding:10px;
	font-size:12px;
	background-color:#ccc;
	color:#000;
	text-shadow: 1px 1px 0 #eee;
}

.form-data td {
    border:none;
    padding:4px;
    padding-right:12px;
}


.ui-dialog-titlebar {
    padding:10px;
    background-color:#999;
	font-size:13px;
	border:1px solid #666;
	border-bottom:none;
	text-align:left;
	text-shadow: 1px 1px 0 #aaa;
}

.form_hint {
    font-size:smaller;
    color:#333
}

.form_hint {
    font-size:smaller;
    color:#333
}
