
.AnyTime-pkr {
    z-index: 9999
}

.AnyTime-pkr .AnyTime-x-btn {
    background-color: red;
    border: 1px solid black;
    color: black;
    cursor: default;
    float: right;
    margin: 0.3em;
    text-align: center;
    width: 1.5em;
}