#console-header {
    background-color:#0e0e0e;
	border-bottom:3px solid #222
}

#logo{
    font-size:150%;
    padding:5px;
    color:#eee;
    font-weight:600;
	font-family:sans-serif;
	text-shadow: 2px 2px 0 #333;
}

#logout {
	color:#fff;
	float:right;
	font-size:11px;
	padding-top:6px;
	padding-right:7.5px;
}