 
/* 
# ##############################################################################
Reset start
http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: #f3f3f3;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*
Reset end
# ##############################################################################
*/

h2.zato {
    font-size:150%;
    margin-bottom:20px;
    color: #333b74;
    border-bottom:1px dotted #767676
}

#console-header {
    background-color:#0e0e0e;
	border-bottom:1px solid #3a3a3a
}

#console-header h1{
    font-size:150%;
    padding:6px;
    color:#eee;
    font-weight:600;
	font-family:sans-serif
}

#menu {
    background-color:#363636;
	border-bottom:1px solid #f0f0f0
}

#menu ul {
    float: left;
	font-size:11px;
	font-family: sans-serif
}
 
#menu ul li{
    display: inline;
}
 
#menu ul li a {
    float: left; 
	text-decoration: none;
    color: white;
    padding: 10.5px	5px;
	padding-bottom: 0;
	border-right:1px solid #3a3a3a;
	border-bottom: 9px solid #363636
}
 
#menu ul li a:visited {
    color: white;
}
 
#menu ul li a:hover, #menu ul li .current{
    border-bottom: 9px solid #999
}

#menu ul li a.ignore:hover{
    border-bottom: 9px solid #363636
}



.form-data{
    width:100%
}

.form-data td {
    border:none;
    border-bottom:1px solid #999999;
    border-top:1px solid #999999;
    padding:4px;
    padding-right:12px;
    background-color:#e0e0e0;
}

#footer {
    border-top:1px solid #999999;
    border-bottom:1px solid #999999;
    margin:5px 5px 0px 0px;
    padding:5px;
    background-color:#e0e0e0;
    text-align:right
}

.user-message {
    padding:6px;
    border-style:dotted;
    color:#333333;
    text-align:left;
}

.user-message-success {
    border-color:#333333;
    border-width:1px;
    background-color:#bbdd55;
}

.user-message-failure {
    border-color:red;
    border-width:2px;
    background-color:#eeee33;
}

.error-message {
    background-color:#ffccbb;
    padding:6px;
    margin-bottom:12px;
    border:1px dotted #999999;
    font-weight:600;
    color:#993333
}

.validation-advice {
    color:#cc0000
}

.options-button {
    cursor: pointer;
}

.form_hint {
    font-size:smaller;
    color:#666666
}

a.community {
    color: #225522 !important
}

div.item-details {
    background-color:#f0f0f0;
    padding:10px;
}

div.item-details-header {
    background-color:#e0e0e0;
    padding:10px;
    border-bottom: 1px solid #999999;
}

div.item-details-body {
    padding:10px;
    line-height:1.3em
    border-bottom: 1px solid #999999;
}

div.item-details-body strong{
    color:#333377
}

table.standalone-form-data td {
    border:1px solid #999999
}

/* For showing the state of servers as seen from the LB's perspective.
*/
.server-state {
    font-weight:600;
    padding:3px;
    display:inline-block;
}

.server-state.all-down {
    background-color: #ffe90a;
    border:2px solid red;
    text-transform: uppercase;
}

.server-state.some-down {
    background-color: #ffe90a;
    border:1px solid red;
}

.server-state.some-maint{
    font-weight:500;
    background-color: #8faf5d;
    border:1px solid #666666;
    color:#ffffff
}

.server-state.all-up {
    font-weight:normal;
}