 
/* 
# ##############################################################################
Reset start
http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: sans-serif;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

html {overflow-y: scroll;}

body {
	line-height: 1;
	color: black;
	background: #f3f3f3;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*
Reset end
# ##############################################################################
*/

h2.zato {
    font-size:80%;
	padding:10px;
	padding-left:4px;
    color: #222;
    border-bottom:1px dotted #767676;
	text-shadow: 1px 1px 0 #ccc
}

#console-header {
    background-color:#0e0e0e;
	border-bottom:3px solid #222
}

#logo{
    font-size:150%;
    padding:5px;
    color:#eee;
    font-weight:600;
	font-family:sans-serif;
	text-shadow: 2px 2px 0 #333;
}

#logout {
	color:#fff;
	float:right;
	font-size:11px;
	padding-top:6px;
	padding-right:7.5px;
}

#menu {
    background-color:#363636;
	border-bottom:3px solid #aaa
}

#menu ul, span.like-a {
    float: left;
	font-size:11px;
	font-family: sans-serif
}
 
#menu ul li, span.like-a{
    display: inline;
}
 
#menu ul li a, span.like-a {
    float: left; 
	text-decoration: none;
    color: white;
    padding: 10.5px	5px;
}

a {
    color: #fff;
    font-family: arial,helvetica,clean,sans-serif;
	text-decoration:none;
	padding:3px
}

a:hover {
    background-color: #e0e030;
    color:#000033;
    text-decoration:none
}


/*
	Superfish start
*/

.sf-menu {
	float:			left;
	margin-bottom:	0;
}

.sf-menu li {
	background:#363636;
}
.sf-menu li li {
	background:#363636;
}
.sf-menu li li li {
	background:#363636;
}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:#464646;
	outline:0;
}

.sf-menu a {
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	padding: 		.75em 1em;
	text-shadow: -1px -1px 0 red;
	text-decoration:none;
	display:		block;
	position:		relative;
}

span.like-a {
	color: #fff
}

.sf-menu a, span.like-a {
	text-shadow: 1px 1px 0 #000
}

.sf-menu a, .sf-menu a:visited, span.like-a  { /* visited pseudo selector so IE6 applies text colour*/
	font-size:11px;
	font-family:sans-serif;
	border: none;
	text-decoration:none;
}

.sf-sub-indicator {
	display:none;
}

/* 
	Superfish end
*/


.form-data{
    width:100%;
	border:1px solid #c3c3c3;
	padding:10px;
	background-color:#e3e3e3;
}

.form-data td {
    border:none;
    padding:4px;
    padding-right:12px;
}

#footer {
    border-top:1px solid #999999;
    border-bottom:1px solid #999999;
    margin:5px 5px 0px 0px;
    padding:5px;
    background-color:#e0e0e0;
    text-align:right
}

.user-message {
    padding:6px;
    border-style:dotted;
    color:#333333;
    text-align:left;
}

.user-message-success {
    border-color:#333333;
    border-width:1px;
    background-color:#bbdd55;
}

.user-message-failure {
    border-color:red;
    border-width:2px;
    background-color:#eeee33;
}

.error-message {
    background-color:#ffccbb;
    padding:6px;
    margin-bottom:12px;
    border:1px dotted #999999;
    font-weight:600;
    color:#993333
}

.validation-advice {
    color:#cc0000
}

.options-button {
    cursor: pointer;
}

.form_hint {
    font-size:smaller;
    color:#666666
}

a.community {
    color: #225522 !important
}

div.item-details {
    background-color:#f0f0f0;
    padding:10px;
}

div.item-details-header {
    background-color:#e0e0e0;
    padding:10px;
    border-bottom: 1px solid #999999;
}

div.item-details-body {
    padding:10px;
    line-height:1.3em
    border-bottom: 1px solid #999999;
}

div.item-details-body strong{
    color:#333377
}

table.standalone-form-data td {
    border:1px solid #999999
}

/* For showing the state of servers as seen from the LB's perspective.
*/
.server-state {
    font-weight:600;
    padding:3px;
    display:inline-block;
}

.server-state.all-down {
    background-color: #ffe90a;
    border:2px solid red;
    text-transform: uppercase;
}

.server-state.some-down {
    background-color: #ffe90a;
    border:1px solid red;
}

.server-state.some-maint{
    font-weight:500;
    background-color: #8faf5d;
    border:1px solid #666666;
    color:#ffffff
}

.server-state.all-up {
    font-weight:normal;
}