.sf-menu {
	float:			left;
	margin-bottom:	0;
}

.sf-menu li {
	background:#363636;
}
.sf-menu li li {
	background:#363636;
}
.sf-menu li li li {
	background:#363636;
}

.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:#464646;
	outline:0;
}

.sf-menu a {
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	padding: 		.75em 1em;
	text-shadow: -1px -1px 0 red;
	text-decoration:none;
	display:		block;
	position:		relative;
}

span.like-a {
	color: #fff
}

.sf-menu a, span.like-a {
	text-shadow: 1px 1px 0 #000
}

.sf-menu a, .sf-menu a:visited, span.like-a  { /* visited pseudo selector so IE6 applies text colour*/
	font-size:11px;
	font-family:sans-serif;
	border: none;
	text-decoration:none;
}

.sf-sub-indicator {
	display:none;
}