[buildout]
extends=versions.cfg
unzip = true

parts =
    cython-src
    cython-install

develop =
    zato-message-bus

[config]
cython_version = 0.14
pyyaml_version = 3.09

[zato]
recipe = zc.recipe.egg
dependent-scripts = true
interpreter = py
eggs =
    bunch
    gevent
    gevent-websocket
    lxml
    M2Crypto
    ordereddict
    springpython

[cython-src]
recipe = hexagonit.recipe.download
url = http://pypi.python.org/packages/source/C/Cython/Cython-${config:cython_version}.tar.gz

[cython-install]
recipe = iw.recipe.cmd
on_install = true
cmds = cd ${buildout:directory}/parts/cython-src/Cython-${config:cython_version}; ../../../bin/python setup.py install
