@import url(reset-fonts-grids.css);
@import url(djangodocs.css);
@import url(homepage.css);

h1, h2 {
    text-decoration: underline !important;
}

#s-the-next-generation-esb-and-application-server-open-source-in-python h1 {
    text-decoration: none !important;
}

h3, h4, h5 {
    text-decoration: none !important;
    color:#1a1722 !important;
}

#sidebar h3 {
    color:white !important;
}

.highlight .s2 {
    color:#339 !important;
}

.highlight .kc {
    color:#449 !important;
    font-weight:normal !important;
}

.highlight .bp, .highlight .nb {
    color: #337 !important;
}

.highlight .s, .highlight .s1 {
    color: #337744 !important;
}

.highlight .hll {
    background-color:#ff3 !important;
}