{% extends "zato/index.html" %}

{% block html_title %}{{ current_service_name }} - IDE{% endblock %}

{% block "content" %}

<script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/service/ide.js"></script>

<link rel="stylesheet" media="screen" href="/static/css/service/ide.css" />

<div id="main-area-container">
    <div class="item">
        <input type="hidden" id="current_fs_location" value="{{ current_fs_location }}"/>
        <div id="editor">{{ data.current_file_source_code }}</div>
    </div>
    <div id="action-area-container">
        <div id="action-area-header" data-is-expanded="false">
            <a href="javascript:$.fn.zato.ide.toggle_action_area()" class="img-button"><img src="/static/gfx/editor/resize.png" class="button" title="Resize this area" /></a>
            <select id="service-select" onchange="$.fn.zato.ide.on_service_select_changed(this);">
                <optgroup label="Current file">
                    {% for service_item in data.service_list %}
                    {% endfor %}
                </optgroup>
                <optgroup label="All services">
                {% for service_item in data.service_list %}
                    <option {% if current_service_name == service_item.name %}selected="selected"{% endif %}>{{ service_item.name }}</option>
                {% endfor %}
                </optgroup>
            </select>
        </div>
        <div id="action-area" class="item item-2">
            <table class="file-system-listing">
                <tr class="header">
                    <td colspan="2" class="header">
                        <div id="header-links-wrapper">
                            <div id="header-links-left"></div>
                            <div id="header-links-right"></div>
                        </div>
                    </td>
                </tr>
                <tr class="header">
                    <td colspan="2" class="header">
                        <span id="header-status" class="dimmed"></span>
                    </td>
                </tr>
            </table>
            <div id="file-system-listing-div">
            <table class="file-system-listing">

                {% for file_item in data.file_list %}
                    <tr class="file-listing-tr">
                        <td class="item-header"><img src="/static/gfx/editor/icons/python.png" class="fs-icon" /></td>
                        <td class="item-name"><a href="javascript:$.fn.zato.ide.on_file_selected('{{ file_item.fs_location }}')" title="{{ file_item.fs_location }}" class="fs-location-link {% if file_item.fs_location in data.current_service_files %}current{% endif %}">{{ file_item.name }}</a></td>
                    </tr>
                {% endfor %}

                <!--
                <tr class="file-listing-tr">
                    <td class="item-header"><img src="/static/gfx/editor/icons/python.png" class="fs-icon" /></td>
                    <td class="item-name"><a href="#">demo_banking.py</a></td>
                </tr>
                <tr class="file-listing-tr">
                    <td class="item-header"><img src="/static/gfx/editor/icons/python.png" class="fs-icon" /></td>
                    <td class="item-name"><a href="#">demo_healthcare_hl7_fhir.py</a></td>
                </tr>
                <tr class="file-listing-tr">
                    <td class="item-header"><img src="/static/gfx/editor/icons/python.png" class="fs-icon" /></td>
                    <td class="item-name"><a href="#"><b>demo_telco_5g.py</b> **</a></td>
                </tr>
                <tr class="file-listing-tr">
                    <td class="item-header"><img src="/static/gfx/editor/icons/python.png" class="fs-icon" /></td>
                    <td class="item-name"><a href="#">demo_telco_network_security_visibility.py</a></td>
                </tr>
                -->

                <tr colspan="2" class="invoker-tr">
                    <td class="data-input-field-name" title="This field is required">
                        customer_id *
                        <br/>
                        <input type="text" class="data-request" placeholder="customer_id"/>
                    </td>
                </tr>

                <tr colspan="2" class="invoker-tr">
                    <td class="data-input-field-name" title="This field is optional">
                        account_id
                        <br/>
                        <input type="text" class="data-request" placeholder="account_id"/>
                    </td>
                </tr>

                <tr colspan="2" class="invoker-tr">
                    <td class="data-input-field-name" title="This field is optional">
                        account_number
                        <br/>
                        <input type="text" class="data-request" placeholder="account_number"/>
                    </td>
                </tr>
                <tr colspan="2" class="invoker-tr">
                    <td>
                        <input type="button" value="Invoke" />
                    </td>
                </tr>
                <tr colspan="2" class="invoker-tr">
                    <td>
                        <br/>
                        <span class="dimmed">Response 200 OK</span> <a href="#">Copy</a>
                        <textarea id="data-response">
{
    "RecordType": "MO",
    "SystemIdentity": "ga",
    "FileNum": "54",
    "SwitchNum": "US",
    "CallingNum": "12345567",
    "CallingIMSI": "1234556700911",
    "CalledNum": "77191972",
    "CalledIMSI": "091716266251113",
    "DateS": "20220311",
    "TimeS": null,
    "TimeType": 2,
    "CallPeriod": 313,
    "CallingCellID": null,
    "CalledCellID": null,
    "ServiceType": "S",
    "Transfer": 1,
    "IncomingTrunk": null,
    "OutgoingTrunk": "3456",
    "MSRN": "817296834",
    "CalledNum2": null,
    "FCIFlag": null,
    "callrecTime": "2022-03-11T11:22:33.0000000Z",
    "EventProcessedUtcTime": "2022-03-11T11:22:33.0000000Z",
    "PartitionId": 5,
    "EventEnqueuedUtcTime": "2022-03-11T11:22:33.0000000Z"
}
                        </textarea>
                    </td>
                </tr>
            </table>
            </div>

        </div>
    </div>
    <div id="side-menu" class="item">

        <ul class="side-buttons">
            <li>
                <a href="javascript:$.fn.zato.ide.switch_to_action_area('browser')" class="img-button">
                    <img src="/static/gfx/editor/files.png" class="button" title="Browse files on server" />
                </a>
            </li>
            <li>
                <a href="javascript:$.fn.zato.ide.switch_to_action_area('invoker')" class="img-button">
                    <img src="/static/gfx/editor/play.png" class="button" title="Invoke the current service" />
                </a>
            </li>
            <li>
                <a href="javascript:$.fn.zato.ide.switch_to_action_area('info')" class="img-button">
                    <img src="/static/gfx/editor/icons/data-models.png" class="button" title="Data models" />
                </a>
            </li>
        </ul>

    </div>
  </div>

<script src="/static/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace-builds/src/ext-error_marker.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace-builds/src/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $.fn.zato.ide.init_editor("{{ data.file_count_human }}, {{ data.service_count_human }}");
</script>

{% endblock %}
