{% extends "zato/index.html" %}

{% block html_title %}{{ service.name }} - Invoker{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/service/invoker.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>

{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Services : <a href="{% url "service" %}?cluster={{ cluster_id }}&amp;highlight={{ service.id }}" class="common">{{ service.name }}</a> : Invoker</h2>

<div class='page_prompt'>
    <a href="{% url "service-overview" service.name %}?cluster={{ cluster_id }}" class="common">Overview</a>
    <a href="{% url "service-invoker" service.name %}?cluster={{ cluster_id }}" class="common current">Invoker</a>
    <a href="{% url "service-source-info" service.name %}?cluster={{ cluster_id }}" class="common">Source code</a>
    <a href="{% url "service-wsdl" service.name %}?cluster={{ cluster_id }}" class="common">WSDL</a>
    <a href="{% url "service-request-response" service.name %}?cluster={{ cluster_id }}" class="common">Sample request/response</a>
    <a href="{% url "service-slow-response" service.name %}?cluster={{ cluster_id }}" class="common">Slow responses</a>
</div>

<div id="markup">
    <table id="data-table">
        <tr>
            <td class='inline_header'>Invoke the service directly</td>
        </tr>
        <tr>
            <td>
                <form id="invoke_service_form" action="{% url "service-invoke" service.name cluster_id %}" method="post">
                {% csrf_token %}
                    <textarea style="width:100%; height:350px" id="payload" name="payload"></textarea>
                    <br/><br/>
                    
                    <table>
                        <tr>
                            <td>
                                Data format:
                            </td>
                            <td>
                                <select name="data_format" id="data_format">
                                    <option value="" selected="selected">----------</option>
                                    <option value="json">JSON</option>
                                    <option value="xml">XML</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Transport:
                            </td>
                            <td>
                                <select name="transport" id="transport">
                                    <option value="" selected="selected">----------</option>
                                    <option value="plain_http">Plain HTTP</option>
                                    <option value="soap">SOAP</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    
                    <input type="hidden" id="name" name="name" value="{{ service.name }}" />
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    
                    <div style="text-align:right">
                        <input type="submit" value="Submit" />
                    </div>
                    
                </form>
            </td>
        </tr>
    </table>
</div>


{% endblock %}
