{% extends "zato/index.html" %}

{% block html_title %}{{ service.name }} - Overview{% endblock %}

{% block "extra_css" %}

<style type="text/css">

    #docs-table * p {
        padding-bottom:15px;
        line-height:100%;
    }

    #docs-table * li{
        list-style-type: square;
        margin-left:12px;
        padding-bottom:2px;
    }
</style>

{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.sparkline.min.js"></script>

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/service/overview.js"></script>

{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Services : <a href="{% url "service" %}?cluster={{ cluster_id }}&amp;highlight={{ service.id }}" class="common">{{ service.name }}</a> : Overview</h2>

<div class='page_prompt'>
    <a href="{% url "service-overview" service.name %}?cluster={{ cluster_id }}" class="common current">Overview</a>
    <a href="{% url "service-invoker" service.name %}?cluster={{ cluster_id }}" class="common">Invoker</a>
    <a href="{% url "service-source-info" service.name %}?cluster={{ cluster_id }}" class="common">Source code</a>
    <a href="{% url "service-wsdl" service.name %}?cluster={{ cluster_id }}" class="common">WSDL</a>
    <a href="{% url "service-request-response" service.name %}?cluster={{ cluster_id }}" class="common">Sample request/response</a>
    <a href="{% url "service-slow-response" service.name %}?cluster={{ cluster_id }}" class="common">Slow responses</a>
</div>

<div id="markup">
    <table id="data-table">
        <tr>
            <td class='inline_header'>Overview</td>
        </tr>
        <tr>
            <td>
                <div class="item-details-body">
                    <table style="width:100%">
                        <tr>

                            <td style="width:25%">
                                <table>
                                    <tr>
                                        <td class='inline_header' colspan="2">Statistics</td>
                                    </tr>
                                    <tr>
                                        <td>Last response time</td>
                                        <td>{{ service.time_last|floatformat:0 }} ms</td>
                                    </tr>
                                    <tr>
                                        <td>All time usage</td>
                                        <td>{{ service.usage }}</td>
                                    </tr>
                                    <tr>
                                        <td>All time min/max/mean (ms)</td>
                                        <td>{{ service.time_min_all_time|floatformat:0 }}/{{ service.time_max_all_time|floatformat:0 }}/{{ service.time_mean_all_time|floatformat:0 }}</td>
                                    </tr>
                                    <tr>
                                        <td>1h usage</td>
                                        <td>{{ service.time_usage_1h|default:0 }}</td>
                                    </tr>
                                    <tr>
                                        <td>1h min/max/mean (ms)</td>
                                        <td>{{ service.time_min_resp_time_1h|floatformat:0|default:0 }}/{{ service.time_max_resp_time_1h|floatformat:0|default:0 }}/{{ service.time_mean_1h|floatformat:0|default:0 }}</td>
                                    </tr>
                                    <tr>
                                        <td>1h req/s</td>
                                        <td>{{ service.time_rate_1h|default:"0.0" }}</td>
                                    </tr>
                                    <tr>
                                        <td>1h mean trend</td>
                                        <td>
                                            {% if service.time_mean_trend_1h %}
                                            <span class="sparklines" id="trend_mean_1h"><!-- {{ service.time_mean_trend_1h }} --></span>
                                            {% else %}
                                            N/A
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1h req trend</td>
                                        <td>
                                            {% if service.time_usage_trend_1h %}
                                            <span class="sparklines" id="trend_rate_1h"><!-- {{ service.time_usage_trend_1h }} --></span>
                                            {% else %}
                                            N/A
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td style="width:65%">

                                {% if service.docs_full_md %}
                                <table style="width:100%;" id="docs-table">
                                    <tr>
                                        <td class='inline_header'>Documentation</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ service.docs_full_md|safe }}
                                        </td>
                                    </tr>
                                </table>
                                {% endif %}

                                <table style="width:100%">
                                    <tr>
                                        <td class='inline_header'>Channels and scheduler</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Plain HTTP: {% if not service.plain_http_channels %}<span class="form_hint">(None)</span> {% endif %}{% for item in service.plain_http_channels %}<a class="common" href="{{ item.url }}">{{ item.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
                                            SOAP: {% if not service.soap_channels %}<span class="form_hint">(None)</span> {% endif %}{% for item in service.soap_channels %}<a class="common" href="{{ item.url }}">{{ item.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
                                            AMQP: {% if not service.amqp_channels %}<span class="form_hint">(None)</span> {% endif %}{% for item in service.amqp_channels %}<a class="common" href="{{ item.url }}">{{ item.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
                                            IBM MQ: {% if not service.wmq_channels %}<span class="form_hint">(None)</span> {% endif %}{% for item in service.wmq_channels %}<a class="common" href="{{ item.url }}">{{ item.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
                                            ZeroMQ: {% if not service.zmq_channels %}<span class="form_hint">(None)</span> {% endif %}{% for item in service.zmq_channels %}<a class="common" href="{{ item.url }}">{{ item.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
                                            Scheduler: {% if not service.scheduler_jobs %}<span class="form_hint">(None)</span> {% endif %}{% for item in service.scheduler_jobs %}<a class="common" href="{{ item.url }}">{{ item.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
                                        </td>
                                    </tr>
                                </table>

                                <table style="width:100%">
                                    <tr>
                                        <td class='inline_header'>Services</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Invokes:
                                            {% if service.invokes %}
                                                {% for service_name in service.invokes %}<a href="{% url "service-overview" service_name %}?cluster={{ cluster_id }}" class="common">{{ service_name }}</a>{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <span class="form_hint">(None)</span>
                                            {% endif %}
                                            <br/>
                                            Invoked by:
                                            {% if service.invoked_by %}
                                                {% for service_name in service.invoked_by %}<a href="{% url "service-overview" service_name %}?cluster={{ cluster_id }}" class="common">{{ service_name }}</a>{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <span class="form_hint">(None)</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </div> <!-- class="item-details-body" -->
            </td>
        </tr>
        <tr>
            <td class='inline_header'>Deployment info</td>
        </tr>
        <tr>
            <td>
                {% if service.deployment_info %}
                    <table>
                    {% for item in service.deployment_info %}
                        <tr>
                            <td>{{ item.server_name }}</td>
                            <td>{{ item.details }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    (Service isn't deployed on any servers)
                {% endif %}
            </td>
        </tr>
    </table>
</div>


{% endblock %}
