{% extends "zato/index.html" %}

{% block html_title %}{{ service.name }} - Samples{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/pygments.css">
{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/service/request-response.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>

{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Services : <a href="{% url "service" %}?cluster={{ cluster_id }}&amp;highlight={{ service.id }}" class="common">{{ service.name }}</a> : Sample request/response</h2>

<div class='page_prompt'>
    <a href="{% url "service-overview" service.name %}?cluster={{ cluster_id }}" class="common">Overview</a>
    <a href="{% url "service-invoker" service.name %}?cluster={{ cluster_id }}" class="common">Invoker</a>
    <a href="{% url "service-source-info" service.name %}?cluster={{ cluster_id }}" class="common">Source code</a>
    <a href="{% url "service-wsdl" service.name %}?cluster={{ cluster_id }}" class="common">WSDL</a>
    <a href="{% url "service-request-response" service.name %}?cluster={{ cluster_id }}" 
        class="common current">Sample request/response</a>
    <a href="{% url "service-slow-response" service.name %}?cluster={{ cluster_id }}" class="common">Slow responses</a>
</div>

<div class='page_prompt'>
    <a 
    href="{% url "service-request-response" service.name %}?cluster={{ cluster_id }}&amp;pretty_print={{ pretty_print }}" 
        class="common">Toggle pretty print</a>
</div>

<div id="markup">
    <table id="data-table">
        <tr>
            <td class='inline_header'>Configuration</td>
        </tr>
        <tr>
            <td>
                One in how many request/response pairs should be stored? 
                
                <form action="{% url "service-request-response-configure" service.name cluster_id %}"
                     id="request_response_configure_form" method="post" style="padding-top:6px">
                     {% csrf_token %}
                    <input type="text" id="sample_req_resp_freq" name="sample_req_resp_freq" style="width:120px"
                         value="{{ service.sample_req_resp_freq }}"/>
                    <input type="hidden" id="service_name" name="service_name" value="{{ service.name }}"/>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}"/>
                    <input type="hidden" id="configure_url" name="configure_url" value=""/>
                    <input type="submit" value="OK" />
                    <br/>
                    <span class="form_hint">(Use 0 to disable)</span>
                </form>
            </td>
        </tr>
        <tr>
            <td class='inline_header'>CID</td>
        </tr>
        <tr>
            <td>{{ service.sample_cid|default:'(None)' }}</td>
        </tr>
        <tr>
            <td class='inline_header'>Request timestamp</td>
        </tr>
        <tr>
            <td>{{ service.sample_req_ts|default:'(None)' }}</td>
        </tr>
        <tr>
            <td class='inline_header'>Response timestamp</td>
        </tr>
        <tr>
            <td>{{ service.sample_resp_ts|default:'(None)' }}</td>
        </tr>
        <tr>
            <td class='inline_header'>Request</td>
        </tr>
        <tr>
            <td>
                {% if service.sample_req_html %}
                    {{ service.sample_req_html|safe|default:'(None)' }}
                {% else %}
                    {% if service.sample_req %}
                        {{ service.sample_req|default:'(None)' }}
                    {% else %}
                        (None)
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class='inline_header'>Response</td>
        </tr>
        <tr>
            <td>
                {% if service.sample_resp_html %}
                    {{ service.sample_resp_html|safe|default:'(None)' }}
                {% else %}
                    {% if service.sample_resp %}
                        {{ service.sample_resp|default:'(None)' }}
                    {% else %}
                        (None)
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
</div>


{% endblock %}
