{% extends "zato/index.html" %}

{% block html_title %}{{ service.name }} - Slow resp{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/service/index.js"></script>


    <script>
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'cid',
            'req_ts',
            'resp_ts',
            'proc_time',
            '_details',
        ]
    }

    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">Services : <a href="{% url "service" %}?cluster={{ cluster_id }}&amp;highlight={{ service.id }}" class="common">{{ service.name }}</a> : Slow responses</h2>

<div class='page_prompt'>
    <a href="{% url "service-overview" service.name %}?cluster={{ cluster_id }}" class="common">Overview</a>
    <a href="{% url "service-invoker" service.name %}?cluster={{ cluster_id }}" class="common">Invoker</a>
    <a href="{% url "service-source-info" service.name %}?cluster={{ cluster_id }}" class="common">Source code</a>
    <a href="{% url "service-wsdl" service.name %}?cluster={{ cluster_id }}" class="common">WSDL</a>
    <a href="{% url "service-request-response" service.name %}?cluster={{ cluster_id }}" class="common">Sample request/response</a>
    <a href="{% url "service-slow-response" service.name %}?cluster={{ cluster_id }}" class="common current">Slow responses</a>
</div>

<div class='page_prompt'>
Threshold: {{ service.slow_threshold }} ms
</div>

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}
        
        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">CID</a></th>
                        <th><a href="#">Request time</a></th>
                        <th><a href="#">Response time</a></th>
                        <th><a href="#">Processing time (ms)</a></th>
                        <th><a href="#"></a></th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.cid }}</td>
                        <td>{{ item.req_ts }}</td>
                        <td>{{ item.resp_ts }}</td>
                        <td>{{ item.proc_time }}</td>
                        <td><a href="{% url "service-slow-response-details" item.cid item.service_name %}?cluster={{ cluster_id }}" class="common">Details</a></td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='6'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

    {% endif %}

{% endblock %}
