{% extends "zato/index.html" %}

{% block html_title %}{{ service.name }} - Slow resp details{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/pygments.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/service/index.js"></script>


    <script>
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'req_time',
            'resp_time',
            'proc_time',
            '_details',
        ]
    }

    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">Services : <a href="{% url "service" %}?cluster={{ cluster_id }}&amp;highlight={{ service.id }}" class="common">{{ service.name }}</a> : Slow responses: Details : {{ item.cid|default:"(None)" }}</h2>

<div class='page_prompt'>
    <a href="{% url "service-overview" service.name %}?cluster={{ cluster_id }}" class="common">Overview</a>
    <a href="{% url "service-invoker" service.name %}?cluster={{ cluster_id }}" class="common">Invoker</a>
    <a href="{% url "service-source-info" service.name %}?cluster={{ cluster_id }}" class="common">Source code</a>
    <a href="{% url "service-request-response" service.name %}?cluster={{ cluster_id }}"
        class="common">Sample request/response</a>
    <a href="{% url "service-slow-response" service.name %}?cluster={{ cluster_id }}"
        class="common current">Slow responses</a>
</div>

{% if item.cid %}
    <div class='page_prompt'>
        <a href="{% url "service-slow-response-details" item.cid service.name %}?cluster={{ cluster_id }}&amp;pretty_print={{ pretty_print }}"
            class="common">Toggle pretty print</a>
    </div>
{% endif %}

<div id="markup">
    <table id="data-table">
        <tr>
            <td class='inline_header' style="width:90px">CID</td>
            <td colspan="3">{{ item.cid|default:"(None)" }}</td>
        </tr>
        <tr>
            <td class='inline_header' style="width:90px">Threshold</td>
            <td style="width:90px">{{ item.threshold|default:"(None)" }} {% if item.threshold %}ms{% endif %}</td>
            <td class='inline_header' style="width:110px">Processing time</td>
            <td>{{ item.proc_time|default:"(None)" }} {% if item.proc_time %}ms{% endif %}</td>
        </tr>
        <tr>
            <td class='inline_header' style="width:90px">Request time</td>
            <td style="width:140px">{{ item.req_ts|default:"(None)" }}</td>
            <td class='inline_header' style="width:90px">Response time</td>
            <td>{{ item.resp_ts|default:"(None)" }}</td>
        </tr>
        <tr>
            <td class='inline_header' colspan="4">Request</td>
        </tr>
        <tr>
            <td colspan="4">{{ item.req_html|default:'(None)'|safe }}</td>
        </tr>
        <tr>
            <td class='inline_header' colspan="4">Response</td>
        </tr>
        <tr>
            <td colspan="4">{{ item.resp_html|default:'(None)'|safe }}</td>
        </tr>
    </table>
</div>

{% endblock %}
