{% extends "zato/index.html" %}

{% block html_title %}{{ service.name }} - Source{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/pygments.css">
{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>

{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Services : <a href="{% url "service" %}?cluster={{ cluster_id }}&amp;highlight={{ service.id }}" class="common">{{ service.name }}</a> : Source code</h2>

<div class='page_prompt'>
    <a href="{% url "service-overview" service.name %}?cluster={{ cluster_id }}" class="common">Overview</a>
    <a href="{% url "service-invoker" service.name %}?cluster={{ cluster_id }}" class="common">Invoker</a>
    <a href="{% url "service-source-info" service.name %}?cluster={{ cluster_id }}" class="common current">Source code</a>
    <a href="{% url "service-wsdl" service.name %}?cluster={{ cluster_id }}" class="common">WSDL</a>
    <a href="{% url "service-request-response" service.name %}?cluster={{ cluster_id }}" class="common">Sample request/response</a>
    <a href="{% url "service-slow-response" service.name %}?cluster={{ cluster_id }}" class="common">Slow responses</a>
</div>

<div id="markup">
    <table id="data-table">
{% if service.source_info %}
        <tr>
            <td class='inline_header'>Server</td>
        </tr>
        <tr>
            <td>{{ service.source_info.server_name }}</td>
        </tr>
        <tr>
            <td class='inline_header'>Path</td>
        </tr>
        <tr>
            <td>{{ service.source_info.path }}</td>
        </tr>
        <tr>
            <td class='inline_header'>Hash</td>
        </tr>
        <tr>
            <td>{{ service.source_info.hash_method }} {{ service.source_info.hash }}</td>
        </tr>
        <tr>
            <td class='inline_header'>Source</td>
        </tr>
        <tr>
            <td style="background-color:#eeffcc">{{ service.source_info.source_html|safe }}</td>
        </tr>
{% else %}
    <tr><td>Service has no source code information available</td></tr>
{% endif %}
    </table>
</div>


{% endblock %}
