{% extends "zato/index.html" %}

{% block html_title %}{{ service.name }} - Source{% endblock %}

{% block "content" %}

<script type="text/javascript" src="/static/js/common.js"></script>

<script>
    $.fn.zato.editor.toggle_action_area = function() {


        let css_property = "grid-template-columns";
        let default_size = "3.9fr 1fr 0.06fr";
        let expanded_size = "1.0fr 1fr 0.06fr";

        let main_area_container = $("#main-area-container");
        let elem_to_expand = $("#action-area-header");

        let is_expanded = elem_to_expand.attr("data-is-expanded");

        if(is_expanded == "false") {
            new_size = expanded_size;
            elem_to_expand.attr("data-is-expanded", "true");
        }
        else {
            new_size = default_size
            elem_to_expand.attr("data-is-expanded", "false");
        }

        main_area_container.css(css_property, new_size);
    }
</script>

<style type="text/css" media="screen">

    #main-area-container {
        display: grid;
        grid-template-rows: 87vh;
        grid-template-columns: 3.9fr 1fr 0.06fr;
        align-items: stretch;
        height: 87vh;
    }

    #action-area-container {
        display: grid;
        grid-template-rows: 3vh 84vh;
        align-items: stretch;
    }

    #action-area-header {
        align-self: baseline;
        margin: 0px;
        padding-top: 4px;
        padding-left: 4px;
        padding-bottom: 4px;
        background-color: #e9e9e9;
        border-bottom: 1px solid #ccc;
    }

    #action-area-header img {
        width: 14px;
        vertical-align: middle;
        padding-right: 7px;
    }

    #action-area-header a.img-button {
        border-right: 1px solid #d3d3d3;
    }


    #action-area-header a.img-button:hover {
        background-color: #e9e9e9;
    }

    img.button {
        opacity: 30%;
    }

    img.button:hover {
        opacity: 100%;
    }

    a.img-button {
        padding: 0px;
    }

    span.header-text {
        font-family: monospace;
    }

    .left-side-buttons a.img-button:hover {
        background-color: #dfdfdf;
    }

    .left-side-buttons img {
        width: 30px;
        padding: 15px;
    }

    #editor {
        height: 87vh;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    #left-action-area {
        background-color: #fff;
    }

    #left-side-menu {
        background-color:#dfdfdf;
        border-left: 1px solid #bbb;
    }

</style>

<div id="main-area-container">
    <div class="item">
        <div id="editor">
            if __name__ == '__main__':

                env_key_name = 'ZATO_SERVER_BASE_DIR'
                env_server_base_dir = os.environ.get(env_key_name)

                if env_server_base_dir:


                    server_base_dir = env_server_base_dir
                    cmd_line_options = {
                        'fg':True,
                        'sync_internal':True,
                        'secret_key':'',
                        'stderr_path':None,
                    }
                else:
                    server_base_dir = sys.argv[1]
                    cmd_line_options = sys.argv[2]
                    cmd_line_options = parse_cmd_line_options(cmd_line_options)

                if not os.path.isabs(server_base_dir):
                    server_base_dir = os.path.abspath(os.path.join(os.getcwd(), server_base_dir))

                run(server_base_dir, options=cmd_line_options)
        </div>
    </div>
    <div id="action-area-container">
        <div id="action-area-header" data-is-expanded="false">
            <a href="javascript:$.fn.zato.editor.toggle_action_area()" class="img-button"><img src="/static/gfx/editor/resize.png" class="button" title="Resize this area" /></a>
            <!-- <span class="header-text" title="Quickstart-1 10.191.781.88">Quickstart-1 10.191.781.88</span> -->
            <select>
                <option>zato.ping.adapter.crm.customer.create</option>
            </select>
        </div>
        <div id="left-action-area" class="item item-2"></div>
    </div>
    <div id="left-side-menu" class="item">

        <ul class="left-side-buttons">
            <li>
                <a href="#" class="img-button">
                    <img src="/static/gfx/editor/files.png" class="button" title="Browse files on server" />
                </a>
            </li>
            <li>
                <a href="#" class="img-button">
                    <img src="/static/gfx/editor/play.png" class="button" title="Invoke the current service" />
                </a>
            </li>
            <li>
                <a href="#" class="img-button">
                    <img src="/static/gfx/editor/info.png" class="button" title="Details of the current service" />
                </a>
            </li>
        </ul>

    </div>
  </div>

<script src="/static/ace-builds/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace-builds/src/ext-error_marker.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace-builds/src/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/sqlserver");
    editor.session.setMode("ace/mode/python");

    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true,
        newLineMode: "unix",
        fontSize: 17,
        cursorStyle: "ace"
    });

</script>


{% endblock %}
