{% extends "zato/index.html" %}

{% block html_title %}{{ service.name }} - WSDL{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/fileuploader.css">
{% endblock %}

{% block "extra_js" %}

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/fileuploader.js"></script>
    
    <script>
    
        var on_upload_complete = function(id, file_name, response){
            if(response.success) {
                var html = '<a href="{% url "service-wsdl-download" service.name cluster_id %}" class="common">Click to download</a>';
                html += '<br/>';
                html += '<div style="margin-top:7px">Direct address: {{ wsdl_public_url }}</div>';
                $('#td_wsdl').html(html);
                $.fn.zato.user_message(true, 'WSDL uploaded');
            }
            else {
                $.fn.zato.user_message(false, response.response);
            }
        };    
    
        function create_uploader(){
            var options = {
                element: $('#uploader')[0],
                action: 'cluster/{{ cluster_id }}/upload/',
                onComplete: on_upload_complete,
                debug: true,
                template: '<div class="qq-uploader">' + 
                        '<div class="qq-upload-drop-area"><span>Drop files here to upload</span></div>' +
                        '<div class="qq-upload-button" style="width:90px">Upload a WSDL</div>' +
                        '<ul class="qq-upload-list"></ul>' + 
                     '</div>',
            }
            var uploader = new qq.FileUploader(options);
        }
        window.onload = create_uploader;
        
    </script>

{% endblock %}

{% block "content" %}

<div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

<h2 class="zato">Services : <a href="{% url "service" %}?cluster={{ cluster_id }}&amp;highlight={{ service.id }}" class="common">{{ service.name }}</a> : WSDL</h2>

<div class='page_prompt'>
    <a href="{% url "service-overview" service.name %}?cluster={{ cluster_id }}" class="common">Overview</a>
    <a href="{% url "service-invoker" service.name %}?cluster={{ cluster_id }}" class="common">Invoker</a>
    <a href="{% url "service-source-info" service.name %}?cluster={{ cluster_id }}" class="common">Source code</a>
    <a href="{% url "service-wsdl" service.name %}?cluster={{ cluster_id }}" class="common current">WSDL</a>
    <a href="{% url "service-request-response" service.name %}?cluster={{ cluster_id }}" class="common">Sample request/response</a>
    <a href="{% url "service-slow-response" service.name %}?cluster={{ cluster_id }}" class="common">Slow responses</a>
</div>

<div id="markup">
    <table id="data-table">
        <tr>
            <td class='inline_header'>Download</td>
        </tr>
        <tr>
            <td id="td_wsdl">
            {% if has_wsdl %}
                <a href="{% url "service-wsdl-download" service.name cluster_id %}" class="common">Click to download</a>
                <br/>
                <div style="margin-top:7px">Direct address: {{ wsdl_public_url }}</div>
            {% else %}
                No WSDL attached
            {% endif %}
            </td>
        </tr>
        <tr>
            <td class='inline_header'>Upload</td>
        </tr>
        <tr>
            <td style="padding-top:16px;padding-bottom:0px">
                <div id="uploader">
                    <noscript>
                        <p>Please enable JavaScript to use file uploader.</p>
                    </noscript>
                </div>
            </td>
        </tr>
    </table>
</div>


{% endblock %}
