{% extends "zato/index.html" %}

{% block extra_css %}
    <style type="text/css">
        .yui-pe .yui-pe-content {
            display:none;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/static/css/calendar_date_select/blue.css">

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/static/yui/build/yuiloader/yuiloader-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/element/element-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/datasource/datasource-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/json/json-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/connection/connection-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/datatable/datatable-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/element/element-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/button/button-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/container/container-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/cookie/cookie-min.js"></script>
    <script type="text/javascript" src="/static/yui/build/animation/animation-min.js"></script>

    {% comment %} Prototype JS {% endcomment %}
    <script type="text/javascript" src="/static/js/prototype/prototype.js"></script>
    <script type="text/javascript" src="/static/js/prototype/prototype-base-extensions.js"></script>
    <script type="text/javascript" src="/static/js/prototype/prototype-date-extensions.js"></script>

    {% comment %} DateTime picker {% endcomment %}
    <script type="text/javascript" src="/static/js/calendar_date_select/calendar_date_select.js"></script>
    <script type="text/javascript" src="/static/js/calendar_date_select/format_iso_date.js"></script>

    {% comment %} Validation framework {% endcomment %}
    <script type="text/javascript" src="/static/js/validation/validation.js"></script>

    {% comment %} Scriptaculous effects {% endcomment %}
    <script type="text/javascript" src="/static/js/effects.js"></script>
    
    {% comment %} String formatting {% endcomment %}
    <script type="text/javascript" src="/static/js/stringformat.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} Scheduler JS {% endcomment %}
    <script type="text/javascript" src="/static/js/scheduler.js"></script>

    {% comment %} Build a list of job types' friendly names {% endcomment %}
    <script type="text/javascript">
        var friendly_names = new Hash();

        {% for name, friendly_name in friendly_names%}
            friendly_names.set('{{ name }}', '{{ friendly_name }}');
        {% endfor %}
    </script>

{% endblock %}

{% block content %}
<h2 class="zato">Scheduler jobs</h1>

{% if not zato_clusters %}
    <p>
    There aren't any Zato clusters registered with this ZatoAdmin instance.
    <a href="{% url clusters %}" class="common">Click here</a> to register a new cluster first.
    <br/><br/>
    </p>
{% else %}

    <div id="user-message-div" style="display:none"><pre id="user-message"></pre><br/><br/></div>

    {% if not cluster_id %}
        Choose a cluster to manage scheduler jobs.
        <br/><br/>
    {% endif %}

    <form action="." method="get">
        {{ choose_cluster_form.cluster }}
        <input type="submit" value="Show jobs" />
    </form>

    {% if cluster_id %}

        <input type="hidden" id="cluster_id" value="{{ cluster_id }}" />

        <br/>
        Create a new job:
            <a href="javascript:create('one_time')" class="common">one-time</a>, 
            <a href="javascript:create('interval_based')" class="common">interval-based</a>, 
            <a href="javascript:create('cron_style')" class="common">cron-style</a>
        <br/><br/>

        <script type="text/javascript">
        YAHOO.util.Event.addListener(window, "load", function() {
            YAHOO.example.EnhanceFromMarkup = function() {
                data_column_defs = [
                
                    {key:'id', label:'id', hidden:true},
                    {key:'selection', label:'&nbsp;', sortable:false},
                    {key:'name', label:'Name', sortable:true},
                    {key:'is_active', label:'is_active', hidden:true},
                    {key:'is_active_text', label:'Active', sortable:true},
                    {key:'job_type_friendly', label:'Type', sortable:true},
                    {key:'definition_text', label:'Definition', sortable:false},
                    {key:'service_text', label:'Service', sortable:true},
                    {key:'execute', label:'', sortable:false},
                    {key:'edit', label:'', sortable:false},
                    {key:'delete', label:'', sortable:false},
                    {key:'start_date', label:'start_date', hidden:true},
                    {key:'service', label:'service', hidden:true},
                    {key:'extra', label:'extra', hidden:true},
                    {key:'weeks', label:'weeks', hidden:true},
                    {key:'days', label:'days', hidden:true},
                    {key:'hours', label:'hours', hidden:true},
                    {key:'minutes', label:'minutes', hidden:true},
                    {key:'seconds', label:'seconds', hidden:true},
                    {key:'repeats', label:'repeats', hidden:true},
                    {key:'cron_definition', label:'cron_definition', hidden:true},
                    {key:'job_type', label:'job_type', hidden:true},
                ];

                data_ds = new YAHOO.util.DataSource(YAHOO.util.Dom.get('data-table'));
                data_ds.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE;
                data_ds.responseSchema = {
                    fields: [
                            {key:'id'},
                            {key:'selection'},
                            {key:'name'},
                            {key:'is_active'},
                            {key:'is_active_text'},
                            {key:'job_type_friendly'},
                            {key:'definition_text'},
                            {key:'service_text'},
                            {key:'execute'},
                            {key:'edit'},
                            {key:'delete'},
                            {key:'start_date'},
                            {key:'service'},
                            {key:'extra'},
                            {key:'weeks'},
                            {key:'days'},
                            {key:'hours'},
                            {key:'minutes'},
                            {key:'seconds'},
                            {key:'repeats'},
                            {key:'cron_definition'},
                            {key:'job_type'},
                    ]
                };

                data_dt = new YAHOO.widget.DataTable('markup', data_column_defs, data_ds,
                        {sortedBy:{key:'name',dir:'desc'}}
                );

                return {
                    oDS: data_ds,
                    oDT: data_dt
                };
            }();
            
        });
        </script>

        <div id="markup">
            <table id="data-table">
                <thead>

                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                {% for job in jobs %}

                    <tr>
                        <td>{{ job.id }}</td>
                        <td><input type="checkbox" /></td>
                        <td>{{ job.name }}</td>
                        <td>{{ job.is_active }}</td>
                        <td>{{ job.is_active|yesno:"Yes,No" }}</td>
                        <td>{{ job.job_type_friendly }}</td>
                        <td>{{ job.definition_text|safe }}</td>
                        <td><a href="{% url service %}?service={{ job.service_name }}">{{ job.service_name }}</a></td>
                        <td><a href="javascript:execute({{ job.id }})">Execute</a></td>
                        <td><a href="javascript:edit('{{ job.job_type }}', {{ job.id }})">Edit</a></td>
                        <td><a href="javascript:delete_({{ job.id }});">Delete</a></td>
                        <td>{{ job.start_date }}</td>
                        <td>{{ job.service_name }}</td>
                        <td>{{ job.extra }}</td>
                        <td>{{ job.interval_based.weeks }}</td>
                        <td>{{ job.interval_based.days }}</td>
                        <td>{{ job.interval_based.hours }}</td>
                        <td>{{ job.interval_based.minutes }}</td>
                        <td>{{ job.interval_based.seconds }}</td>
                        <td>{{ job.interval_based.repeats }}</td>
                        <td>{{ job.cron_style.cron_definition }}</td>
                        <td>{{ job.job_type }}</td>
                        
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div id="create-one_time" class="yui-pe-content">
            <div class="hd">Create a one-time job</div>
            <div class="bd">
                <form action=".?cluster={{ cluster_id }}" method="post" id="create-form-one_time">
                    <table class="form-data" border="0">

                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ create_one_time_form.name }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Is active</td>
                            <td>{{ create_one_time_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                Start date &amp; time<br/>
                                <span class="form_hint">(YYYY-MM-DD hh:mm:ss)</span>
                            </td>
                            <td>
                                <input id="id_create-one_time-start_date" class="required"
                                    name="create-one_time-start_date" type="text" />
                                    <img alt="Calendar"
                                        onclick="javascript:dt_picker('id_create-one_time-start_date')"
                                        src="/static/gfx/calendar_date_select/calendar.gif"
                                        style="border:0px; cursor:pointer;" />
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ create_one_time_form.service }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Extra data</td>
                            <td>{{ create_one_time_form.extra }}</td>
                        </tr>

                    </table>

                    <input type="hidden" name="zato_action" value="create" />
                    <input type="hidden" name="job_type" value="one_time" />

                </form>
            </div>
        </div>
        
        <div id="edit-one_time" class="yui-pe-content">
            <div class="hd">Edit a one-time job</div>
            <div class="bd">
                <form action=".?cluster={{ cluster_id }}" method="post" id="edit-form-one_time">
                    <table class="form-data" border="0">

                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ edit_one_time_form.name }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Is active</td>
                            <td>{{ edit_one_time_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                Date &amp; time<br/>
                                <span class="form_hint">(YYYY-MM-DD hh:mm:ss)</span>
                            </td>
                            <td>
                                <input id="id_edit-one_time-start_date" class="required"
                                    name="edit-one_time-start_date" type="text" />
                                    <img alt="Calendar"
                                        onclick="javascript:dt_picker('id_edit-one_time-start_date')"
                                        src="/static/gfx/calendar_date_select/calendar.gif"
                                        style="border:0px; cursor:pointer;" />
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ edit_one_time_form.service }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Extra data</td>
                            <td>{{ edit_one_time_form.extra }}</td>
                        </tr>

                    </table>

                    {{ edit_one_time_form.id }}
                    <input type="hidden" name="zato_action" value="edit" />
                    <input type="hidden" name="job_type" value="one_time" />

                </form>
            </div>
        </div>
        
        <div id="create-interval_based" class="yui-pe-content">
            <div class="hd">Create an interval-based job</div>
            <div class="bd">
                <form action=".?cluster={{ cluster_id }}" method="post" id="create-form-interval_based">
                    <table class="form-data" border="0">

                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ create_interval_based_form.name }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Is active</td>
                            <td>{{ create_interval_based_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Weeks</td>
                            <td>{{ create_interval_based_form.weeks }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Days</td>
                            <td>{{ create_interval_based_form.days }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Hours</td>
                            <td>{{ create_interval_based_form.hours }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Minutes</td>
                            <td>{{ create_interval_based_form.minutes }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Seconds</td>
                            <td>{{ create_interval_based_form.seconds }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                Start date &amp; time<br/>
                                <span class="form_hint">(YYYY-MM-DD hh:mm:ss)</span>
                            </td>
                            <td>
                                <input id="id_create-interval_based-start_date" class="required"
                                    name="create-interval_based-start_date" type="text" />
                                    <img alt="Calendar"
                                        onclick="javascript:dt_picker('id_create-interval_based-start_date')"
                                        src="/static/gfx/calendar_date_select/calendar.gif"
                                        style="border:0px; cursor:pointer;" />
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Number of repeats</td>
                            <td>{{ create_interval_based_form.repeats }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ create_interval_based_form.service }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Extra data</td>
                            <td>{{ create_interval_based_form.extra }}</td>
                        </tr>

                    </table>

                    <input type="hidden" name="zato_action" value="create" />
                    <input type="hidden" name="job_type" value="interval_based" />

                </form>
            </div>
        </div>
        
        <div id="edit-interval_based" class="yui-pe-content">
            <div class="hd">Edit an interval-based job</div>
            <div class="bd">
                <form action=".?cluster={{ cluster_id }}" method="post" id="edit-form-interval_based">
                    <table class="form-data" border="0">

                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ edit_interval_based_form.name }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Is active</td>
                            <td>{{ edit_interval_based_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Weeks</td>
                            <td>{{ edit_interval_based_form.weeks }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Days</td>
                            <td>{{ edit_interval_based_form.days }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Hours</td>
                            <td>{{ edit_interval_based_form.hours }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Minutes</td>
                            <td>{{ edit_interval_based_form.minutes }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Seconds</td>
                            <td>{{ edit_interval_based_form.seconds }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                Start date &amp; time<br/>
                                <span class="form_hint">(YYYY-MM-DD hh:mm:ss)</span>
                            </td>
                            <td>
                                <input id="id_edit-interval_based-start_date"
                                    name="edit-interval_based-start_date" type="text" />
                                    <img alt="Calendar"
                                        onclick="javascript:show_edit_interval_based_start_date_picker();"
                                        src="/static/gfx/calendar_date_select/calendar.gif"
                                        style="border:0px; cursor:pointer;" />
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Number of repeats</td>
                            <td>{{ edit_interval_based_form.repeats }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ edit_interval_based_form.service }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Extra data</td>
                            <td>{{ edit_interval_based_form.extra }}</td>
                        </tr>

                    </table>

                    {{ edit_interval_based_form.id }}
                    <input type="hidden" name="zato_action" value="edit" />
                    <input type="hidden" name="job_type" value="interval_based" />

                </form>
            </div>
        </div>
        
        <div id="create-cron_style" class="yui-pe-content">
            <div class="hd">Create an cron-style job</div>
            <div class="bd">
                <form action=".?cluster={{ cluster_id }}" method="post" id="create-form-cron_style">
                    <table class="form-data" border="0">

                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ create_cron_style_form.name }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Is active</td>
                            <td>{{ create_cron_style_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                Start date &amp; time<br/>
                                <span class="form_hint">(YYYY-MM-DD hh:mm:ss)</span>
                            </td>
                            <td>
                                <input id="id_create-cron_style-start_date" class="required"
                                    name="create-cron_style-start_date" type="text" />
                                    <img alt="Calendar"
                                        onclick="javascript:dt_picker('id_create-cron_style-start_date')"
                                        src="/static/gfx/calendar_date_select/calendar.gif"
                                        style="border:0px; cursor:pointer;" />
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Definition<br/>
                            <span class="form_hint">(cron syntax)</span>
                            </td>
                            <td>{{ create_cron_style_form.cron_definition }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ create_cron_style_form.service }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Extra data</td>
                            <td>{{ create_cron_style_form.extra }}</td>
                        </tr>

                    </table>

                    <input type="hidden" name="zato_action" value="create" />
                    <input type="hidden" name="job_type" value="cron_style" />

                </form>
            </div>
        </div>
        
        <div id="edit-cron_style" class="yui-pe-content">
            <div class="hd">Edit a cron-style job</div>
            <div class="bd">
                <form action=".?cluster={{ cluster_id }}" method="post" id="edit-form-cron_style">
                    <table class="form-data" border="0">

                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ edit_cron_style_form.name }}</td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align:middle">Is active</td>
                            <td>{{ edit_cron_style_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                                Start date &amp; time<br/>
                                <span class="form_hint">(YYYY-MM-DD hh:mm:ss)</span>
                            </td>
                            <td>
                                <input id="id_edit-cron_style-start_date" class="required"
                                    name="edit-cron_style-start_date" type="text" />
                                    <img alt="Calendar"
                                        onclick="javascript:dt_picker('id_edit-cron_style-start_date')"
                                        src="/static/gfx/calendar_date_select/calendar.gif"
                                        style="border:0px; cursor:pointer;" />
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Definition<br/>
                            <span class="form_hint">(cron syntax)</span>
                            </td>
                            <td>{{ edit_cron_style_form.cron_definition }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Service</td>
                            <td>{{ edit_cron_style_form.service }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Extra data</td>
                            <td>{{ edit_cron_style_form.extra }}</td>
                        </tr>

                    </table>

                    {{ edit_cron_style_form.id }}
                    <input type="hidden" name="zato_action" value="edit" />
                    <input type="hidden" name="job_type" value="cron_style" />

                </form>
            </div>
        </div>
        
    {% endif %} {% comment %}cluster_id{% endcomment %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
