# ##############################################################################

global
    log 127.0.0.1:514 local0 debug # ZATO global:log
    stats socket ./haproxy-stat.sock # ZATO global:stats_socket

# ##############################################################################

defaults
    log global
    option httpclose

    stats uri /zato-lb-stats # ZATO defaults:stats uri

    timeout connect 5000 # ZATO defaults:timeout connect
    timeout client 5000 # ZATO defaults:timeout client
    timeout server 5000 # ZATO defaults:timeout server

    stats enable
    stats realm   Haproxy\ Statistics
    stats auth    admin1:admin1
    stats refresh 5s

# ##############################################################################

backend bck_https
    mode tcp
    balance roundrobin

    server https--ESBDEV.01 10.152.17.11:17093 check inter 2s rise 2 fall 2 # ZATO backend bck_https:server--ESBDEV.01
    server https--ESBDEV.02 10.152.17.12:17093 check inter 2s rise 2 fall 2 # ZATO backend bck_https:server--ESBDEV.02
    server https--ESBDEV.03 10.152.17.13:17093 check inter 2s rise 2 fall 2 # ZATO backend bck_https:server--ESBDEV.03
    server https--ESBDEV.04 10.152.17.13:17093 check inter 2s rise 2 fall 2 # ZATO backend bck_https:server--ESBDEV.04

# ##############################################################################

frontend front_http_plain

    mode http
    bind 0.0.0.0:27021 # ZATO frontend front_http_plain:bind
    monitor-uri /zato-lb-alive # ZATO frontend front_http_plain:monitor-uri

frontend front_https

    mode tcp
    default_backend bck_https

    option tcplog # ZATO frontend front_https_no_certs:option log-tcp-requests
    bind 0.0.0.0:27023 # ZATO frontend front_https_no_certs:bind
    maxconn 200 # ZATO frontend front_https_no_certs:maxconn