{% extends "zato/index.html" %}

{% block html_title %}Solr connections{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/search/solr.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'address',
            '_edit',
            '_delete',
            '_ping',
            'id',
            'is_active',
            'timeout',
            'pool_size',
            'ping_path',
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">Solr connections</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% include "zato/search-form.html" with page_prompt="Show connections"%}


    {% if cluster_id %}

        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.search.solr.create()">Create a new Solr connection</a>
        </div>

        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Address</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.address }}</td>
                        <td><a href="javascript:$.fn.zato.search.solr.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.search.solr.delete_('{{ item.id }}')">Delete</a></td>
                        <td><a href="javascript:$.fn.zato.search.solr.ping('{{ item.id }}')">Ping</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.timeout }}</td>
                        <td class='ignore'>{{ item.pool_size }}</td>
                        <td class='ignore'>{{ item.ping_path }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='13'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "search-solr-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ create_form.is_active }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Host</td>
                            <td>{{ create_form.address }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Timeout
                            <br/>
                            <span class="form_hint">Default: {{ default_timeout }}</span>
                            </td>
                            <td>{{ create_form.timeout }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Pool size
                            <br/>
                            <span class="form_hint">Default: {{ default_pool_size }}</span>
                            </td>
                            <td>{{ create_form.pool_size }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Ping path
                            <br/>
                            <span class="form_hint">Default: {{ default_ping_path }}</span>
                            </td>
                            <td>{{ create_form.ping_path }} </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="is_active" value="on" />
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "search-solr-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ edit_form.is_active }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Host</td>
                            <td>{{ edit_form.address }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Timeout
                            <br/>
                            <span class="form_hint">Default: {{ default_timeout }}</span>
                            </td>
                            <td>{{ edit_form.timeout }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Pool size
                            <br/>
                            <span class="form_hint">Default: {{ default_pool_size }}</span>
                            </td>
                            <td>{{ edit_form.pool_size }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Ping path
                            <br/>
                            <span class="form_hint">Default: {{ default_ping_path }}</span>
                            </td>
                            <td>{{ edit_form.ping_path }} </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" name="is_active" value="on" />
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

    {% endif %} {% comment %}cluster_id{% endcomment %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
