{% extends "zato/index.html" %}
{% load extras %}

{% block html_title %}AMQP outgoing connections{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">

    <style type="text/css">
        button[aria-label="Show Password"] {
            right: 250px !important;
        }
    </style>

{% endblock %}


{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/outgoing/amqp.js"></script>


    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'address',
            'username',
            '_app_id',
            '_publish',
            '_edit',
            '_delete',
            'id',
            'is_active',
            'delivery_mode',
            'priority',
            'content_type',
            'content_encoding',
            'expiration',
            'pool_size',
            'user_id',
            'app_id',
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">Outgoing AMQP connections</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% include "zato/search-form.html" with page_prompt="Show connections"%}

    {% if cluster_id %}
        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.outgoing.amqp.create()">Create a new outgoing AMQP connection</a>
        </div>

        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Address</a></th>
                        <th><a href="#">Username</a></th>
                        <th><a href="#">App ID</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.address|no_value_indicator }}</td>
                        <td>{{ item.username|no_value_indicator }}</td>
                        <td>{{ item.app_id|no_value_indicator }}</td>
                        <td>
                            <a href="{% url "out-amqp-invoke" item.id item.name item.name|slugify %}?cluster={{ cluster_id }}">Publish</a>
                        </td>
                        <td><a href="javascript:$.fn.zato.outgoing.amqp.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.outgoing.amqp.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.delivery_mode }}</td>
                        <td class='ignore'>{{ item.priority|default:'' }}</td>
                        <td class='ignore'>{{ item.content_type|default:'' }}</td>
                        <td class='ignore'>{{ item.content_encoding|default:'' }}</td>
                        <td class='ignore'>{{ item.expiration|default:'' }}</td>
                        <td class='ignore'>{{ item.pool_size|default:'' }}</td>
                        <td class='ignore'>{{ item.user_id|default:'' }}</td>
                        <td class='ignore'>{{ item.app_id|default:'' }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='26'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-amqp-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Address</td>
                            <td>{{ create_form.address }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Username</td>
                            <td>{{ create_form.username }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Password</td>
                            <td>{{ create_form.password }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                            More options
                            </td>
                            <td>
                            <a href="javascript:$.fn.zato.toggle_visibility('.more-options-block')">Toggle options</a>
                            </td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ create_form.is_active }} | <label>Pool size {{ create_form.pool_size }}</label> | <label>Priority <span class='form_hint'>(0-9)</span> {{ create_form.priority }}</label></td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">Expiration <span class='form_hint'>(ms)</span></td>
                            <td>{{ create_form.expiration }} | <label>Delivery {{ create_form.delivery_mode }}</label></td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">Content type</td>
                            <td>{{ create_form.content_type }}</td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">Encoding</td>
                            <td>{{ create_form.content_encoding }}</td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">App ID</td>
                            <td>{{ create_form.app_id }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-amqp-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Address</td>
                            <td>{{ edit_form.address }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Username</td>
                            <td>{{ edit_form.username }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Password</td>
                            <td>{{ edit_form.password }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">
                            More options
                            </td>
                            <td>
                            <a href="javascript:$.fn.zato.toggle_visibility('.more-options-block')">Toggle options</a>
                            </td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ edit_form.is_active }} | <label>Pool size {{ edit_form.pool_size }}</label> | <label>Priority <span class='form_hint'>(0-9)</span> {{ edit_form.priority }}</label></td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">Expiration <span class='form_hint'>(ms)</span></td>
                            <td>{{ edit_form.expiration }} | <label>Delivery {{ edit_form.delivery_mode }}</label></td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">Content type</td>
                            <td>{{ edit_form.content_type }}</td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">Encoding</td>
                            <td>{{ edit_form.content_encoding }}</td>
                        </tr>

                        <tr class="more-options-block hidden">
                            <td style="vertical-align:middle">App ID</td>
                            <td>{{ edit_form.app_id }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>
    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
