{% extends "zato/index.html" %}

{% block html_title %}AMQP outconns{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} HTTP Basic Auth {% endcomment %}
    <script type="text/javascript" src="/static/js/outgoing/amqp.js"></script>


    <script>
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            '_def_name',
            '_delivery_mode',
            'priority',
            'content_type',
            'content_encoding',
            'expiration',
            'user_id',
            'app_id',
            '_edit',
            '_delete',
            'id',
            'is_active',
            'delivery_mode',
            'def_id'
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">Outgoing AMQP connections</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% include "zato/choose-cluster.html" with page_prompt="Show outgoing connections"%}


    {% if cluster_id %}
        <div class='page_prompt'>
            <a href="javascript:$.fn.zato.outgoing.amqp.create()">Create a new outgoing AMQP connection</a>
        </div>


        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Definition</a></th>
                        <th><a href="#">Delivery mode</a></th>
                        <th><a href="#">Priority</a></th>
                        <th><a href="#">Content type</a></th>
                        <th><a href="#">Encoding</a></th>
                        <th><a href="#">Expiration (ms)</a></th>
                        <th><a href="#">User ID</a></th>
                        <th><a href="#">App ID</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.def_name }}</td>
                        <td>{{ item.delivery_mode_text|default_if_none:'' }}</td>
                        <td>{{ item.priority|default_if_none:'' }}</td>
                        <td>{{ item.content_type|default_if_none:'' }}</td>
                        <td>{{ item.content_encoding|default_if_none:'' }}</td>
                        <td>{{ item.expiration|default_if_none:'' }}</td>
                        <td>{{ item.user_id|default_if_none:'' }}</td>
                        <td>{{ item.app_id|default_if_none:'' }}</td>

                        <td><a href="javascript:$.fn.zato.outgoing.amqp.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.outgoing.amqp.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.delivery_mode }}</td>
                        <td class='ignore'>{{ item.def_id }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='15'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>


        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url "out-amqp-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ create_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Definition</td>
                            <td>{{ create_form.def_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Delivery mode</td>
                            <td>{{ create_form.delivery_mode }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Priority <span class='form_hint'>(0-9)</span></td>
                            <td>{{ create_form.priority }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Content type</td>
                            <td>{{ create_form.content_type }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Encoding</td>
                            <td>{{ create_form.content_encoding }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Expiration <span class='form_hint'>(ms)</span></td>
                            <td>{{ create_form.expiration }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">User ID</td>
                            <td>{{ create_form.user_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">App ID</td>
                            <td>{{ create_form.app_id }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form action="{% url "out-amqp-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ edit_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Definition</td>
                            <td>{{ edit_form.def_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Delivery mode</td>
                            <td>{{ edit_form.delivery_mode }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Priority <span class='form_hint'>(0-9)</span></td>
                            <td>{{ edit_form.priority }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Content type</td>
                            <td>{{ edit_form.content_type }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Encoding</td>
                            <td>{{ edit_form.content_encoding }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Expiration <span class='form_hint'>(ms)</span></td>
                            <td>{{ edit_form.expiration }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">User ID</td>
                            <td>{{ edit_form.user_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">App ID</td>
                            <td>{{ edit_form.app_id }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>
    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
