{% extends "zato/index.html" %}
{% load extras %}

{% block html_title %}GraphQL connections{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/how-it-works.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/how-it-works.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/outgoing/graphql.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'address',
            'security',
            '_edit',
            '_delete',
            '_ping',
            'id',
            'is_active',
            'pool_size',
            'extra',
            'default_query_timeout',
            'security_id',
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}
        <div id="markup">
            <h2 class="zato">GraphQL connections</h2>

{% with has_generic="1" generic_type="outconn-graphql" %}
    {% include "zato/search-form.html" with page_prompt="Show connections"%}
{% endwith %}

        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.outgoing.graphql.create()">Create a new connection</a>
        </div>

            <table class="zato-table" id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 1 {% endcomment %}
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Address</a></th>

                        {% comment %} 2 {% endcomment %}
                        <th><a href="#">Security</a></th>

                        {% comment %} 3 {% endcomment %}
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 4 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>

                        {% comment %} 1 {% endcomment %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td><a href="{{ item.address }}">{{ item.address }}</a></td>

                        {% comment %} 2 {% endcomment %}
                        <td>
                            {% if item.security_name %}
                                {{ item.sec_def_type_name }}
                                <br/>
                                {{ item.security_name }}
                            {% endif %}
                        </td>

                        {% comment %} 3 {% endcomment %}
                        <td><a href="javascript:$.fn.zato.outgoing.graphql.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.outgoing.graphql.delete_('{{ item.id }}')">Delete</a></td>
                        <td><a href="javascript:void(0)" onclick="$.fn.zato.data_table.ping('{{ item.id }}', this)">Ping</a></td>

                        {% comment %} 4 {% endcomment %}
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.pool_size }}</td>
                        <td class='ignore'>{{ item.extra|default:"" }}</td>
                        <td class='ignore'>{{ item.default_query_timeout|default:"" }}</td>
                        <td class='ignore'>{{ item.security_id|default:"" }}</td>

                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='15'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

{% include "zato/paginate/action-panel.html" %}
        </div>

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-graphql-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:17%">
                                <label for="id_name">
                                Name
                                </label>
                            </td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label>
                                Active
                                {{ create_form.is_active }}
                                </label>

                                |

                                <label>
                                Pool size
                                {{ create_form.pool_size }}
                                </label>
                                <span class="form_hint">Number of connections kept open to the server</span>

                                |

                                <label>
                                Timeout
                                {{ create_form.default_query_timeout }}
                                </label>
                                <span class="form_hint">How long to wait for a response, in seconds</span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_address">
                                Address
                                </label>
                            </td>
                            <td>
                                {{ create_form.address }}
                                <span class="form_hint">Full URL to the GraphQL endpoint, including the path</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_security_id">
                                Security
                                </label>
                            </td>
                            <td>
                                {{ create_form.security_id }}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_extra">
                                Extra headers
                                </label>
                            </td>
                            <td>{{ create_form.extra }} <span class="form_hint">Custom HTTP headers sent with every request as a JSON object, e.g. {"X-Tenant": "acme"}</span></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;vertical-align:middle">
                                <span class="how-it-works-badge" id="create-how-it-works">How does it work?</span>
                            </td>
                            <td style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-graphql-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:17%">
                                <label for="id_edit-name">
                                Name
                                </label>
                            </td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label>
                                Active
                                {{ edit_form.is_active }}
                                </label>

                                |

                                <label>
                                Pool size
                                {{ edit_form.pool_size }}
                                </label>
                                <span class="form_hint">Number of connections kept open to the server</span>

                                |

                                <label>
                                Timeout
                                {{ edit_form.default_query_timeout }}
                                </label>
                                <span class="form_hint">How long to wait for a response, in seconds</span>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_edit-address">
                                Address
                                </label>
                            </td>
                            <td>
                                {{ edit_form.address }}
                                <span class="form_hint">Full URL to the GraphQL endpoint, including the path</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="id_edit-security_id">
                                Security
                                </label>
                            </td>
                            <td>
                                {{ edit_form.security_id }}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                                <label for="id_edit-extra">
                                Extra headers
                                </label>
                            </td>
                            <td>{{ edit_form.extra }} <span class="form_hint">Custom HTTP headers sent with every request as a JSON object, e.g. {"X-Tenant": "acme"}</span></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;vertical-align:middle">
                                <span class="how-it-works-badge" id="edit-how-it-works">How does it work?</span>
                            </td>
                            <td style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

        {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
