{% extends "zato/index.html" %}

{% block html_title %}IBM MQ outconns{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} HTTP Basic Auth {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/outgoing/jms-wmq.js"></script>


    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            '_def_name',
            '_delivery_mode',
            'priority',
            '_expiration',
            '_send_message',
            '_edit',
            '_delete',
            'id',
            'is_active',
            'delivery_mode',
            'def_id',
            'expiration',
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">Outgoing IBM MQ connections</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% if is_disabled %}
    {% include "zato/disabled-windows.html" %}
{% else %}

{% include "zato/search-form.html" with page_prompt="Show outgoing connections"%}


    {% if cluster_id %}
        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.outgoing.jms_wmq.create()">Create a new outgoing IBM MQ connection</a>
        </div>


        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Definition</a></th>
                        <th><a href="#">Delivery mode</a></th>
                        <th><a href="#">Priority</a></th>
                        <th><a href="#">Expiration (ms)</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td><a href="{% url 'definition-wmq' %}?cluster={{ cluster_id }}&amp;query={{ item.def_name }}">{{ item.def_name }}</a></td>
                        <td>{{ item.delivery_mode_text|default_if_none:'' }}</td>
                        <td>{{ item.priority|default_if_none:'' }}</td>
                        <td>{{ item.expiration|default:'<span class="form_hint">---</span>' }}</td>

                        <td><a href="{% url "outgoing-wmq-send-message" cluster_id item.id item.name|slugify %}">Send a message</a></td>
                        <td><a href="javascript:$.fn.zato.outgoing.jms_wmq.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.outgoing.jms_wmq.delete_('{{ item.id }}')">Delete</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.delivery_mode }}</td>
                        <td class='ignore'>{{ item.def_id }}</td>
                        <td class='ignore'>{{ item.expiration|default_if_none:'' }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='14'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-jms-wmq-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ create_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ create_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Definition</td>
                            <td>{{ create_form.def_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Delivery mode</td>
                            <td>{{ create_form.delivery_mode }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Priority <span class='form_hint'>(0-9)</span></td>
                            <td>{{ create_form.priority }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Expiration <span class='form_hint'>(ms)</span></td>
                            <td>{{ create_form.expiration }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-jms-wmq-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle;width:20%">Name</td>
                            <td>{{ edit_form.name }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Active</td>
                            <td>{{ edit_form.is_active }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Definition</td>
                            <td>{{ edit_form.def_id }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Delivery mode</td>
                            <td>{{ edit_form.delivery_mode }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Priority <span class='form_hint'>(0-9)</span></td>
                            <td>{{ edit_form.priority }}</td>
                        </tr>

                        <tr>
                            <td style="vertical-align:middle">Expiration <span class='form_hint'>(ms)</span></td>
                            <td>{{ edit_form.expiration }}</td>
                        </tr>


                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>
    {% endif %}

{% endif %}{% comment %}is_disabled{% endcomment %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
