{% extends "zato/index.html" %}
{% load extras %}

{% block html_title %}Kafka outconns{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tippy.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/how-it-works.css">
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/tabs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/form-tabs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/popup.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms-chips.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms-resize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/decision-lines.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/summary-link.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/dropdown-menu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/alerts-tab.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/delivery-tab.css">
    <link rel="stylesheet" type="text/css" href="/static/css/outgoing/kafka.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/tippy/popperjs.core.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/tippy/tippy.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/how-it-works.js"></script>

    {% comment %} Form tabs and the Delivery tab {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/tabs.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/form-tabs.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/popup.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/core.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/popover.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/fields.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/resize.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/chips.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/decision-lines.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/select.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/select-placement.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/delivery-tab.js"></script>
    {{ delivery_tab_config|json_script:"delivery-tab-config" }}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/outgoing/kafka-producer-tab.js"></script>
    {{ producer_tab_config|json_script:"kafka-producer-tab-config" }}

    {% comment %} Kafka {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/outgoing/kafka.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',

            {% comment %} 1 {% endcomment %}
            'name',
            '_is_active',
            'address',
            'topic',
            'security',

            {% comment %} 2 {% endcomment %}
            '_delivery',
            '_edit',
            '_delete',

            {% comment %} 3 {% endcomment %}
            'id',
            'is_active',

            {% comment %} 4 - SSL {% endcomment %}
            'ssl',
            'ssl_ca_file',
            'ssl_cert_file',
            'ssl_key_file',

            {% comment %} 5 - security {% endcomment %}
            'security_id',
            'sec_type',
            'sasl_mechanism',

            {% comment %} 6 - the Producer tab, then 7 - the Delivery tab {% endcomment %}
        ].concat($.fn.zato.outgoing.kafka.producer_tab.columns()).concat($.fn.zato.delivery_tab.columns());
    }
    </script>

{% endblock %}

{% block "content" %}
{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}
        <div id="markup">
            <h2 class="zato">{% include "zato/include/header-brand.html" with logo="kafka" %}Outgoing Kafka connections</h2>

{% with has_generic="1" generic_type="outconn-kafka" %}
    {% include "zato/search-form.html" with page_prompt="Show outgoing connections" %}
{% endwith %}

        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.outgoing.kafka.create()">Create a new outgoing Kafka connection</a> |
            <a href="javascript:$.fn.zato.outgoing.kafka.import_demo_config()" class="common">Import demo config</a>
        </div>

            <table class="zato-table" id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 1 {% endcomment %}
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Address</a></th>
                        <th><a href="#">Topic</a></th>
                        <th><a href="#">Security</a></th>

                        {% comment %} 2 {% endcomment %}
                        <th>&nbsp;</th> {% comment %} _delivery {% endcomment %}
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 3 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 4 - SSL {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 5 - security {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 6 - the Producer tab {% endcomment %}
                        {% for field_name in producer_tab_config.field_names %}
                        <th class='ignore'>&nbsp;</th>
                        {% endfor %}

                        {% comment %} 7 - the Delivery tab {% endcomment %}
                        {% include "zato/include/delivery-tab-headers.html" %}

                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>

                        {% comment %} 1 {% endcomment %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.topic }}</td>
                        <td>
                            {% if item.security_name %}
                                {% if item.sec_type == 'oauth' %}
                                <a href="/zato/security/oauth/outconn/client-credentials/?cluster={{ cluster_id }}&amp;query={{ item.security_name }}">{{ item.security_name }}</a>
                                {% elif item.sec_type == 'basic_auth' %}
                                <a href="/zato/security/basic-auth/?cluster={{ cluster_id }}&amp;query={{ item.security_name }}">{{ item.security_name }}</a>
                                {% endif %}
                                ({{ item.sasl_mechanism }})
                            {% else %}
                                <span class="form_hint">---</span>
                            {% endif %}
                        </td>

                        {% comment %} 2 {% endcomment %}
                        {% include "zato/include/delivery-queue-link.html" with conn_type="kafka" %}
                        <td><a href="javascript:$.fn.zato.outgoing.kafka.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.outgoing.kafka.delete_('{{ item.id }}')">Delete</a></td>

                        {% comment %} 3 {% endcomment %}
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>

                        {% comment %} 4 - SSL {% endcomment %}
                        <td class='ignore'>{{ item.ssl }}</td>
                        <td class='ignore'>{{ item.ssl_ca_file }}</td>
                        <td class='ignore'>{{ item.ssl_cert_file }}</td>
                        <td class='ignore'>{{ item.ssl_key_file }}</td>

                        {% comment %} 5 - security {% endcomment %}
                        <td class='ignore'>{% if item.sec_type %}{{ item.sec_type }}/{{ item.security_id }}{% endif %}</td>
                        <td class='ignore'>{{ item.sec_type }}</td>
                        <td class='ignore'>{{ item.sasl_mechanism }}</td>

                        {% comment %} 6 - the Producer tab {% endcomment %}
                        {% for field_name in producer_tab_config.field_names %}
                        <td class='ignore'>{{ item|get_item:field_name }}</td>
                        {% endfor %}

                        {% comment %} 7 - the Delivery tab {% endcomment %}
                        {% include "zato/include/delivery-tab-cells.html" %}

                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='28'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

{% include "zato/paginate/action-panel.html" %}
        </div>

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-kafka-create" %}" method="post" id="create-form">

                    <div class="dashboard-tabs" role="tablist" aria-label="Connection settings">
                        <button type="button" class="dashboard-tab dashboard-tab-active" data-tab="config" role="tab" aria-selected="true">Config</button>
                        <button type="button" class="dashboard-tab" data-tab="producer" role="tab" aria-selected="false">Producer</button>
                        {% include "zato/include/delivery-tab-button.html" %}
                    </div>

                    <div class="dashboard-tab-panel" id="out-kafka-create-tab-panel-config" role="tabpanel">
                    <table class="form-data">
                        <tr>
                            <td class="form-data-label"><label for="id_name">Name</label></td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="id_is_active">
                                    Active
                                    {{ create_form.is_active }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_address">Address</label></td>
                            <td>{{ create_form.address }}</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_topic">Topic</label></td>
                            <td>{{ create_form.topic }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" class="form-data-section">Authentication</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_sasl_mechanism">SASL</label></td>
                            <td>{{ create_form.sasl_mechanism }}</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_security_id">Security</label></td>
                            <td>{{ create_form.security_id }}</td>
                        </tr>

                        <tr>
                            <td class="form-data-section form-data-label">SSL</td>
                            <td class="form-data-section">
                                <label class="form-data-section-toggle" for="id_ssl">
                                    Use SSL
                                    {{ create_form.ssl }}
                                </label>
                            </td>
                        </tr>
                        <tr class="create-ssl-block">
                            <td class="form-data-label"><label for="id_ssl_ca_file">CA file</label></td>
                            <td>{{ create_form.ssl_ca_file }}</td>
                        </tr>
                        <tr class="create-ssl-block">
                            <td class="form-data-label"><label for="id_ssl_cert_file">Cert file</label></td>
                            <td>{{ create_form.ssl_cert_file }}</td>
                        </tr>
                        <tr class="create-ssl-block">
                            <td class="form-data-label"><label for="id_ssl_key_file">Key file</label></td>
                            <td>{{ create_form.ssl_key_file }}</td>
                        </tr>
                        <tr class="create-ssl-block">
                            <td class="form-data-label"><label for="id_ssl_key_password">Key password</label></td>
                            <td>{{ create_form.ssl_key_password }}</td>
                        </tr>
                    </table>
                    </div>

                    {% include "zato/include/kafka-producer-tab.html" with panel_id="out-kafka-create-tab-panel-producer" form=create_form %}

                    {% include "zato/include/delivery-tab.html" with panel_id="out-kafka-create-tab-panel-delivery" form=create_form %}

                    <table class="form-data">
                        <tr>
                            <td colspan="2" class="form-actions">
                                <span class="how-it-works-badge" id="create-how-it-works">How does it work?</span>
                                <span class="form-buttons">
                                    <input type="submit" value="OK" />
                                    <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-kafka-edit" %}" method="post" id="edit-form">

                    <div class="dashboard-tabs" role="tablist" aria-label="Connection settings">
                        <button type="button" class="dashboard-tab dashboard-tab-active" data-tab="config" role="tab" aria-selected="true">Config</button>
                        <button type="button" class="dashboard-tab" data-tab="producer" role="tab" aria-selected="false">Producer</button>
                        {% include "zato/include/delivery-tab-button.html" %}
                    </div>

                    <div class="dashboard-tab-panel" id="out-kafka-edit-tab-panel-config" role="tabpanel">
                    <table class="form-data">
                        <tr>
                            <td class="form-data-label"><label for="id_edit-name">Name</label></td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="id_edit-is_active">
                                    Active
                                    {{ edit_form.is_active }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_edit-address">Address</label></td>
                            <td>{{ edit_form.address }}</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_edit-topic">Topic</label></td>
                            <td>{{ edit_form.topic }}</td>
                        </tr>

                        <tr>
                            <td colspan="2" class="form-data-section">Authentication</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_edit-sasl_mechanism">SASL</label></td>
                            <td>{{ edit_form.sasl_mechanism }}</td>
                        </tr>
                        <tr>
                            <td class="form-data-label"><label for="id_edit-security_id">Security</label></td>
                            <td>{{ edit_form.security_id }}</td>
                        </tr>

                        <tr>
                            <td class="form-data-section form-data-label">SSL</td>
                            <td class="form-data-section">
                                <label class="form-data-section-toggle" for="id_edit-ssl">
                                    Use SSL
                                    {{ edit_form.ssl }}
                                </label>
                            </td>
                        </tr>
                        <tr class="edit-ssl-block">
                            <td class="form-data-label"><label for="id_edit-ssl_ca_file">CA file</label></td>
                            <td>{{ edit_form.ssl_ca_file }}</td>
                        </tr>
                        <tr class="edit-ssl-block">
                            <td class="form-data-label"><label for="id_edit-ssl_cert_file">Cert file</label></td>
                            <td>{{ edit_form.ssl_cert_file }}</td>
                        </tr>
                        <tr class="edit-ssl-block">
                            <td class="form-data-label"><label for="id_edit-ssl_key_file">Key file</label></td>
                            <td>{{ edit_form.ssl_key_file }}</td>
                        </tr>
                        <tr class="edit-ssl-block">
                            <td class="form-data-label"><label for="id_edit-ssl_key_password">Key password</label></td>
                            <td>{{ edit_form.ssl_key_password }}</td>
                        </tr>
                    </table>
                    </div>

                    {% include "zato/include/kafka-producer-tab.html" with panel_id="out-kafka-edit-tab-panel-producer" form=edit_form %}

                    {% include "zato/include/delivery-tab.html" with panel_id="out-kafka-edit-tab-panel-delivery" form=edit_form %}

                    <table class="form-data">
                        <tr>
                            <td colspan="2" class="form-actions">
                                <span class="how-it-works-badge" id="edit-how-it-works">How does it work?</span>
                                <span class="form-buttons">
                                    <input type="submit" value="OK" />
                                    <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
