{% extends "zato/index.html" %}
{% load extras %}

{% block html_title %}SMS outconns{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tippy.css">
    <link rel="stylesheet" type="text/css" href="/static/css/invoker.css">
    <link rel="stylesheet" type="text/css" href="/static/css/zato_highlight_pane.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/how-it-works.css">
    <link rel="stylesheet" type="text/css" href="/static/css/multi-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/tabs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/form-tabs.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/popup.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms-chips.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/micro-forms-resize.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/decision-lines.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/summary-link.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/dropdown-menu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/alerts-tab.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/delivery-tab.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/sms-tab.css">
    <link rel="stylesheet" type="text/css" href="/static/css/outgoing/sms.css">
{% endblock %}

{% block "extra_js" %}

    {% comment %} jQuery {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/tippy/popperjs.core.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/tippy/tippy.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/how-it-works.js"></script>

    {% comment %} The Invoke dialog {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/ace-builds/src/ace.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/zato_ui_helpers.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/zato_highlight_pane.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/invoker.js"></script>

    {% comment %} Form tabs, the Delivery tab and the Alerts tab {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/tabs.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/form-tabs.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/popup.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/core.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/popover.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/fields.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/resize.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/micro-forms/chips.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/decision-lines.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/select.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/dashboard-kit/select-placement.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/delivery-tab.js"></script>
    {{ delivery_tab_config|json_script:"delivery-tab-config" }}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/alerts-tab-slots.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/alerts-tab.js"></script>
    {{ alerts_tab_config|json_script:"out-sms-alerts-tab-config" }}
    {{ sms_config|json_script:"out-sms-config" }}

    {% comment %} SMS {% endcomment %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common/sms-tab.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/outgoing/sms.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',

            {% comment %} 1 {% endcomment %}
            'name',
            '_is_active',
            '_provider',
            'username',
            'sender',
            'channel_name',

            {% comment %} 2 {% endcomment %}
            '_invoke',
            '_delivery',
            '_edit',
            '_delete',

            {% comment %} 3 {% endcomment %}
            'id',
            'is_active',
            'provider',
            'host',
            'pool_size',
            'timeout',
            'timeout_unit',

            {% comment %} 4 - the Delivery tab, then 5 - the Alerts tab {% endcomment %}
        ].concat($.fn.zato.delivery_tab.columns()).concat($.fn.zato.alerts_tab.columns());
    }
    </script>

{% endblock %}

{% block "content" %}
{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}
        <div id="markup">
            <h2 class="zato">{% include "zato/include/header-brand.html" with badge="SMS" %}Outgoing SMS connections</h2>

{% with has_generic="1" generic_type="outconn-sms" %}
    {% include "zato/search-form.html" with page_prompt="Show outgoing connections" %}
{% endwith %}

        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.outgoing.sms.create()">Create a new outgoing SMS connection</a>
        </div>

            <table class="zato-table" id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 1 {% endcomment %}
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Provider</a></th>
                        <th><a href="#">Username</a></th>
                        <th><a href="#">Sender</a></th>
                        <th><a href="#">Channel</a></th>

                        {% comment %} 2 {% endcomment %}
                        <th>&nbsp;</th> {% comment %} _invoke {% endcomment %}
                        <th>&nbsp;</th> {% comment %} _delivery {% endcomment %}
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>

                        {% comment %} 3 {% endcomment %}
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>

                        {% comment %} 4 - the Delivery tab {% endcomment %}
                        {% include "zato/include/delivery-tab-headers.html" %}

                        {% comment %} 5 - the Alerts tab {% endcomment %}
                        {% for field_name in alerts_tab_config.storage_field_names %}
                        <th class='ignore'>&nbsp;</th>
                        {% endfor %}

                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>

                        {% comment %} 1 {% endcomment %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.provider_human }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.sender }}</td>
                        <td>
                            {% if item.channel_name %}
                                <a href="{% url "channel-sms" %}?cluster={{ cluster_id }}&amp;type_=channel-sms&amp;query={{ item.channel_name }}">{{ item.channel_name }}</a>
                            {% else %}
                                <span class="form_hint">---</span>
                            {% endif %}
                        </td>

                        {% comment %} 2 {% endcomment %}
                        <td class="out-sms-invoke-cell"><a href="javascript:$.fn.zato.outgoing.sms.invoke('{{ item.id }}')">Invoke</a></td>
                        {% include "zato/include/delivery-queue-link.html" with conn_type="sms" %}
                        <td><a href="javascript:$.fn.zato.outgoing.sms.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.outgoing.sms.delete_('{{ item.id }}')">Delete</a></td>

                        {% comment %} 3 {% endcomment %}
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.provider }}</td>
                        <td class='ignore'>{{ item.host }}</td>
                        <td class='ignore'>{{ item.pool_size }}</td>
                        <td class='ignore'>{{ item.timeout }}</td>
                        <td class='ignore'>{{ item.timeout_unit }}</td>

                        {% comment %} 4 - the Delivery tab {% endcomment %}
                        {% include "zato/include/delivery-tab-cells.html" %}

                        {% comment %} 5 - the Alerts tab {% endcomment %}
                        {% for field_name in alerts_tab_config.storage_field_names %}
                        <td class='ignore'>{{ item|get_item:field_name }}</td>
                        {% endfor %}

                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='28'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

{% include "zato/paginate/action-panel.html" %}
        </div>

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-sms-create" %}" method="post" id="create-form">

                    <div class="dashboard-tabs" role="tablist" aria-label="Connection settings">
                        <button type="button" class="dashboard-tab dashboard-tab-active" data-tab="config" role="tab" aria-selected="true">Config</button>
                        {% include "zato/include/delivery-tab-button.html" %}
                        <button type="button" class="dashboard-tab" data-tab="alerts" role="tab" aria-selected="false">{{ create_alerts_tab.tab_label }}</button>
                    </div>

                    <div class="dashboard-tab-panel alerts-tab-panel sms-tab-panel" id="out-sms-create-tab-panel-config" role="tabpanel">
                    <div class="form-data alerts-tab-body">

                        <div class="alerts-tab-sections">

                            <div class="alerts-tab-section">
                                <div class="alerts-tab-section-title">Connection</div>
                                <div class="decision-lines">
                                    <div class="decision-line alerts-tab-line alerts-tab-always-on-line" id="out-sms-create-tab-panel-config-line-name">
                                        <label class="decision-line-label" for="id_name">Name</label>
                                        <span class="decision-line-slot">{{ create_form.name }}</span>
                                    </div>
                                    <div class="decision-line alerts-tab-line alerts-tab-line-toggle alerts-tab-always-on-line" id="out-sms-create-tab-panel-config-line-is_active">
                                        <label class="decision-line-label" for="id_is_active">Active</label>
                                        <span class="decision-line-slot">{{ create_form.is_active }}</span>
                                    </div>
                                    <div class="decision-line alerts-tab-line alerts-tab-line-popover alerts-tab-always-on-line" id="out-sms-create-tab-panel-config-line-pool">
                                        <label class="decision-line-label" for="out-sms-create-tab-panel-config-edit-pool">Pool and timeout</label>
                                        <span class="decision-line-slot"><a href="javascript:void(0)" class="summary-link" id="out-sms-create-tab-panel-config-edit-pool"><span class="zato-link-face summary-link-text" id="out-sms-create-tab-panel-config-summary-pool"></span><span class="zato-soft-hint">Click to edit</span></a></span>
                                    </div>
                                </div>
                            </div>

                            {% include "zato/include/sms-tab-sections.html" with panel_id="out-sms-create-tab-panel-config" form=create_form is_outgoing=True %}

                        </div>

                        <div class="alerts-tab-hidden-fields" hidden>
                            {{ create_form.provider }}
                            {{ create_form.host }}
                            {{ create_form.username }}
                            {{ create_form.secret }}
                            {{ create_form.signature_secret }}
                            {{ create_form.sender }}
                            {{ create_form.channel_name }}
                            {{ create_form.pool_size }}
                            {{ create_form.timeout }}
                            {{ create_form.timeout_unit }}
                        </div>

                    </div>
                    </div>

                    {% include "zato/include/delivery-tab.html" with panel_id="out-sms-create-tab-panel-delivery" form=create_form %}

                    {% include "zato/include/alerts-tab.html" with panel_id="out-sms-create-tab-panel-alerts" alerts_tab=create_alerts_tab %}

                    <table class="form-data">
                        <tr>
                            <td colspan="2" class="form-actions">
                                <span class="how-it-works-badge" id="create-how-it-works">How does it work?</span>
                                <span class="form-buttons">
                                    <input type="submit" value="OK" />
                                    <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "out-sms-edit" %}" method="post" id="edit-form">

                    <div class="dashboard-tabs" role="tablist" aria-label="Connection settings">
                        <button type="button" class="dashboard-tab dashboard-tab-active" data-tab="config" role="tab" aria-selected="true">Config</button>
                        {% include "zato/include/delivery-tab-button.html" %}
                        <button type="button" class="dashboard-tab" data-tab="alerts" role="tab" aria-selected="false">{{ edit_alerts_tab.tab_label }}</button>
                    </div>

                    <div class="dashboard-tab-panel alerts-tab-panel sms-tab-panel" id="out-sms-edit-tab-panel-config" role="tabpanel">
                    <div class="form-data alerts-tab-body">

                        <div class="alerts-tab-sections">

                            <div class="alerts-tab-section">
                                <div class="alerts-tab-section-title">Connection</div>
                                <div class="decision-lines">
                                    <div class="decision-line alerts-tab-line alerts-tab-always-on-line" id="out-sms-edit-tab-panel-config-line-name">
                                        <label class="decision-line-label" for="id_edit-name">Name</label>
                                        <span class="decision-line-slot">{{ edit_form.name }}</span>
                                    </div>
                                    <div class="decision-line alerts-tab-line alerts-tab-line-toggle alerts-tab-always-on-line" id="out-sms-edit-tab-panel-config-line-is_active">
                                        <label class="decision-line-label" for="id_edit-is_active">Active</label>
                                        <span class="decision-line-slot">{{ edit_form.is_active }}</span>
                                    </div>
                                    <div class="decision-line alerts-tab-line alerts-tab-line-popover alerts-tab-always-on-line" id="out-sms-edit-tab-panel-config-line-pool">
                                        <label class="decision-line-label" for="out-sms-edit-tab-panel-config-edit-pool">Pool and timeout</label>
                                        <span class="decision-line-slot"><a href="javascript:void(0)" class="summary-link" id="out-sms-edit-tab-panel-config-edit-pool"><span class="zato-link-face summary-link-text" id="out-sms-edit-tab-panel-config-summary-pool"></span><span class="zato-soft-hint">Click to edit</span></a></span>
                                    </div>
                                </div>
                            </div>

                            {% include "zato/include/sms-tab-sections.html" with panel_id="out-sms-edit-tab-panel-config" form=edit_form is_outgoing=True %}

                        </div>

                        <div class="alerts-tab-hidden-fields" hidden>
                            {{ edit_form.provider }}
                            {{ edit_form.host }}
                            {{ edit_form.username }}
                            {{ edit_form.secret }}
                            {{ edit_form.signature_secret }}
                            {{ edit_form.sender }}
                            {{ edit_form.channel_name }}
                            {{ edit_form.pool_size }}
                            {{ edit_form.timeout }}
                            {{ edit_form.timeout_unit }}
                        </div>

                    </div>
                    </div>

                    {% include "zato/include/delivery-tab.html" with panel_id="out-sms-edit-tab-panel-delivery" form=edit_form %}

                    {% include "zato/include/alerts-tab.html" with panel_id="out-sms-edit-tab-panel-alerts" alerts_tab=edit_alerts_tab %}

                    <table class="form-data">
                        <tr>
                            <td colspan="2" class="form-actions">
                                <span class="how-it-works-badge" id="edit-how-it-works">How does it work?</span>
                                <span class="form-buttons">
                                    <input type="submit" value="OK" />
                                    <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                                </span>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

    {% endif %}


{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
