{% extends "zato/index.html" %}

{% block html_title %}SMTP{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block "extra_js" %}

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/email/smtp.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'host',
            'port',
            '_username',
            '_change_password,',
            '_edit',
            '_delete',
            '_ping',
            'id',
            'is_active',
            'timeout',
            'ping_address',
            'is_debug',
            'mode',
            'username'
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
<h2 class="zato">SMTP</h2>

{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

{% include "zato/search-form.html" with page_prompt="Show connections"%}


    {% if cluster_id %}

        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.email.smtp.create()">Create a new SMTP connection</a>
        </div>

        <div id="markup">
            <table id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Host</a></th>
                        <th><a href="#">Port</a></th>
                        <th><a href="#">Username</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr class="{% cycle 'odd' 'even' %}" id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.host }}</td>
                        <td>{{ item.port }}</td>
                        <td>{{ item.username|default:"<span class='form_hint'>(None)</span>" }}</td>
                        <td><a href="javascript:$.fn.zato.data_table.change_password('{{ item.id }}')">Change password</a></td>
                        <td><a href="javascript:$.fn.zato.email.smtp.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.email.smtp.delete_('{{ item.id }}')">Delete</a></td>
                        <td><a href="javascript:$.fn.zato.data_table.ping('{{ item.id }}')">Ping</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.timeout }}</td>
                        <td class='ignore'>{{ item.ping_address }}</td>
                        <td class='ignore'>{{ item.is_debug }}</td>
                        <td class='ignore'>{{ item.mode }}</td>
                        <td class='ignore'>{{ item.username|default:"" }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='8'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>

{% include "zato/paginate/action-panel.html" %}

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "email-smtp-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:18%">
                            <label for="id_name">Name</label>
                            </td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_is_active">Active</label>
                            </td>
                            <td>{{ create_form.is_active }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_host">Host</label>
                            </td>
                            <td>{{ create_form.host }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_port">Port</label>
                            </td>
                            <td>{{ create_form.port }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_timeout">Timeout
                            <br/>
                            <span class="form_hint">(In seconds)</span>
                            </label>
                            </td>
                            <td>{{ create_form.timeout }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_username">Username</label>
                            </td>
                            <td>{{ create_form.username }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_mode">Mode</label>
                            </td>
                            <td>{{ create_form.mode }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_is_debug">Debug mode</label>
                            </td>
                            <td>{{ create_form.is_debug }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_ping_address">Ping address
                            <br/>
                            <span class="form_hint">(Default: {{ default_ping_address }})</span>
                            </label>
                            </td>
                            <td>{{ create_form.ping_address }} </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "email-smtp-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:18%">
                            <label for="id_edit-name">Name</label>
                            </td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-is_active">Active</label>
                            </td>
                            <td>{{ edit_form.is_active }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-host">Host</label>
                            </td>
                            <td>{{ edit_form.host }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-port">Port</label>
                            </td>
                            <td>{{ edit_form.port }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-timeout">Timeout
                            <br/>
                            <span class="form_hint">(In seconds)</span>
                            </label>
                            </td>
                            <td>{{ edit_form.timeout }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-username">Username</label>
                            </td>
                            <td>{{ edit_form.username }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-mode">Mode</label>
                            </td>
                            <td>{{ edit_form.mode }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-is_debug">Debug mode</label>
                            </td>
                            <td>{{ edit_form.is_debug }} </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-ping_address">Ping address
                            <br/>
                            <span class="form_hint">(Default: {{ default_ping_address }})</span>
                            </label>
                            </td>
                            <td>{{ edit_form.ping_address }} </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

        <div id="change_password-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "email-smtp-change-password" %}" method="post" id="change_password-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:18%">Name</td>
                            <td id="change-password-name"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Password</td>
                            <td>{{ change_password_form.password1 }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">Confirm password</td>
                            <td>{{ change_password_form.password2 }}
                                <input type="hidden" id="id_change_password-id" name="id" />
                                <input type="hidden" id="id_change_password-cluster_id" name="cluster_id" value='{{ cluster_id}}' />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    {% endif %} {% comment %}cluster_id{% endcomment %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
