{% extends "zato/index.html" %}

{% block html_title %}SMTP{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tippy.css">
    <link rel="stylesheet" type="text/css" href="/static/css/invoker.css">
    <link rel="stylesheet" type="text/css" href="/static/css/action-runner.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/how-it-works.css">
{% endblock %}

{% block "extra_js" %}

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/tippy/popperjs.core.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/tippy/tippy.js"></script>

    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/shared/how-it-works.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/action-runner.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/email/smtp.js"></script>

    <script nonce="{{ CSP_NONCE }}">
    $.fn.zato.email.smtp.config = {
        'providers': {{ smtp_providers|safe }},
        'mode_port': {{ smtp_mode_port|safe }},
        'default_timeout': {{ default_timeout }}
    };
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'host',
            'port',
            '_username',
            '_change_password,',
            '_edit',
            '_delete',
            '_ping',
            'id',
            'is_active',
            'timeout',
            'ping_address',
            'is_debug',
            'mode',
            'username',
            'needs_tls_verify',
            'ca_certs_path',
            'helo_hostname',
            'from_address'
        ]
    }
    </script>

{% endblock %}

{% block "content" %}
{% if not zato_clusters %}
    {% include "zato/no-clusters.html" %}
{% else %}

    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    {% if cluster_id %}
        <div id="markup">
<h2 class="zato">SMTP</h2>

{% include "zato/search-form.html" with page_prompt="Show connections"%}


        <div class='page_prompt' style="clear:left">
            <a href="javascript:$.fn.zato.email.smtp.create()">Create a new SMTP connection</a>
        </div>

            <table class="zato-table" id="data-table">
                <thead>
                    <tr class='ignore'>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><a href="#">Name</a></th>
                        <th><a href="#">Active</a></th>
                        <th><a href="#">Host</a></th>
                        <th><a href="#">Port</a></th>
                        <th><a href="#">Username</a></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                        <th class='ignore'>&nbsp;</th>
                </thead>

                <tbody>
                {% if items %}
                {% for item in items %}
                    <tr id='tr_{{ item.id }}'>
                        <td class='numbering'>&nbsp;</td>
                        <td class="impexp"><input type="checkbox" /></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.is_active|yesno:'Yes,No' }}</td>
                        <td>{{ item.host }}</td>
                        <td>{{ item.port }}</td>
                        <td>{{ item.username|default:"<span class='form_hint'>(None)</span>" }}</td>
                        <td><a href="javascript:$.fn.zato.data_table.change_password('{{ item.id }}')">Change password</a></td>
                        <td><a href="javascript:$.fn.zato.email.smtp.edit('{{ item.id }}')">Edit</a></td>
                        <td><a href="javascript:$.fn.zato.email.smtp.delete_('{{ item.id }}')">Delete</a></td>
                        <td><a href="javascript:void(0)" onclick="$.fn.zato.data_table.ping('{{ item.id }}', this)">Ping</a></td>
                        <td class='ignore item_id_{{ item.id }}'>{{ item.id }}</td>
                        <td class='ignore'>{{ item.is_active }}</td>
                        <td class='ignore'>{{ item.timeout }}</td>
                        <td class='ignore'>{{ item.ping_address }}</td>
                        <td class='ignore'>{{ item.is_debug }}</td>
                        <td class='ignore'>{{ item.mode }}</td>
                        <td class='ignore'>{{ item.username|default:"" }}</td>
                        <td class='ignore'>{{ item.needs_tls_verify }}</td>
                        <td class='ignore'>{{ item.ca_certs_path }}</td>
                        <td class='ignore'>{{ item.helo_hostname }}</td>
                        <td class='ignore'>{{ item.from_address }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr class='ignore'>
                        <td colspan='8'>No results</td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

{% include "zato/paginate/action-panel.html" %}

        </div>

        <div id="create-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "email-smtp-create" %}" method="post" id="create-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:18%">
                            <label for="id_name">Name</label>
                            </td>
                            <td>{{ create_form.name }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="id_is_active">
                                    Active
                                    {{ create_form.is_active }}
                                </label>
                                |
                                <label for="id_needs_tls_verify">
                                    TLS verify
                                    {{ create_form.needs_tls_verify }}
                                </label>
                                |
                                <label for="id_is_debug">
                                    Debug
                                    {{ create_form.is_debug }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_provider">Provider</label>
                            </td>
                            <td>
                                {{ create_form.provider }}
                                |
                                <label for="id_mode">
                                Mode
                                {{ create_form.mode }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_host">Host</label>
                            </td>
                            <td>
                                {{ create_form.host }}
                                <label for="id_port">
                                :
                                {{ create_form.port }}
                                </label>
                                <br/>
                                <span class="form_hint" id="create-port-hint"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_username">Username</label>
                            </td>
                            <td>
                                {{ create_form.username }}
                                |
                                <label for="id_from_address">
                                From
                                {{ create_form.from_address }}
                                </label>
                                <br/>
                                <span class="form_hint" id="create-username-hint"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            Advanced options
                            </td>
                            <td>
                            <a href="javascript:$.fn.zato.toggle_visibility('.smtp-advanced-create')">Toggle options</a>
                            </td>
                        </tr>
                        <tr class="smtp-advanced-create hidden">
                            <td style="vertical-align:middle">
                            <label for="id_timeout">Timeout
                            <br/>
                            <span class="form_hint">(In seconds)</span>
                            </label>
                            </td>
                            <td>{{ create_form.timeout }}</td>
                        </tr>
                        <tr class="smtp-advanced-create hidden">
                            <td style="vertical-align:middle">
                            <label for="id_helo_hostname">EHLO hostname</label>
                            </td>
                            <td>{{ create_form.helo_hostname }}</td>
                        </tr>
                        <tr class="smtp-advanced-create hidden">
                            <td style="vertical-align:middle">
                            <label for="id_ca_certs_path">CA bundle path</label>
                            </td>
                            <td>{{ create_form.ca_certs_path }}</td>
                        </tr>
                        <tr class="smtp-advanced-create hidden">
                            <td style="vertical-align:middle">
                            <label for="id_ping_address">Ping address
                            <br/>
                            <span class="form_hint">(Optional test recipient)</span>
                            </label>
                            </td>
                            <td>{{ create_form.ping_address }}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;vertical-align:middle">
                                <span class="how-it-works-badge" id="create-how-it-works">How does it work?</span>
                            </td>
                            <td style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                </form>
            </div>
        </div>

        <div id="edit-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "email-smtp-edit" %}" method="post" id="edit-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:18%">
                            <label for="id_edit-name">Name</label>
                            </td>
                            <td>{{ edit_form.name }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <label for="id_edit-is_active">
                                    Active
                                    {{ edit_form.is_active }}
                                </label>
                                |
                                <label for="id_edit-needs_tls_verify">
                                    TLS verify
                                    {{ edit_form.needs_tls_verify }}
                                </label>
                                |
                                <label for="id_edit-is_debug">
                                    Debug
                                    {{ edit_form.is_debug }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-mode">Mode</label>
                            </td>
                            <td>{{ edit_form.mode }}</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-host">Host</label>
                            </td>
                            <td>
                                {{ edit_form.host }}
                                <label for="id_edit-port">
                                :
                                {{ edit_form.port }}
                                </label>
                                <br/>
                                <span class="form_hint" id="edit-port-hint"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            <label for="id_edit-username">Username</label>
                            </td>
                            <td>
                                {{ edit_form.username }}
                                |
                                <label for="id_edit-from_address">
                                From
                                {{ edit_form.from_address }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle">
                            Advanced options
                            </td>
                            <td>
                            <a href="javascript:$.fn.zato.toggle_visibility('.smtp-advanced-edit')">Toggle options</a>
                            </td>
                        </tr>
                        <tr class="smtp-advanced-edit hidden">
                            <td style="vertical-align:middle">
                            <label for="id_edit-timeout">Timeout
                            <br/>
                            <span class="form_hint">(In seconds)</span>
                            </label>
                            </td>
                            <td>{{ edit_form.timeout }}</td>
                        </tr>
                        <tr class="smtp-advanced-edit hidden">
                            <td style="vertical-align:middle">
                            <label for="id_edit-helo_hostname">EHLO hostname</label>
                            </td>
                            <td>{{ edit_form.helo_hostname }}</td>
                        </tr>
                        <tr class="smtp-advanced-edit hidden">
                            <td style="vertical-align:middle">
                            <label for="id_edit-ca_certs_path">CA bundle path</label>
                            </td>
                            <td>{{ edit_form.ca_certs_path }}</td>
                        </tr>
                        <tr class="smtp-advanced-edit hidden">
                            <td style="vertical-align:middle">
                            <label for="id_edit-ping_address">Ping address
                            <br/>
                            <span class="form_hint">(Optional test recipient)</span>
                            </label>
                            </td>
                            <td>{{ edit_form.ping_address }}</td>
                        </tr>
                        <tr>
                            <td style="text-align:left;vertical-align:middle">
                                <span class="how-it-works-badge" id="edit-how-it-works">How does it work?</span>
                            </td>
                            <td style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="id_edit-cluster_id" name="cluster_id" value="{{ cluster_id }}" />
                    <input type="hidden" id="id_edit-id" name="id" />
                </form>
            </div>
        </div>

        <div id="change_password-div" class='data-popup ignore'>
            <div class="bd">
                <form novalidate action="{% url "email-smtp-change-password" %}" method="post" id="change_password-form">
                    <table class="form-data">
                        <tr>
                            <td style="vertical-align:middle; width:18%">Name</td>
                            <td id="change-password-name"></td>
                        </tr>
                        <tr>
                            <td style="vertical-align:middle"><label for="{{ change_password_form.password.id_for_label }}">Password</label></td>
                            <td>{{ change_password_form.password }}
                                <input type="hidden" id="id_change_password-id" name="id" />
                                <input type="hidden" id="id_change_password-cluster_id" name="cluster_id" value='{{ cluster_id}}' />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right">
                                <input type="submit" value="OK" />
                                <button type='button' onclick='javascript:$.fn.zato.data_table.close(this)'>Cancel</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    {% endif %} {% comment %}cluster_id{% endcomment %}

{% endif %}{% comment %}not zato_clusters{% endcomment %}

{% endblock %}
