.gateway-service-list-row {
    display: none;
}

.gateway-service-list-row textarea {
    width: 100%;
    height: 8em;
}

.gateway-badge {
    display: none;
    background-color: #8b5cf6;
    color: #fff;
    font-family: monospace;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 2px 6px;
    margin-right: 6px;
    border-radius: 3px;
    vertical-align: middle;
}

.gateway-badge.visible {
    display: inline-block;
}
