{% extends "zato/index.html" %}

{% block html_title %}{{ page_config.title }}{% endblock %}

{% block "extra_css" %}
    <link rel="stylesheet" type="text/css" href="/static/css/status-message.css">
    <link rel="stylesheet" type="text/css" href="/static/css/shared/time-slots.css">
    <link rel="stylesheet" type="text/css" href="/static/css/rate-limiting.css">
    <link rel="stylesheet" type="text/css" href="/shared-ui/webapp/css/progress-log.css">
    <link rel="stylesheet" type="text/css" href="/static/css/env-repo.css">
{% endblock %}

{% block "extra_js" %}
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/common.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/shared-ui/webapp/js/progress-log.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/env-repo.js"></script>
    <script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/env-repo-address.js"></script>
{% endblock %}

{% block "content" %}

<div id="markup" class="env-repo-markup">
<h2 class="zato env-repo-title">
    <svg class="env-repo-github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"/></svg>
    {{ page_config.title }}
</h2>

<form id="repo-form" method="get" action="" autocomplete="on">
<table class="rate-limiting-form">
    {% if current_full_name %}
    <tr>
        <td class="rate-limiting-form-label">
            <label>{{ page_config.current_label }}</label>
        </td>
        <td>
            <span class="env-repo-current" id="current-repo" title="{{ current_url }}">{{ current_full_name }} at {{ current_branch }}</span>
        </td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="2">
            <input type="text" id="repo-url" name="github-repository" class="env-repo-input" value="{{ current_url }}" placeholder="GitHub repository, e.g. https://github.com/owner/{{ new_repo_name }}" autocomplete="on" spellcheck="false" data-current-branch="{{ current_branch }}" />
        </td>
    </tr>
    <tr class="hidden" id="branch-row">
        <td class="rate-limiting-form-label">
            <label for="repo-branch">{{ page_config.repo_branch_label }}</label>
        </td>
        <td>
            <select id="repo-branch"></select>
        </td>
    </tr>
</table>

<div class="rate-limiting-actions">
    <a href="{{ new_repo_url }}" class="env-repo-link" id="create-button" target="_blank" rel="noopener">
        {{ page_config.new_repo_label }}
        <svg class="env-repo-external" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>
    </a>
    <span class="rate-limiting-save-group">
        <span class="status-message" id="env-repo-status"></span>
        <input type="submit" id="action-button" value="{{ page_config.connect_label }}"
            data-connect-label="{{ page_config.connect_label }}"
            data-allow-label="{{ page_config.allow_label }}"
            data-switch-label="{{ page_config.switch_label }}" />
    </span>
</div>
</form>

<div class="env-repo-progress" id="progress-log"></div>

<div class="env-repo-flow">

    <div class="env-repo-step env-repo-key-help hidden" id="key-help">
        <span class="env-repo-step-body">
            <span class="env-repo-step-title">{{ page_config.key_help_text }}</span>
            <span class="env-repo-key">
                <span id="public-key">{{ public_key }}</span>
                <span class="env-repo-copy" id="copy-key" title="Copy to clipboard">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg>
                </span>
            </span>
            <a href="#" id="deploy-key-link" class="env-repo-link" target="_blank" rel="noopener">
                {{ page_config.key_help_label }}
                <svg class="env-repo-external" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>
            </a>
        </span>
    </div>

</div>

</div>

{% endblock %}
