@import url("../dashboard-kit/kit.css");
@import url("../dashboard-kit/time_range.css");
@import url("../dashboard-kit/main_chart.css");
@import url("../dashboard-kit/outcome.css");
@import url("../dashboard-kit/preview_overlay.css");
@import url("../syntax_light.css");

.data-preview {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data-preview .syntax-light {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 12px;
}

a.queue-preview-link,
a.queue-preview-link:hover,
a.queue-preview-link:visited {
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}

#queue-pagination-top,
#queue-pagination-bottom {
    min-height: 31px;
}

.detail-table td,
.detail-table th {
    white-space: nowrap;
    width: 1%;
}

.detail-table .data-preview {
    width: auto;
}

.detail-table .queue-msg-id a {
    font-family: 'Menlo', 'Consolas', 'Monaco', monospace;
    font-size: 12px;
}

#messages-body {
    counter-reset: row-num;
}

#messages-body tr td.queue-row-num {
    counter-increment: row-num;
    width: 1%;
    white-space: nowrap;
}

#messages-body tr td.queue-row-num::before {
    content: counter(row-num);
}
