
{% if meta.total %}

<div style="text-align:center;padding:10px;padding-top:14px;padding-right:30px;font-size:small;float:right;z-index:5300">

  <form novalidate action="." method="get" style="display:inline-block;">
    <span class="form_hint">{{ meta.total }}</span>
    <span class="form_hint">result{% if meta.total > 1 %}s{% endif %}</span>
    |
    <span class="form_hint">Page {{ meta.cur_page }} of {{ meta.num_pages }}</span>
  |

  <span style="vertical-align:middle">

  {% if meta.has_prev_page%}
    {% include "zato/paginate/prev-page.html" %}
  {% else %}
    <span style="color:#666;font-size:12px;padding:3px 3px 3px 1px" class="form_hint" >Previous</span>
  {% endif %}

  {% if meta.has_next_page %}
    {% include "zato/paginate/next-page.html" %}
  {% else %}
    <span style="color:#666;font-size:12px;padding: 3px 3px 3px 1px" class="form_hint">Next</span>
  {% endif %}

  </span>

  </form>

</div>

{% endif %}
