
{% if meta.total %}

<div class="action-panel">

  <form novalidate action="." method="get" style="display:inline-block;">
    <span style="vertical-align:middle;" class="pagination-wrapper">
      <span class="form_hint">{{ meta.total }}</span>
      <span class="form_hint">result{% if meta.total > 1 %}s{% endif %}</span>
      |
      <span class="form_hint">Page {{ meta.cur_page }} of {{ meta.num_pages }}</span>
      |

  {% if meta.has_prev_page%}
    {% include "zato/paginate/prev-page.html" %}
  {% else %}
    <span class="previous-next form_hint" >Previous</span>
  {% endif %}

  {% if meta.has_next_page %}
    {% include "zato/paginate/next-page.html" %}
  {% else %}
    <span class="previous-next">Next</span>
  {% endif %}
    </span>
  </form>

</div>

{% endif %}
