{% extends "zato/index.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.alerts.css">
{% endblock %}

{% block extra_js %}

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="/static/jquery/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/jquery/jquery.alerts.min.js"></script>

    {% comment %} Common JS {% endcomment %}
    <script type="text/javascript" src="/static/js/common.js"></script>

    {% comment %} HTTP Basic Auth {% endcomment %}
    <script type="text/javascript" src="/static/js/cluster.js"></script>


    <script>
    $.fn.zato.data_table.get_columns = function() {
        return [
            '_numbering',
            '_selection',
            'name',
            '_is_active',
            'username',
            'domain',
            '_change_password',
            '_edit',
            '_delete',
            'id',
            'is_active',
        ]
    }
    </script>

{% endblock %}

{% block content %}
<h2 class="zato">Clusters</h2>


    <div id="user-message-div" style='display:none'><pre id="user-message" class="user-message"></pre></div>

    <div class='page_prompt'>
        <a href="javascript:$.fn.zato.cluster.create()">Create a new cluster</a>
    </div>

    <div id="create-div" class='data-popup ignore'>
        <div class="bd">
            <form action="{% url cluster-create %}" method="post" id="create-form">
                <table class="form-data">
                    <tr>
                        <td style="vertical-align:middle">Name</td>
                        <td colspan="5">{{ create_form.name }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle">Description</td>
                        <td colspan="5">{{ create_form.description }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle">ODB type</td>
                        <td>{{ create_form.odb_engine }}</td>
                        <td style="vertical-align:middle">ODB host</td>
                        <td>{{ create_form.odb_host }}</td>
                        <td style="vertical-align:middle">ODB port</td>
                        <td>{{ create_form.odb_port }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle">ODB user</td>
                        <td>{{ create_form.odb_user }}</td>
                        <td style="vertical-align:middle">ODB name</td>
                        <td>{{ create_form.odb_db_name }}</td>
                        <td style="vertical-align:middle">ODB schema (optional)</td>
                        <td>{{ create_form.odb_schema }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle; width:12%">RabbitMQ host</td>
                        <td>{{ create_form.amqp_host }}</td>
                        <td style="vertical-align:middle; width:12%">RabbitMQ port</td>
                        <td>{{ create_form.amqp_port }}</td>
                        <td style="vertical-align:middle">RabbitMQ user</td>
                        <td>{{ create_form.amqp_user }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle; width:12%">LB host</td>
                        <td>{{ create_form.lb_host }}</td>
                        <td style="vertical-align:middle">LB agent port</td>
                        <td>{{ create_form.lb_agent_port }}</td>
                        <td colspan="2"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div id="edit-div" class='data-popup ignore'>
        <div class="bd">
            <form action="{% url cluster-edit %}" method="post" id="edit-form">
                <table class="form-data">
                    <tr>
                        <td style="vertical-align:middle">Name</td>
                        <td colspan="5">{{ edit_form.name }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle">Description</td>
                        <td colspan="5">{{ edit_form.description }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle">ODB type</td>
                        <td>{{ edit_form.odb_engine }}</td>
                        <td style="vertical-align:middle">ODB host</td>
                        <td>{{ edit_form.odb_host }}</td>
                        <td style="vertical-align:middle">ODB port</td>
                        <td>{{ edit_form.odb_port }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle">ODB user</td>
                        <td>{{ edit_form.odb_user }}</td>
                        <td style="vertical-align:middle">ODB name</td>
                        <td>{{ edit_form.odb_db_name }}</td>
                        <td style="vertical-align:middle">ODB schema (optional)</td>
                        <td>{{ edit_form.odb_schema }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle; width:12%">RabbitMQ host</td>
                        <td>{{ edit_form.amqp_host }}</td>
                        <td style="vertical-align:middle; width:12%">RabbitMQ port</td>
                        <td>{{ edit_form.amqp_port }}</td>
                        <td style="vertical-align:middle">RabbitMQ user</td>
                        <td>{{ edit_form.amqp_user }}</td>
                    </tr>

                    <tr>
                        <td style="vertical-align:middle; width:12%">LB host</td>
                        <td>{{ edit_form.lb_host }}</td>
                        <td style="vertical-align:middle">LB agent port</td>
                        <td>{{ edit_form.lb_agent_port }}</td>
                        <td colspan="2"></td>
                    </tr>
                </table>
                <input type="hidden" id="cluster_id" name="cluster_id" value="{{ cluster_id }}" />
            </form>
        </div>
    </div>

    <!--

        <div id="delete-cluster" class="yui-pe-content">
            <div class="hd">Delete cluster</div>
            <div class="bd">
                <form action="{% url cluster-delete %}" method="post" id="delete-form">
                    <table class="form-data">
                        <tr>
                            <td>
                            Are you sure you want to delete the cluster
                            <span id="delete-name" style="font-weight:bolder"></span>?
                            <br/>

                            Note that only the cluster will be deleted, all the related objects -
                            such as servers or load-balancer configuration -
                            will be left intact.
                            <br/><br/>

                            Type YES (all uppercase) to delete the cluster:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ delete_form.answer }}
                                {{ delete_form.cluster_id }}
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        
    -->

    <div id="markup">
        <table id="data-table">
            <thead>

                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Cluster</th>
                    <th>Addresses</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>
            {% for item in clusters %}

                <tr 
                    class="{% if not item.lb_config or not item.all_up %}attention{% else %} {% cycle 'odd' 'even' %}{% endif %}"
                    
                    id='tr_{{ item.id }}'>
                    
                    <td class='numbering'>&nbsp;</td>
                    <td><input type="checkbox" /></td>
                    <td>{{ item.name }}

                    {% if item.description %}
                        <br/>
                        <pre>{{ item.description }}</pre>
                    {% endif %}
                    
                    {% if not item.lb_config %}
                    <br/>
                    Could not fetch the load balancer's configuration
                    {% endif %}
                    

                    {% if item.lb_config %}
                        {% include "zato/cluster/servers_state.html" %}
                    {% endif %}

                    </td>
                    <td>

                    {% if item.lb_config %}
                    HTTP:
                        <a href="http://{{ item.lb_config.frontend.front_http_plain.bind.address}}:{{ item.lb_config.frontend.front_http_plain.bind.port}}">
                        http://{{ item.lb_config.frontend.front_http_plain.bind.address}}:{{ item.lb_config.frontend.front_http_plain.bind.port}}
                        </a>
                    {% else %}
                        Could not fetch the load balancer's configuration
                    {% endif %}

                    <br/>
                    {% if item.lb_config %}
                    LB XML-RPC agent:
                        <a href="https://{{ item.lb_host }}:{{ item.lb_agent_port }}/RPC2">
                        https://{{ item.lb_host }}:{{ item.lb_agent_port }}/RPC2
                        </a>
                    {% endif %}

                    <br/>
                    {% if item.lb_config %}
                    LB stats:
                        {% if item.lb_config.defaults.stats_uri %}
                            <a href="http://{{ item.lb_host }}:{{ item.lb_config.frontend.front_http_plain.bind.port}}{{ item.lb_config.defaults.stats_uri }}">
                            http://{{ item.lb_host }}:{{ item.lb_config.frontend.front_http_plain.bind.port}}{{ item.lb_config.defaults.stats_uri }}
                            </a>
                        {% else %}
                            URL not configured
                        {% endif %}
                    {% endif %}

                    <br/>
                    {% if item.lb_config %}
                    LB HTTP health-check:
                        <a href="http://{{ item.lb_config.frontend.front_http_plain.bind.address}}:{{ item.lb_config.frontend.front_http_plain.bind.port}}{{ item.lb_config.frontend.front_http_plain.monitor_uri }}">
                        http://{{ item.lb_config.frontend.front_http_plain.bind.address}}:{{ item.lb_config.frontend.front_http_plain.bind.port}}{{ item.lb_config.frontend.front_http_plain.monitor_uri }}
                        </a>
                    {% endif %}

                    </td>
                    <td>
                        <a href="javascript:item_edit('{{ item.id }}')">Edit</a>
                    </td>
                    <td>
                        <a href="javascript:item_delete('{{ item.id }}')">Delete</a>
                    </td>
                    <td>
                        {% if item.lb_config %}
                            <a href="{% url lb-manage item.id %}">Manage load balancer</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.lb_config %}
                            <a href="javascript:item_add_remove_servers('{{ item.id }}')">Add/remove servers</a>
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}
