{% extends "zato/settings-base.html" %}

{% block page_title %}Message: {{ msg_id }}{% endblock %}

{% block extra_page_css %}
<link rel="stylesheet" type="text/css" href="/static/css/eda.css">
{% endblock %}

{% block section_title %}Message detail{% endblock %}
{% block help_icon_id %}eda-message-help{% endblock %}

{% block extra_page_js %}
<script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/ace-builds/src/ace.js"></script>
<script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/eda/sparkline.js"></script>
<script nonce="{{ CSP_NONCE }}" type="text/javascript" src="/static/js/eda/message-detail.js"></script>
<script nonce="{{ CSP_NONCE }}">
$(document).ready(function() {
    $.fn.zato.eda.message_detail.init({{ message_data|safe }});
});
</script>
{% endblock %}

{% block content_rows %}

<div class="eda-msg-metadata" id="msg-metadata"></div>

<h3 class="section-title">Message data</h3>
<div id="msg-data-content" style="border: 3px solid var(--primary-dark); padding: 8px;"></div>

<h3 class="section-title">Delivery status</h3>
<table class="eda-table">
    <thead><tr><th>Subscriber</th><th>Status</th></tr></thead>
    <tbody id="delivery-body"></tbody>
</table>
{% endblock %}
