#data-table {
    width:100%;
    margin-top: 8px;
    margin-left: 2%;
    border:1px solid #ccc;
    font-size:12px;

	counter-reset: data_table_counter;

    a {
        font-size:12px;
    }

    tr.odd {
        background-color:#fff;
    }

    tr.even {
        background-color:#e8e8e8;
    }

    tr.updated {
        background-color: $attention
    }

    tr.attention td, tr.updated td {
        border-bottom:1px solid #a9a244;
    }

    td, th {
        padding:6px
    }

    th {
		background: #ddd;
        font-size:11px;
    }

    td {
        vertical-align:middle !important
    }

    td.inline_header {
		background: #ddd;
    }

	td.numbering:before {
		content: counter(data_table_counter);
		counter-increment: data_table_counter;
	}

	/* This two below are because of https://github.com/zatosource/zato/issues/22 (Add import/export) */
	td.impexp {
		width:1px;
	}
	td.impexp input {
		display:none;
		width:1px;
	}

}

.form-data{
    width:100%;
	border:1px solid #666;
	padding:10px;
	font-size:12px;
	background-color:#ccc;
	color:#000;
	text-shadow: 1px 1px 0 #eee;
}

.form-data td {
    border:none;
    padding:4px;
    padding-right:12px;
}


.ui-dialog-titlebar {
    padding:10px;
    background-color:#999;
	font-size:13px;
	border:1px solid #666;
	border-bottom:none;
	text-align:left;
	text-shadow: 1px 1px 0 #aaa;
}

.form_hint {
    font-size:smaller;
    color:#333
}


.attention {
	background-color: $attention;
}

div.bd {
	box-shadow: 1px 1px 10px #000;
}

div.ui-dialog {
    width:33em !important;
}

p.big-notice {
	background-color: $attention2;
	width:50%;
	margin:0 auto;
	padding:20px;
	margin-top:20px;
	text-align:center;
	font-size:large;
	border:1px solid #999
}
