#console-header {
    background-color:#0e0e0e;
	box-shadow:0px 0px 4px #333;
}

#logo{
    font-size:140%;
    padding-left:5px;
    color:#999;
    font-weight:600;
	font-family:sans-serif;
	text-shadow: 2px 2px 0 #333;
}

#logout {
	color:#fff;
	float:right;
	font-size:11px;
	padding-top:6px;
	padding-right:7.5px;
}