#console-header {
    background-color: var(--header-bg);
	box-shadow: 0px 0px 4px var(--header-shadow);
}

#logo{
    font-size:140%;
    padding-left:5px;
    color:#999;
    font-weight:600;
	font-family:sans-serif;
	text-shadow: 2px 2px 0 var(--header-shadow);
}

#logout {
	color: var(--header-link-color);
	float:right;
	font-size:11px;
	padding-top:6px;
	padding-right:7.5px;
}
