::-ms-reveal,
::-ms-clear {
  display: none !important;
}

.hideShowPassword-toggle,
.hideShowPassword-toggle:active,
.hideShowPassword-toggle:focus,
.hideShowPassword-toggle:focus-visible,
.hideShowPassword-toggle:focus-within
 {
  top:10% !important;
  width: 4rem;
  color: #666;
  background: transparent !important;
  border: none !important;
  text-transform: uppercase;
  font-size: 0.65rem !important;
  box-shadow: none !important;
}

.hideShowPassword-toggle:hover {
  cursor: pointer;
}

.hideShowPassword-wrapper {
  width:100%;
}
