::-ms-reveal,
::-ms-clear {
  display: none !important;
}

.hideShowPassword-toggle {
  top:8% !important;
  width: 4rem;
  color: #555;
  background: transparent !important;
  background-color: #f3f3f3 !important;
  border: none !important;
  text-transform: uppercase;
  font-size: 0.7rem !important;
  -moz-box-shadow: #aaa 0 0 7px 0;
  -webkit-box-shadow: #aaa 0 0 7px 0;
  -o-box-shadow: #aaa 0 0 7px 0;
  box-shadow: #aaa 0 0 7px 0;
  border-radius: 0px !important;
}

.hideShowPassword-toggle:hover {
  background-image: linear-gradient(#fff, #ddd 1px, #eee) !important;
}

.hideShowPassword-wrapper {
  width:100%;
}
