#main-menu {
    background-color: var(--nav-bg);
    border-bottom:3px solid var(--nav-border);
}

#main-menu ul, span.like-a {
    float: left;
    font-size:11px;
    font-family: sans-serif;
}

#main-menu ul li, span.like-a{
    display: inline;
}

#main-menu ul li a, span.like-a {
    color: var(--nav-text);
    cursor: pointer;
    float: left;
    text-decoration: none;
    padding: 10.5px 5px;
}

#main-menu ul li.wide {
    width: 120px;
}
