.status-message {
    display: none;
    color: var(--zato-status-ok-color);
    font-weight: 600;
    font-size: 12px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.status-message.show {
    display: inline-block;
}

.status-message.fade {
    opacity: 0;
}

.status-message.status-message-success {
    color: var(--zato-status-ok-color);
    margin-right: 4px;
}

.status-message.status-message-error {
    color: #dc3545;
    margin-right: 4px;
}
