:root {
    --zato-seablue: #012845;
    --zato-seablue-light1: #063c65;
    --zato-seablue-light2: #14578a;
    --zato-seablue-light3: #2f81bf;
}

html,
body,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: sans-serif;
    vertical-align: baseline
}

:focus {
    outline: 0
}

html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

body {
    color: black;
    background: #f3f3f3
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal
}

.sf-menu {
    float: left;
    margin-bottom: 0
}

.sf-menu li {
    background: #363636
}

.sf-menu li li {
    background: #363636
}

.sf-menu li li li {
    background: #363636
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
    background: #464646;
    outline: 0
}

.sf-menu a {
    border-left: 1px solid #fff;
    border-top: 1px solid #CFDEFF;
    padding: .75em 1em;
    text-decoration: none;
    display: block;
    position: relative
}

span.like-a {
    color: #fff
}

.sf-menu a,
.sf-menu a:visited,
span.like-a {
    font-size: 11px;
    font-family: sans-serif;
    border: none;
    text-decoration: none
}

.sf-sub-indicator {
    display: none
}

#console-header {
    background-color: var(--zato-seablue);
    box-shadow: 0px 0px 4px #333
}

#logo {
    font-size: 140%;
    padding-left: 5px;
    padding-bottom: 13px;
    color: #999;
    font-weight: 600;
    font-family: sans-serif;
    vertical-align: middle
}

#logout {
    color: #fff;
    float: right;
    font-size: 0.77rem;
    padding-top: 6px;
    padding-right: 7.5px
}

#main-menu {
    background-color: #363636;
    border-bottom: 3px solid #aaa
}

#main-menu ul,
span.like-a {
    float: left;
    font-size: 11px;
    font-family: sans-serif
}

#main-menu ul li,
span.like-a {
    display: inline
}

#main-menu ul li a,
span.like-a {
    float: left;
    text-decoration: none;
    color: white;
    padding: 10.5px 5px
}

#main-menu ul li a.spaced {
    line-height: 1rem;
}

#main-menu ul li.wide {
    width: 120px
}

#user-message-div {
    padding-top: 16px;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px
}

.user-message {
    padding: 6px;
    border-style: dotted;
    color: #333333;
    text-align: left
}

.user-message-success {
    border-color: #333333;
    border-width: 1px;
    background-color: #bbdd55
}

.user-message-failure {
    padding-top: 9px !important;
    padding-bottom: 10px !important;
    border-color: red;
    border-width: 2px;
    background-color: #eeee33
}

.error-message {
    background-color: #ffccbb;
    padding: 6px;
    margin-bottom: 12px;
    border: 1px dotted #999999;
    font-weight: 600;
    color: #933
}

.loading {
    background: url(/static/gfx/ajax-loader.gif) no-repeat;
    height: 16px
}

.loading:after {
    content: "Please wait ...";
    padding-left: 30px
}

#data-table {
    width: 96%;
    margin-top: 12px;
    margin-left: 2%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 4px;
    overflow: hidden;
    font-size: 0.85rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    border: none;
    counter-reset: data_table_counter
}

#data-table a {
    color: #037ac7;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: monospace;
    letter-spacing: 0.02rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

#data-table tr.odd {
    background-color: #f8f9fa
}

#data-table tr.even {
    background-color: #fff
}

/* Conditional hover effect - only apply if table has 3+ rows - DISABLED to always use lighter hover effect
#data-table tbody tr:nth-child(1):hover:nth-last-child(n+3),
#data-table tbody tr:nth-child(2):hover:nth-last-child(n+2),
#data-table tbody tr:nth-child(3) ~ tr:hover,
#data-table tbody tr:nth-child(3):hover {
    background-color: var(--zato-seablue-light2) !important;
    color: #fff !important;
}
*/


#data-table tr.updated {
    background-color: rgba(255, 243, 205, 0.7)
}

#data-table tr.attention td,
#data-table tr.updated td {
    border-bottom: 1px solid rgba(169, 162, 68, 0.5)
}

#data-table td,
#data-table th {
    padding: 10px;
    border-bottom: 1px solid rgba(6, 60, 101, 0.12)
}

#data-table th {
    background: var(--zato-seablue);
    color: #fff;
    font-size: 0.85rem;
    font-weight: 500;
    white-space: nowrap;
    position: relative
}

#data-table th.header:not(.ignore):nth-child(n+3):hover {
    background: var(--zato-seablue-light1);
    cursor: pointer
}

#data-table th a {
    color: white;
    display: block;
    position: relative;
    padding-right: 15px
}

#data-table th a:after {
    content: '';
    display: none
}

#data-table td {
    vertical-align: middle !important
}

/* Center cells in columns whose headers contain specific text */

/* Align columns by thead header text */
#data-table tr th:has(a[href='#']:contains('Active')) ~ td:nth-child(4),
#data-table tr td:nth-child(4) {
    text-align: center;
}

#data-table tr th:has(a[href='#']:contains('Internal')) ~ td:nth-child(6),
#data-table tr td:nth-child(6) {
    text-align: center;
}

/* This is the flexible approach that works with any header text */
/* Add more rules following this pattern for other headers */

/* Helper attribute to store aligned column info */
#data-table[data-center-columns="Active,Internal"] tr td:nth-child(4),
#data-table[data-center-columns="Active,Internal"] tr td:nth-child(6) {
    text-align: center;
}

#data-table td.inline_header {
    background: rgba(6, 60, 101, 0.05)
}

#data-table td.numbering {
    position: relative;
    text-align: center
}

#data-table td.numbering:before {
    content: counter(data_table_counter);
    counter-increment: data_table_counter;
    color: #333;
    font-size: 0.85rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500
}

#data-table td.impexp,
#data-table th:nth-child(2) {
    display: none
}

.form-data {
    width: 100%;
    border: 1px solid #666;
    padding: 10px;
    font-size: 12px;
    background-color: #ccc;
    color: #000;
}

#login-form .form-data {
    max-width: 620px;
    margin: 0 auto;
    background-color: var(--zato-seablue);
    color: white;
}

.form-data td {
    border: none;
    padding: 4px;
    padding-right: 0px
}

#login-form .form-data td {
    padding: 8px
}

#login-form .form-data td[colspan="2"] {
    text-align: right !important;
    padding: 15px 0 0 0
}

/* Position the login button */
#login-form #login {
    float: right;
    margin-right: 0;
    margin-top: 0
}

#login-form .form-data td:first-child {
    width: 30%;
    text-align: right;
    padding-right: 23px;
    padding-left: 15px
}

#login-form .form-data td:nth-child(2) {
    width: 80%;
    padding-left: 0px;
    padding-right: 70px
}

/* Override any inline styling that might interfere with button positioning */
#login-form .form-data tr:last-child td[style*="text-align:left"] {
    text-align: right !important
}

.ui-dialog-titlebar {
    padding: 10px;
    background-color: #999;
    font-size: 13px;
    border: 1px solid #666;
    border-bottom: none;
    text-align: left;
}

.form_hint {
    font-size: smaller;
    color: #333
}

.disabled {
    font-size:0.78rem;
    color: #888;
}

.attention {
    background-color: #f7f089
}

div.bd {
    box-shadow: 3px 3px 10px #666
}

div.ui-dialog {
    width: 38em !important
}

p.big-notice {
    background-color: #ccc;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: large;
    border: 1px solid #999
}

.ui-dialog-titlebar {
    background-color: var(--zato-seablue-light1);
    font-size: 13px;
    border-bottom: none;
    text-align: left;
    color: #eee;
}

.ui-icon-closethick {
    display: none
}

.ui-dialog-buttonset {
    text-align: right
}

.ui-icon-closethick {
    display: none
}

select {
    -webkit-appearance: listbox !important;
}

.ui-widget {
    box-shadow: 3px 3px 10px #666
}

.ui-datepicker {
    border: 1px solid #aaaaaa;
    background: #fff url(images/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x;
    color: #222222;
    font-size: 0.9em
}

.ui-slider .ui-slider-handle {
    border: 1px solid #999
}

#popup_container {
    border-radius: 0 0 0 0
}

h2.zato {
    font-size: 80%;
    padding: 10px;
    padding-left: 4px;
    color: #222;
    border-bottom: 1px dotted #767676
}

div.prompt {
    font-size: 11px;
    padding: 10px;
    padding-left: 4px
}

div.prompt form {
    padding-top: 4px
}

a:not(.menu-link) {
    color: #000;
    font-family: arial, helvetica, clean, sans-serif;
    text-decoration: underline;
    padding: 3px;
}

a:not(.menu-link):hover {
    color: #fff !important;
    background-color: var(--zato-seablue-light3);
    text-decoration: none;
}

th.header a:hover {
    background-color: initial !important;
}

a.top,
a.top:hover {
    color: #fff;
    text-decoration: none;
}

a.hint {
    color: #333;
    font-size: 10px
}

#footer {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin: 5px 5px 0px 0px;
    padding: 5px;
    background-color: #e0e0e0;
    text-align: right
}

.validation-advice {
    color: #c00
}

.options-button {
    cursor: pointer
}

#markup {
    width: 94%;
    text-align: center
}

#markup.columns {
    display: flex;
    width: 100%;
}

body {
    counter-reset: left-column-counter;
    counter-reset: right-column-counter;
}

.left-column {
    background-color: #fff;
    flex-grow: 1;
    max-width: 50%;
    max-height: 88vh;
    overflow: scroll;
}

.right-column {
    background-color: #fff;
    flex-grow: 1;
    max-width: 50%;
    max-height: 88vh;
    overflow: scroll;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content:stretch;
}

.column-header {
    text-align: left;
    padding-left: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #eee;
}

.column-header.left {
    padding-left: 0.3rem;
    border-right: 1px solid #bbb
}

.column-body.left {
    border-right: 1px solid #bbb
}

.listing {
    min-height: 80vh;
}

#listing-left-empty,
#listing-right-empty
{
    margin-top: 1rem;
    font-size: 0.91rem !important;
}

.handle {
    cursor: move;
}

.list-group-item {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f6f6f6;
    margin: 0.3rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 0.4rem;
    text-align: left;
    font-size: 0.76rem !important;
    font-family: monospace;
    display: flex;
    align-items: center;
    transition: background-color 0.05s ease;
}

.list-group-item .sec-type {
    text-transform: uppercase;
    font-size: 0.56rem;
    letter-spacing: 0.05rem;
    background-color: #ddd;
    padding: 0.3rem;
    margin-left: 0.4rem;
    margin-right: 0.1rem;
    min-width: 5rem;
    text-align: center;
}

.list-group-item a {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.18rem;
    padding-bottom: 0.2rem;
    display: inline-block;
}

.list-group-item .handle {
    flex: 1;
}

.list-group-item .handle:after {
    content: '\2807';
    font-size: 1.2rem;
    float: right;
    color: #666;
}

.list-group-item.left {
    counter-increment: left-column-counter;
}

.list-group-item.right {
    counter-increment: right-column-counter;
}

.list-group-item.left::before {
    content: counter(left-column-counter) ". ";
}

.list-group-item.right::before {
    content: counter(right-column-counter) ". ";
}

.list-group-item:hover {
    background-color: #f1f178;
}

.list-group-item.selected {
    background-color: #e3e3e3;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    transition: background-color 0.3s ease;
}

.list-group-item.selected a {
    background-color: #ff9;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.18rem;
    padding-bottom: 0.2rem;
}

.list-group-item.selected .sec-type {
    background-color: #c9c9c9;
}

.list-group-item.left.selected::before,
.list-group-item.right.selected::before
{
    font-weight: 600;
}

.list-group-item.left.selected::before {
    content: counter(left-column-counter) ". ";
}

.list-group-item.right.selected::before {
    content: counter(right-column-counter) ". ";
}

#column-header-right-menu {
    float: right;
    font-size: 0.78rem;
    padding-top: 0.1rem;
    padding-right: 0.5rem;
}

th.ignore,
td.ignore,
div.ignore {
    display: none
}

div.page_prompt {
    padding: 4px;
    font-size: 12px;
}

div.page_prompt a {
    background-color: #ffc311;
    color: #000;
    text-decoration: none;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d3d3d3
}

div.page_prompt a:hover {
    background-color: #ffc311;
    color: #000 !important;
}

div.page_prompt a.current {
    font-weight: bolder
}

#id_file {
    width: 100%
}

.hidden {
    visibility: hidden;
    display: none
}

.visible {
    visibility: visible
}

#logo-link {
    text-decoration: none;
}

#logo-link:hover {
    background-color: var(--zato-seablue);
}

.form-data tr td a {
    color: #000;
}

.multirow-button {
    font-size: 12px;
    font-weight: 500;
    margin-left: 2px;
}

/* Apply hover effects only to actual data tables (those with classes odd/even on rows) */
#data-table tbody tr.odd:hover,
#data-table tbody tr.even:hover,
table.multi-select-table tbody tr:hover
{
    background-color: rgb(211, 229, 238);
    border-top:1px solid #222 !important;
    border-bottom:1px solid #222 !important;
}

.ui-icon {
    display: none !important;
}

.chosen-container {
    min-width:100%;
}

input[data-zato-validator-required="required"]::placeholder {
    opacity: 0.64;
    color: #000;
  }

.zato-validator-attention {
    border: 2px dotted red !important;
    background-color: #fffcc8 !important;
}

.zato-toggle-hidden,
.zato-toggle-hidden-edit {
    display: none;
}

.zato-toggle-visible,
.zato-toggle-visible-edit
 {
    visibility: visible;
}

.zato-blinking {
    animation: blink 0.5s linear 1;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.options-expanded {
    background-color:#e3e3e0;
}
.options-expanded td.to-ignore {
    background-color: #ccc;
}

.menu-link {
    cursor: pointer;
}

div.action-panel {
    text-align:center;
    padding: 10px;
    padding-top: 14px;
    padding-right: 30px;
    font-size: 1rem;
    float: right;
    z-index: 5300
}

div.action-panel span.form_hint {
    vertical-align: middle;
    display: inline-block
}

div.action-panel span.previous-next {
    color: #666;
    font-size: 0.85rem;
    padding: 3px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: 0px
}

div.action-panel a {
    font-size: 0.85rem;
    vertical-align: middle;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: 0px
}

.status-badge {
    display: inline;
    padding: 3px;
    background: rgb(1, 40, 69);
    color: #fff !important;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    font-size: 12.32px;
    font-weight: 400;
    font-family: arial, helvetica, clean, sans-serif;
    text-decoration: none !important;
    vertical-align: baseline;
    transition: color 0.3s ease, background 0.3s ease;
    visibility: hidden;
}

.status-badge.loaded {
    visibility: visible;
}

.status-badge::before {
    display: none;
}

.status-badge.with-shine {
    color: #ffd700 !important;
    background:
        linear-gradient(
            90deg,
            transparent 0%,
            transparent 40%,
            rgba(255, 255, 255, 0.15) 50%,
            transparent 60%,
            transparent 100%
        ),
        rgb(1, 40, 69);
    background-size: 200% 100%, 100% 100%;
    transition: all 0.25s ease;
    animation: shine 3s infinite;
}

@keyframes shine {
    0% {
        background-position: 200% 0, 0 0;
    }
    100% {
        background-position: -200% 0, 0 0;
    }
}

.status-badge.with-shine:hover {
    background:
        linear-gradient(
            90deg,
            transparent 0%,
            transparent 40%,
            rgba(255, 255, 255, 0.15) 50%,
            transparent 60%,
            transparent 100%
        ),
        rgb(1, 50, 85);
    background-size: 200% 100%, 100% 100%;
    border-color: rgba(255, 255, 255, 0.25);
    color: #ffd700 !important;
}

.status-badge.header-badge {
    margin-left: 8px;
    margin-right: 8px;
}

.status-badge.white {
    color: #fff !important;
}
