html,
body,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: sans-serif;
    vertical-align: baseline
}

:focus {
    outline: 0
}

html {
    overflow-y: scroll
}

body {
    color: black;
    background: #f3f3f3
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: separate;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal
}

.sf-menu {
    float: left;
    margin-bottom: 0
}

.sf-menu li {
    background: #363636
}

.sf-menu li li {
    background: #363636
}

.sf-menu li li li {
    background: #363636
}

.sf-menu li:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:hover,
.sf-menu a:active {
    background: #464646;
    outline: 0
}

.sf-menu a {
    border-left: 1px solid #fff;
    border-top: 1px solid #CFDEFF;
    padding: .75em 1em;
    text-shadow-QQQ-QQQ: -1px -1px 0 red;
    text-decoration: none;
    display: block;
    position: relative
}

span.like-a {
    color: #fff
}

.sf-menu a,
span.like-a {
    text-shadow-QQQ-QQQ: 1px 1px 0 #000
}

.sf-menu a,
.sf-menu a:visited,
span.like-a {
    font-size: 11px;
    font-family: sans-serif;
    border: none;
    text-decoration: none
}

.sf-sub-indicator {
    display: none
}

#console-header {
    background-color: #0e0e0e;
    box-shadow: 0px 0px 4px #333
}

#logo {
    font-size: 140%;
    padding-left: 5px;
    padding-bottom: 13px;
    color: #999;
    font-weight: 600;
    font-family: sans-serif;
    text-shadow-QQQ: 2px 2px 0 #333;
    vertical-align: middle
}

#logout {
    color: #fff;
    float: right;
    font-size: 11px;
    padding-top: 6px;
    padding-right: 7.5px
}

#main-menu {
    background-color: #363636;
    border-bottom: 3px solid #aaa
}

#main-menu ul,
span.like-a {
    float: left;
    font-size: 11px;
    font-family: sans-serif
}

#main-menu ul li,
span.like-a {
    display: inline
}

#main-menu ul li a,
span.like-a {
    float: left;
    text-decoration: none;
    color: white;
    padding: 10.5px 5px
}

#main-menu ul li a.spaced {
    line-height: 1rem;
}

#main-menu ul li.wide {
    width: 120px
}

#user-message-div {
    padding-top: 16px;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px
}

.user-message {
    padding: 6px;
    border-style: dotted;
    color: #333333;
    text-align: left
}

.user-message-success {
    border-color: #333333;
    border-width: 1px;
    background-color: #bbdd55
}

.user-message-failure {
    padding-top: 9px !important;
    padding-bottom: 10px !important;
    border-color: red;
    border-width: 2px;
    background-color: #eeee33
}

.error-message {
    background-color: #ffccbb;
    padding: 6px;
    margin-bottom: 12px;
    border: 1px dotted #999999;
    font-weight: 600;
    color: #933
}

.loading {
    background: url(/static/gfx/ajax-loader.gif) no-repeat;
    height: 16px
}

.loading:after {
    content: "Please wait ...";
    padding-left: 30px
}

#data-table {
    width: 100%;
    margin-top: 8px;
    margin-left: 2%;
    border: 1px solid #ccc;
    font-size: 12px;
    counter-reset: data_table_counter
}

#data-table a {
    font-size: 12px
}

#data-table tr.odd {
    background-color: #fff
}

#data-table tr.even {
    background-color: #e8e8e8
}

#data-table tr.updated {
    background-color: #f7f089
}

#data-table tr.attention td,
#data-table tr.updated td {
    border-bottom: 1px solid #a9a244
}

#data-table td,
#data-table th {
    padding: 6px
}

#data-table th {
    background: #ddd;
    font-size: 11px
}

#data-table td {
    vertical-align:middle !important
}

#data-table td.inline_header {
    background: #ddd
}

#data-table td.numbering:before {
    content: counter(data_table_counter);
    counter-increment: data_table_counter
}

#data-table td.impexp {
    width: 1px
}

#data-table td.impexp input {
    display: none;
    width: 1px
}

.form-data {
    width: 100%;
    border: 1px solid #666;
    padding: 10px;
    font-size: 12px;
    background-color: #ccc;
    color: #000;
}

.form-data td {
    border: none;
    padding: 4px;
    padding-right: 0px
}

.ui-dialog-titlebar {
    padding: 10px;
    background-color: #999;
    font-size: 13px;
    border: 1px solid #666;
    border-bottom: none;
    text-align: left;
    text-shadow-QQQ: 1px 1px 0 #aaa;
}

.form_hint {
    font-size: smaller;
    color: #333
}

.disabled {
    font-size:0.78rem;
    color: #888;
}

.attention {
    background-color: #f7f089
}

div.bd {
    box-shadow: 1px 1px 10px #000
}

div.ui-dialog {
    width: 38em !important
}

p.big-notice {
    background-color: #ccc;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: large;
    border: 1px solid #999
}

.ui-dialog-titlebar {
    padding-bottom: 0px;
    background-color: #333;
    font-size: 13px;
    border: 1px solid #666;
    border-bottom: none;
    text-align: left;
    color: #eee;
    text-shadow-QQQ: 1px 1px 0 #000
}

.ui-icon-closethick {
    display: none
}

.ui-dialog-buttonset {
    text-align: right
}

.ui-icon-closethick {
    display: none
}

select {
    -webkit-appearance: listbox !important;
}

.ui-widget {
    box-shadow: 1px 1px 10px #000
}

.ui-datepicker {
    border: 1px solid #aaaaaa;
    background: #fff url(images/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x;
    color: #222222;
    font-size: 0.9em
}

.ui-slider .ui-slider-handle {
    border: 1px solid #999
}

#popup_container {
    border-radius: 0 0 0 0
}

h2.zato {
    font-size: 80%;
    padding: 10px;
    padding-left: 4px;
    color: #222;
    border-bottom: 1px dotted #767676
}

div.prompt {
    font-size: 11px;
    padding: 10px;
    padding-left: 4px
}

div.prompt form {
    padding-top: 4px
}

a:not(.menu-link) {
    color: #000;
    font-family: arial, helvetica, clean, sans-serif;
    text-decoration: underline;
    padding: 3px;
    QQQ-padding-left: 0px
}

a:hover {
    background-color: #e0e030;
    color: #000033;
    text-decoration: none
}

a.top {
    color: #fff;
    text-shadow-QQQ: none
}

a.top:hover {
    color: #000
}

a.hint {
    color: #333;
    font-size: 10px
}

#footer {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin: 5px 5px 0px 0px;
    padding: 5px;
    background-color: #e0e0e0;
    text-align: right
}

.validation-advice {
    color: #c00
}

.options-button {
    cursor: pointer
}

#markup {
    width: 94%;
    text-align: center
}

#markup.columns {
    display: flex;
    width: 100%;
}

body {
    counter-reset: left-column-counter;
    counter-reset: right-column-counter;
}

.left-column {
    background-color: #fff;
    flex-grow: 1;
    max-width: 50%;
    max-height: 88vh;
    overflow: scroll;
}

.right-column {
    background-color: #fff;
    flex-grow: 1;
    max-width: 50%;
    max-height: 88vh;
    overflow: scroll;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content:stretch;
}

.column-header {
    text-align: left;
    padding-left: 0.7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #eee;
}

.column-header.left {
    padding-left: 0.3rem;
    border-right: 1px solid #bbb
}

.column-body.left {
    border-right: 1px solid #bbb
}

.listing {
    min-height: 80vh;
}

#listing-left-empty,
#listing-right-empty
{
    margin-top: 1rem;
    font-size: 0.91rem !important;
}

.handle {
    cursor: move;
}

.list-group-item {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f6f6f6;
    margin: 0.3rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 0.4rem;
    text-align: left;
    font-size: 0.76rem !important;
    font-family: monospace;
    display: flex;
    align-items: center;
    transition: background-color 0.05s ease;
}

.list-group-item .sec-type {
    text-transform: uppercase;
    font-size: 0.56rem;
    letter-spacing: 0.05rem;
    background-color: #ddd;
    padding: 0.3rem;
    margin-left: 0.4rem;
    margin-right: 0.1rem;
    min-width: 5rem;
    text-align: center;
}

.list-group-item a {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.18rem;
    padding-bottom: 0.2rem;
    display: inline-block;
}

.list-group-item .handle {
    flex: 1;
}

.list-group-item .handle:after {
    content: '\2807';
    font-size: 1.2rem;
    float: right;
    color: #666;
}

.list-group-item.left {
    counter-increment: left-column-counter;
}

.list-group-item.right {
    counter-increment: right-column-counter;
}

.list-group-item.left::before {
    content: counter(left-column-counter) ". ";
}

.list-group-item.right::before {
    content: counter(right-column-counter) ". ";
}

.list-group-item:hover {
    background-color: #f1f178;
}

.list-group-item.selected {
    background-color: #e3e3e3;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    transition: background-color 0.3s ease;
}

.list-group-item.selected a {
    background-color: #ff9;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.18rem;
    padding-bottom: 0.2rem;
}

.list-group-item.selected .sec-type {
    background-color: #c9c9c9;
}

.list-group-item.left.selected::before,
.list-group-item.right.selected::before
{
    font-weight: 600;
}

.list-group-item.left.selected::before {
    content: counter(left-column-counter) ". ";
}

.list-group-item.right.selected::before {
    content: counter(right-column-counter) ". ";
}

#column-header-right-menu {
    float: right;
    font-size: 0.78rem;
    padding-top: 0.1rem;
    padding-right: 0.5rem;
}

th.ignore,
td.ignore,
div.ignore {
    display: none
}

div.page_prompt {
    padding: 4px;
    font-size: 12px
}

div.page_prompt a.current {
    font-weight: bolder
}

#id_file {
    width: 100%
}

.hidden {
    visibility: hidden;
    display: none
}

.visible {
    visibility: visible
}

#logo-link {
    text-decoration: none;
}

#logo-link:hover {
    background-color: #161616;
}

.form-data tr td a {
    color: #000;
}

.multirow-button {
    font-size: 12px;
    font-weight: 500;
    margin-left: 2px;
}

#data-table * tr.odd:hover,
#data-table * tr.even:hover,
table.multi-select-table tr:hover
{
    background-color: #ff8;
}

.ui-icon {
    display: none !important;
}

.chosen-container {
    min-width:100%;
}

input[data-zato-validator-required="required"]::placeholder {
    opacity: 0.64;
    color: #000;
  }

.zato-validator-attention {
    border: 2px dotted red !important;
    background-color: #fffcc8 !important;
}

.zato-toggle-hidden,
.zato-toggle-hidden-edit {
    display: none;
}

.zato-toggle-visible,
.zato-toggle-visible-edit
 {
    visibility: visible;
}

.zato-blinking {
    animation: blink 0.5s linear 1;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.options-expanded {
    background-color:#e3e3e0;
}
.options-expanded td.to-ignore {
    background-color: #ccc;
}
