#schedule-time {
    margin-bottom: 0;
}

.schedule-select {
    font-size: 12px;
    padding: 4px 8px;
    padding-top: 3px;
    padding-left: 6px;
    margin-left: 10px;
    border: 1px solid var(--primary-dark);
    background: #fff;
    color: var(--primary-dark);
    font-weight: 600;
    cursor: pointer;
    width: 148px;
    flex-shrink: 0;
}

