.version-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.version-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.version-label {
    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.version-value {
    color: var(--primary-dark);
    font-weight: 600;
    font-family: monospace;
    font-size: 14px;
    min-width: 280px;
    text-align: right;
    line-height: 17px;
    height: 17px;
}

.version-spinner {
    width: 19px;
    height: 19px;
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
    animation: spin 0.5s linear infinite;
    filter: brightness(0) saturate(100%) invert(8%) sepia(91%) saturate(2593%) hue-rotate(194deg) brightness(96%) contrast(99%);
}

.updates-found {
    display: none;
    color: #067f39;
    font-weight: 600;
    font-size: 12px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.updates-found.show {
    display: inline-block;
}

.updates-found.fade {
    opacity: 0;
}

.upgrade-info {
    cursor: pointer;
    display: none;
}

.upgrade-info:hover {
    opacity: 0.8;
}

.upgrade-info.show {
    display: inline-block;
    padding: 6px;
    margin-top: 8px;
}

#schedule-time {
    margin-bottom: 0;
}

.schedule-select {
    font-size: 12px;
    padding: 4px 8px;
    padding-top: 3px;
    padding-left: 6px;
    margin-left: 10px;
    border: 1px solid var(--primary-dark);
    background: #fff;
    color: var(--primary-dark);
    font-weight: 600;
    cursor: pointer;
    width: 148px;
    flex-shrink: 0;
}

.config-save-button {
    margin-top: 16px;
    background: var(--primary-dark);
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 12px;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    box-shadow: none !important;
    text-shadow: none !important;
}

.config-save-button:hover {
    background: var(--primary-dark);
    color: var(--white);
    box-shadow: none;
    text-shadow: none;
}

.logs-section {
    margin-top: 32px;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: relative;
}

.logs-section.show {
    opacity: 1;
}

.audit-log-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 12px;
}

.audit-log-entry {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background: var(--background-light);
    width: fit-content;
}

.audit-log-entry.fade-in {
    animation: fadeIn 0.5s ease-in;
}

.audit-log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.audit-log-time {
    color: #333;
    font-size: 13px;
    text-align: left;
    font-weight: 600;
    flex: 1;
    cursor: help;
}

.audit-log-type {
    font-weight: 600;
    color: var(--primary-dark);
    padding: 4px 8px;
    background: var(--white);
    font-size: 12px;
    flex: 0 0 auto;
}

.audit-log-version-row {
    display: flex;
    gap: 8px;
    font-size: 13px;
}

.audit-log-label {
    min-width: 50px;
    font-weight: 400;
    color: #333;
}

.audit-log-version {
    font-family: monospace;
    color: #333;
}

.audit-log-empty {
    color: #333;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
